<style type="text/css">
#miniCart .head {
    background: none repeat scroll 0 0 #eee;
    height: 18px;
    margin-left: 4px;
    padding: 2px 0 2px 10px;
    width: 278px;
}
#miniCart .wrap {
    padding: 6px 0 0 8px;
    position: relative;
}
#miniCart .head .amount {
    right: 25px;
    top: 2px;
}
#miniCart .amount {
    color: #333;
    position: absolute;
    right: 25px;
    top: 0;
    width: auto;
}
#miniCart .items li {
    float: left;
    padding: 0;
    position: relative;
    width: 100%;
    margin: 0;
}
.nav-btn-container{
    display: none;
    visibility: hidden;
}
</style>

<?php echo $this->getMessagesBlock()->getGroupedHtml();
      //$this=new Workiverse_Vouchermoney_Block_Payment;
 ?>
<?php 
    
      $order       =$this->getorderdetail();
      $sending_money=$order->getGrandTotal();
      $sub_total    =$order->getData("subtotal");
      $boda_fee     =$this->getBodaFee();
      //$payment     =$order->getPayment();
      //$email       =$payment->getData("puser");
      //$receive     =$this->checkcustomer($email);

 ?>
<div class="account-login from_content" id="step1">
    <div class="page-title">
        <h1><?php  echo Mage::helper('billmoney')->__('PAYMENT ORDER SUMMARY'); ?></h1>
    </div> 
        <?php echo $this->getBlockHtml('formkey'); ?>
    <div class="col2-set">
            <div class="col-3 ">
                <div class="content">
                     <div  class="body clearfix" id="miniCartContent">
											<div id="miniCart" class="">											
											
                                                 <div class="small head wrap">
												Sender’s Account

                                                    <span class="amount">Sender’s Gender</span>
												</div>
                                               	<ol class="small wrap items limit-a">
												
                                                        	<li id="multiitem1" class="itmdet">
                                                                <ul class="item1">
															         <li class="dark">
                                                                        	<span class="name">
                                                                                    <strong> <?php echo  $this->getAffilineEmail(); ?></strong>
                                                                            </span>
                                                                            <span  class="amount">
                                                                                <strong><?php echo $this->getCusterGender(); ?></strong>
                                                                            </span>
                                                                     </li>                                                                     
                                                                </ul>
                                                            </li>
												
                                                </ol>
                                                <div style="clear: both;">&nbsp;</div>
                                                 <div class="small head wrap">
												Sender’s Name 

                                                    <span class="amount">Instructions</span>
												</div>
                                                <ol class="small wrap items limit-a">
												
                                                        	<li id="multiitem1" class="itmdet">
                                                                <ul class="item1">
															         <li class="dark">
                                                                        	<span class="name">
                                                                                   <strong><?php echo  $this->getAffilineName(); ?></strong>
                                                                            </span>
                                                                            <span  class="amount">
                                                                                <strong>Be ready  with the bill details before you proceed.
</strong>
                                                                            </span>
                                                                     </li>                                                                     
                                                                </ul>
                                                            </li>
												
                                                </ol>
                                                <div style="clear: both;">&nbsp;</div>
                                                 <div class="small head wrap">
												Company Name (product owner)
                                                    <span class="amount">Order Number/reference</span>
												</div>
                                                 <ol class="small wrap items limit-a">
												
                                                        	<li id="multiitem1" class="itmdet">
                                                                <ul class="item1">
															         <li class="dark">
                                                                        	<span class="name">
                                                                                <strong><?php echo $this->getSellerName(); ?></strong>
                                                                            </span>
                                                                            <span  class="amount">
                                                                                 <?php echo  $order->getIncrementId(); ?>
                                                                            </span>
                                                                     </li>                                                                     
                                                                </ul>
                                                            </li>
												
                                                </ol>
                                                 <div style="clear: both;">&nbsp;</div>
                                                  <div class="small head wrap">
											     To be sent to account
                      
												</div>
                                                <ol class="small wrap items limit-a">
                                                        	<li id="multiitem1" class="itmdet">
                                                                <ul class="item1">
															         <li class="dark">
                                                                        	<span class="name">
                                                                                    <strong> <?php echo $this->getSellerEmail(); ?></strong>
                                                                            </span>
                                                                           
                                                                     </li>                                                                     
                                                                </ul>
                                                            </li>
												
                                                </ol>
                                                <div style="clear: both;"></div>
                                                 <div class="small head wrap">
											    Due Time
                                                     <span class="amount">Payment Ammount</span>
												</div>
                                                 <ol class="small wrap items limit-a">
												
                                                        	<li id="multiitem1" class="itmdet">
                                                                <ul class="item1">
															         <li class="dark">
                                                                        	<span class="name">
                                                                                    <strong><?php echo  date("d.m.Y"); ?></strong>
                                                                            </span>
                                                                            <?php $totalPrice = Mage::helper('core')->currency($sending_money, true, false); ?>
                                                                             <span  class="amount">
                                                                                <strong> <?php echo  $totalPrice; ?></strong>
                                                                            </span>
                                                                     </li>                                                                     
                                                                </ul>
                                                            </li>
												
                                                </ol>
											   <div style="clear: both;"></div>
                                               
                                                     
											</div>
                                          
							</div>    
                      <!-- text input !-->
                      
                            <div class="buttons-set" id="btn-step2">     
                                     
                                <button type="button" class="button next-step step-1"   title="<?php echo Mage::helper('billmoney')->__('Payment') ?>" name="payment" ><span><span><?php echo $this->__('Accept') ?></span></span></button>
                                <button type="button" onclick="location.href='<?php echo $this->getUrl("checkout/onepage/failure/") ?>'" class="button" title="<?php echo $this->__('Exit') ?>" name="exit" id="exit"><span><span><?php echo $this->__('Exit') ?></span></span></button> 
                            </div>
                      <!--end if !-->            
                </div>
            </div>

        </div>
   
</div>

<div class="account-login from_content" id="step1">
    <div class="page-title">
        <h1><?php  echo Mage::helper('marketplace')->__('MARKETPLACE PAYMENT DETAILS'); ?></h1>
    </div> 
        <?php echo $this->getBlockHtml('formkey'); ?>
    <form  action="#" name="frm-step2"  id="payment-form" method="post" > 
    <div class="col2-set">
            <div class="col-3 ">
                <div class="content">
                     <div  class="body clearfix" id="miniCartContent">
											<div id="miniCart" class="">											
											
                                                <!-- <div class="small head wrap">
												Contact Telephone/email
                                                    <span class="amount">Customer reference number <label style="color: red;">*</label></span>
												</div>
                                               	<ol class="small wrap items limit-a">
												
                                                        	<li id="multiitem1" class="itmdet">
                                                                <ul class="item1">
															         <li class="dark">
                                                                        	<span class="name">
                                                                                   <input  type="text" value=""  name="contact" class="input-text" />
                                                                            </span>
                                                                            <span  class="amount">
                                                                                  <input  type="text" value=""  name="referce" class="input-text required-entry" />
                                                                            </span>
                                                                     </li>                                                                     
                                                                </ul>
                                                            </li>
												
                                                </ol>!-->
                                                <!--<div style="clear: both;">&nbsp;</div>
                                                 <div class="small head wrap">
												Your Names 


                                                    <span class="amount">BILL REFERENCE: <label style="color: red;">*</label>
</span>
												</div>
                                                <ol class="small wrap items limit-a">
												
                                                        	<li id="multiitem1" class="itmdet">
                                                                <ul class="item1">
															         <li class="dark">
                                                                        	<span class="name">
                                                                                   <input  type="text" value=""  name="customer_name" class="input-text" />
                                                                            </span>
                                                                            <span  class="amount">
                                                                               <input  type="text" value=""  name="bill_reference" class="input-text required-entry" />
</strong>
                                                                            </span>
                                                                     </li>                                                                     
                                                                </ul>
                                                            </li>
												
                                                </ol>!-->
                                                <div style="clear: both;">&nbsp;</div>
                                                 <div class="small head wrap">
												Company Name 
                                                    <span class="amount">Order Number/reference</span>
												</div>
                                                 <ol class="small wrap items limit-a">
												
                                                        	<li id="multiitem1" class="itmdet">
                                                                <ul class="item1">
															         <li class="dark">
                                                                        	<span class="name">
                                                                                <strong><?php echo $this->getSellerName(); ?></strong>
                                                                            </span>
                                                                            <span  class="amount">
                                                                                 <?php echo  $order->getIncrementId(); ?>
                                                                            </span>
                                                                     </li>                                                                     
                                                                </ul>
                                                            </li>
												
                                                </ol>
                                                 <div style="clear: both;">&nbsp;</div>
                                                  <div class="small head wrap">
											     To be sent to account

                                                
												</div>
                                                <ol class="small wrap items limit-a">
												
                                                        	<li id="multiitem1" class="itmdet">
                                                                <ul class="item1">
															         <li class="dark">
                                                                        	<span class="name">
                                                                                    <strong><?php echo $this->getSellerEmail(); ?></strong>
                                                                            </span>
                                                                           
                                                                     </li>                                                                     
                                                                </ul>
                                                            </li>
												
                                                </ol>
                                                <div style="clear: both;"></div>
                                                 <div class="small head wrap">
											    Due Time
                                                     <span class="amount">Payment Ammount</span>
												</div>
                                                 <ol class="small wrap items limit-a">
												
                                                        	<li id="multiitem1" class="itmdet">
                                                                <ul class="item1">
															         <li class="dark">
                                                                        	<span class="name">
                                                                                    <strong><?php echo  date("d.m.Y"); ?></strong>
                                                                            </span>
                                                                            <?php $totalPrice = Mage::helper('core')->currency($sending_money, true, false); ?>
                                                                             <span  class="amount">
                                                                                <strong> <?php echo  $totalPrice; ?></strong>
                                                                            </span>
                                                                     </li>                                                                     
                                                                </ul>
                                                            </li>
												
                                                </ol>
											   <div style="clear: both;"></div>
                                               
                                                     
											</div>
                                          
							</div>    
                      <!-- text input !-->
                      
                            <div class="buttons-set">     
                                     
                                <button type="submit" class="button  step-2"  title="<?php echo Mage::helper('billmoney')->__('Payment') ?>" name="payment" ><span><span><?php echo $this->__('Accept') ?></span></span></button>
                                <button type="button" onclick="location.href='<?php echo $this->getUrl("checkout/onepage/failure/") ?>'" class="button " title="<?php echo $this->__('Exit') ?>" name="exit" id="exit"><span><span><?php echo $this->__('Exit') ?></span></span></button> 
                                <div style="clear: both;"></div>
                                <p style="color: red;">*= require field</p>
                            </div>
                      <!--end if !-->            
                </div>
            </div>

        </div>
    </form>   
</div>
 <script type="text/javascript">
        //<![CDATA[
         jQuery("#payment-form").submit(function(event){
             /* stop form from submitting normally */
                event.preventDefault();
                 /* get some values from elements on the page: */
                var $form = jQuery(this),
                    referce=$form.find('input[name="referce"]').val(),
                    bill_reference = $form.find('input[name="bill_reference"]').val(); 
                    if(referce!=""&&referce!="")
                    {
                        ////////
                         var frm_contact=       $form.find('input[name="contact"]').val();
                           jQuery("#frm_contact").val(frm_contact);
                           var frm_customer_name=$form.find('input[name="customer_name"]').val();
                           jQuery("#frm_customer_name").val(frm_customer_name);
                           var frm_referce=$form.find('input[name="bill_reference"]').val();
                           jQuery("#frm_referce").val(frm_referce);
                           var frm_bill_reference=$form.find('input[name="bill_reference"]').val(); 
                           jQuery("#frm_bill_reference").val(frm_bill_reference);
                        ////////
                        nextstep();
                    }
                     
         });
        //]]>
    </script>

<div class="account-login from_content" >
    <div class="page-title">
        <h1><?php echo Mage::helper('marketplace')->__('PAYMENT CONFIRMATION') ?></h1>
    </div>
   
    <form action="<?php echo $this->getPayMentUrl(); ?>" method="post">
       <input type="hidden" value="" name="frm" />
       <input  type="hidden" value="<?php echo $order->getIncrementId(); ?>" name="transaction_id"/>
       <input   type="hidden" value="" name="frm_contact" id="frm_contact"/>
       <input   type="hidden" value="" name="frm_customer_name" id="frm_customer_name"/>
       <input   type="hidden" value="" name="frm_referce" id="frm_referce"/>
       <input   type="hidden" value="" name="frm_bill_reference" id="frm_bill_reference"/>
        <?php echo $this->getBlockHtml('formkey'); ?>
        <div class="col2-set">
            <div class="col-3 ">
                <div class="content">
                          <?php $totalPrice = Mage::helper('core')->currency($sending_money, true, false); ?>
                          <?php $payment  =$order->getPayment(); ?>
                        <h2>
                         Are you sure you wish to pay a BILL of :-
                            
                        </h2>
                          <?php $totalPrice = Mage::helper('core')->currency($sub_total, true, false); ?>
                        <h2><strong>  <?php echo  $totalPrice; ?>  to company  <?php echo $this->getSellerEmail(); ?></strong></h2>
                        <?php if($boda_fee>0): ?>
                          <?php $totalPrice = Mage::helper('core')->currency($boda_fee, true, false); ?>
                         <h2><strong>  <?php echo  $totalPrice; ?>  to company  <?php echo $this->getMainEmail(); ?></strong></h2>
                         <?php endif; ?>
                            <div class="buttons-set">     
                                     
                                
                                <button type="button"  class="button  prev-step" title="<?php echo $this->__('No') ?>" name="back" id="back"><span><span><?php echo $this->__('No') ?></span></span></button> 
                                <button type="submit" class="button step-3" title="<?php echo $this->__('Yes') ?>" name="dopamynet" id="dopayment"><span><span><?php echo $this->__('Yes') ?></span></span></button>
                            </div>
                      <!--end if !-->            
                </div>
            </div>

        </div>
    </form>
</div>
<script type="text/javascript">
        //<![CDATA[
       var dataForm = new VarienForm('payment-form', true);
        //]]>
        jQuery( document ).ready(function() {
          jQuery(".from_content").stepify({
                distribution:[1,1,1]
            });
        });
        function nextstep(){
             jQuery(".stepify-ba-center .next-step").click();
             return false;
        }
</script>