<?php $barcodes = $this->getBarcodeList(); ?>
<form action="<?php echo Mage::getUrl('bodacustomer/bill/index'); ?>" method="post">
    <input class="main-search" name="scanned_barcode_id"  name="scanned_barcode_id"  value="" placeholder="Search" />
    <br/>
    <?php $i = 0; ?>
    <?php foreach ($barcodes as $key => $barcodeItem) { ?>   
        <span><?php echo $barcodeItem[0]['date'] ?></span>
        <?php $cls = 'users' . $i; ?>
        <div id="<?php echo $cls; ?>">
            <ul class="list">
                <?php foreach ($barcodeItem as $key => $item) { ?>
                    <li>
                        <h3 class="name">
                            <a href="<?php echo Mage::getUrl('bodacustomer/bill/search/') . 'barcode/' . $item['barcode'] ?>" ><span class="barcodeItem">
                                    <?php echo $item['barcode']; ?>
                            </a></h3>
                    </li>
                <?php } ?>  
            </ul>
        </div>
        <?php $i++; ?>
    <?php } ?>

</form>
<script>

    var options = {
        valueNames: ['name']
    };


    var userList = new List('users0', options);
    var userList2 = new List('users1', options);
    jQuery('.main-search').on("keyup", function () {
        userList.search(jQuery(".main-search").val());
        userList2.search(jQuery(".main-search").val());
    });


</script>

