<div class="page-title">
    <h1><?php echo $this->__("Your's Bills") ?></h1>
</div>

<div class="col2-set">
    <div class="col-1" style="width: 30%;">
        <div class="box">
            <div class="box-content">
                <form action="<?php echo Mage::getUrl('bodacustomer/index/bills'); ?>" method="post">
                    <div id="users">
                        <input class="search" id="scanned_barcode_id" name="scanned_barcode_id" placeholder="Search" />
                        <button  type="submit" class="button"><span><span><?php echo $this->__('Submit') ?></span></span></button>

                        <ul class="list">

                            <?php $barcodeCollections = Mage::getModel('bodacustomer/barcode')->getCollection() ?>
                            <?php foreach ($barcodeCollections as $barcodeItem) { ?>
                                <li>
                                    <h3 class="barcodeItem"><?php echo $barcodeItem->getBarcode() ?></h3>                               
                                </li>
                            <?php } ?>
                        </ul>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-2" style="width: 58%;">
        <div class="box">
            <div class="box-content">
                <div style="float:left; width: 99%; ">
                    <div class="block-content">
                        <?php echo $this->getLayout()->createBlock('bodacustomer/bills')->setTemplate('bodacustomer/bills/profile.phtml')->toHtml(); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    var options = {
        valueNames: ['barcodeItem']
    };

    var userList = new List('users', options);
</script>
<!--<script>
    jQuery(document).ready(function ($) {
        $('button').click(function () {
            var new_task = $('#scanned_barcode_id').val();
            $('#list').append("<li><a href='#'>" + new_task + "</a></li>");
            $('#scanned_barcode_id').val('');
            return false;
        });
    });
</script>-->