

<div class="page-title">
    <h1><?php echo $this->__('Your Identity Card') ?></h1>
</div>
<div class="col2-set">
    <div class="col-1">
        <div class="box">
            <div class="box-content">
                <div class="fieldset">
                    <input name="form_key" type="hidden" value="8ENkLPFE45X7XcFO">
                    <h2 class="legend"><?php echo $this->__('Account Information') ?></h2>
                    <ul class="form-list">
                        <li class="fields">
                            <div class="customer-name">
                                <div class="field name-firstname">
                                    <label for="firstname" class="required"><em>*</em> <?php echo $this->__('Name')?></label>
                                    <div class="input-box">

                                        <input type="text" id="firstname" name="firstname" value="<?php echo $this->escapeHtml($this->getCustomer()->getName()) ?>" title="First Name" maxlength="255" class="input-text required-entry">
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="field emails">
                                <label for="lastname" class="required"><em>*</em>Email</label>
                                <div class="input-box">
                                    <input type="email" id="email_address" name="email" value="<?php echo $this->escapeHtml($this->getCustomer()->getEmail()) ?>" title="Last Name" maxlength="255" class="input-text required-entry">
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="field phone">
                                <label for="lastname" class="required"><em>*</em>Phone No</label>
                                <div class="input-box">
                                    <input type="text" id="lastname" name="lastname" value="<?php echo $this->escapeHtml($this->getCustomer()->getCustomerMobiles()) ?>" title="Last Name" maxlength="255" class="input-text required-entry">
                                </div>
                            </div>
                        </li>
                        <div class="field name-lastname">
                            <label for="lastname" class="required"><em>*</em><?php echo $this->__('Date of birth'); ?></label>
                            <div class="input-box">
                                <input type="text" id="lastname" name="lastname" value="<?php echo date('Y-m-d', strtotime($this->escapeHtml($this->getCustomer()->getDob()))) ?>" title="Last Name" maxlength="255" class="input-text required-entry">
                            </div>
                        </div>
                        <div class="field name-lastname">
                            <label for="lastname" class="required"><em>*</em><?php echo $this->__('Gender') ?></label>
                            <div class="input-box">
                                <select id="gender" name="gender" title="Gender" class="validate-select">
                                    <option value=""></option>
                                    <option value="1" selected="selected">Male</option>
                                    <option value="2">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="field name-lastname">
                            <label for="license"><?php echo $this->__('Kamome customer') ?> </label>
                            <div class="input-box">
                                <input type="text" value="<?php echo $this->escapeHtml($this->getCustomer()->getKamomeCustomer()) ?>" class="input-text" name="kamome_customer">
                            </div>
                        </div>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="box">
            <div class="box-content">
                <div class="fieldset">
                    <h2 class="legend"><?php echo $this->__('Boda Identity Card') ?></h2>

                    <div class = "block-content">
                        <div class="block block-news">
                            <div class="block-content">

                                <div style="float:left; width: 49%; ">
                                    <img src="<?php echo Mage::helper('bodacustomer')->getCustomerPicture($this->getCustomer()->getKamomeCustomer(), $this->getCustomer()->getDob()) ?>" height="150" width="150">
                                </div>
                                <div style="float:right; width: 49%; ">
                                    <ul>
                                        <li><img src="<?php echo $this->getSkinUrl('magesoul/BodaMoney_Logo_Aug2014.png') ?>" height="50" width="185"></li>
                                        <li>
                                            <span class="date"><?php echo $this->__('Name: ') ?></span>
                                            <?php echo $this->getCustomer()->getName() ?>
                                        </li>
                                        <li>
                                            <span class="date"><?php echo $this->__('ID: ') ?></span>
                                            <?php echo $this->getCustomer()->getKamomeCustomer() ?>
                                        </li>
                                        <li>
                                            <span class="date"><?php echo $this->__('Phone: ') ?></span>
                                            <?php echo $this->getCustomer()->getCustomerMobiles() ?>
                                        </li>
                                        <li>
                                            <span class="date"><?php echo $this->__('DOB: ') ?></span>
                                            <?php echo $date = date('d-m-Y', strtotime($this->getCustomer()->getDob())) ?>
                                        </li>
                                    </ul> 
                                    <div class="clear: both;"></div>
                                </div>
                                <div class="clear: both;"></div>

                            </div>
                            <div class="barcodeImg">
                                <?php $helper = Mage::helper('bodacustomer/barcoder'); ?>

                                <img src="<?php echo $helper->generateBarcode($this->getCustomer()->getKamomeCustomer()); ?>"  height="40">
                                <br>
                                <span><?php echo $this->getCustomer()->getKamomeCustomer() ?></span>
                            </div>

                            <div class="image-upload">
                                <div id="upload-wrapper">
                                    <div align="center">
                                        <form action="<?php echo Mage::getUrl('bodacustomer/index/uploadImg'); ?>" method="POST" enctype="multipart/form-data">
                                            <?php echo $this->getBlockHtml('formkey') ?>
                                            <input type="file" name="profile_image" id="fileToUpload" required="true" >
                                            <input type="submit" value="Upload" id="submit-btn" />                                        
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="send-mail">
                                <form action="<?php echo Mage::getUrl('bodacustomer/index/send'); ?>" method="POST" enctype="multipart/form-data">
                                    <?php echo $this->getBlockHtml('formkey') ?>
                                    <div class="buttons-set">
                                        <button  type="submit" title="<?php echo $this->__('Send Mail') ?>" class="button"><span><span><?php echo $this->__('Send Mail') ?></span></span></button>
                                    </div>
                                </form>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
