<?php $this->proccessOrderUrl(); ?>

<?php $currencySymbol = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?>

<?php
$product_id = 24;
$product = Mage::getModel('catalog/product')
        ->setStoreId(
                Mage::app()
                ->getStore()
                ->getId()
        )
        ->load($product_id);
?>
<div class="col-main">
    <div class="cart">
        <div class="page-title title-buttons">
            <h1><?php echo $this->__('Pay Bill'); ?></h1>
        </div>
        <div class="clear"></div>
        
        <form name="bodacustomerAddCartForm" id="bodacustomerAddCartForm" method="post" action="<?php echo Mage::helper('bodacustomer')->addProductMyCartUrl() ?>">
            <?php echo $this->getBlockHtml('formkey'); ?>
            <input type="hidden" name="product_id" value="<?php echo $product->getId(); ?>" />

            <div class="cart-left">
                <div class="b-bottom"> 
                    <?php /* <a href="javascript:void(0)" class="btn-1"><i class="fa fa-plus"></i> Add Item</a> 
                      <a href="javascript:void(0)" class="btn-2"><i class="fa fa-plus"></i> Scan Item</a>
                      <a href="javascript:void(0)" class="btn-3">Discount Order</a> */ ?>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <table width="100%" border="1" class="data-table cart-table">
                    <tr>
                        <td class="width_1"><?php echo $this->__('Product'); ?></td>
                        <td class="width_2">&nbsp;</td>
                        <td class="width_1"><?php echo $this->__('Qty'); ?></td>
                        <td class="width_3"><?php echo $this->__('Price'); ?></td>
                        <td class="width_4"><?php echo $this->__('Total'); ?></td>
                        <td class="width_1">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="width_1">
                            <img src="<?php echo Mage::helper('catalog/image')->init($product, 'small_image')->resize(50, 50); ?>" alt="<?php echo $product->getName(); ?>"/></td>
                        <td class="width_2"><h2 class="product-name"><a href="#"><?php echo $product->getName(); ?></a></h2>
                            <h2 class="product-name"><?php echo $this->__('SKU'); ?>: <?php echo $product->getSku(); ?></h2>
                        </td>
                        <td class="width_1"><input type="number" name="product_qty" value="1" class="qty-input"/></td>
                        <td class="width_3"><span><?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?></span>
                            <?php $finalPrice = $product->getFinalPrice(); ?>


                            <input type="text" value="<?php echo number_format($product->getFinalPrice(), 2); ?>" name="product_price" class="price-input"/></td>
                        <td class="width_4"><h2 class="product-name"><strong ><?php echo Mage::helper('core')->currency($product->getFinalPrice(), true, false); ?></strong></h2></td>
                        <td class="width_1"><a href="javascript:void(0)"><i class="fa fa-trash" style="font-size:19px; color:#C00;"></i></a></td>
                    </tr>

                </table>
            </div>
            <div class="total-right">
                <?php /* <div class="c-name">
                  <input type="text" placeholder="Customer : Jasmine Mories" readonly/>
                  <a href="javascript:void(0)" class="c-edit">Edit</a> </div>

                 */ ?>
                <div class="clear"></div>
                <div class="amount">
                    <h1><?php echo $this->__('Amount Due') ?>: <?php echo $currencySymbol; ?> <?php echo number_format($product->getFinalPrice(), 2); ?></h1>
                    <h4>Sub-Total: <?php echo Mage::helper('core')->currency($product->getFinalPrice(), true, true); ?></h4>
                    <h4>Discount:-<?php echo Mage::helper('core')->currency(0, true, true); ?></h4>
                    <h4>Tax: (DC) <?php echo Mage::helper('core')->currency(0, true, true); ?></h4>

                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="pay-area"> 
                    <!--<a href="javascript:void(0)" class="btn-a active">Cash</a> 
                    <a href="javascript:void(0)" class="btn-a">Credit Card</a> 
                    <a href="javascript:void(0)" class="btn-a">Split</a> -->
                    <div class="pay-body">
                        <h4>Pay Width Cash</h4>
                        <div class="c-center"><span><strong>Cash Amount: <?php echo $currencySymbol; ?></strong></span>
                            <input type="text" name="cash_amt" value="0.00" class="price-input"/>
                        </div>
                        <a href="javascript:void(0)">Change:<?php echo Mage::helper('core')->currency(0, true, true); ?></a> </div>
                </div>
                <div class="clear"></div>
                <?php if ($product->isSaleable()) { ?>
                    <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo Mage::helper('checkout/cart')->getAddUrl($product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                <?php } else { ?>
                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                <?php } ?>
                <?php /* <button type="submit" class="order-btn"><?php echo $this->__('Process Order'); ?></button> */ ?>
                <div class="clear"></div>
            </div>
        </form>
        <div class="clear"></div>
    </div>
</div>
