<div class="page-title">
    <h1><?php echo $this->__("Your's Bills") ?></h1>
</div>

<?php echo $this->getChildHtml('global_messages') ?>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<div class="customer-section">
    <?php echo $this->getChildHtml('barcodes') ?>
    <div class="order-area">
        <?php echo $this->getChildHtml('info') ?>
        <?php echo $this->getChildHtml('ordershistory') ?>
    </div>
    <div class="clear"></div>
</div>