<?php $helper = Mage::helper('bodacustomer'); ?>
<?php $scanned = $this->getScan(); ?>

<?php $barcodesItems = $this->getScanSummery() ?>


<div class="order-tab">
    <ul id="tabs">
        <li class="active">Order List</li>
        <li>Pay Bill</li>
        <li>Close Day</li>
        <li>Send Money</li>
        <li>Request Money</li>
    </ul>
    <ul id="tab">
        <li class="active">
            <div class="top-filter">
                <div class="drop-left">
                    <label>Set Type</label>
                    <select id="transfer_reason" name="transfer_reason">
                        <option value=""><?php echo $this->__('Select One'); ?></option>
                        <option value="Table1"><?php echo $this->__('Scans'); ?></option>
                        <option value="Table2"><?php echo $this->__('Summary scans'); ?></option>
                        <option value="Table3"><?php echo $this->__('Products filter based on SKU'); ?></option>
                    </select>
                </div>
                <div class="clear"></div>
                <div class="order-table">


                    <table>
                        <tr>
                            <td><img src="image1.jpg" /></td>
                            <td><img src="image1.jpg" /></td>
                            <td><img src="image1.jpg" /></td>
                            <td><img src="image1.jpg" /></td>
                            <td><img src="image1.jpg" /></td>
                        </tr>
                        <tr>
                            <td><img src="image1.jpg" /></td>
                            <td><img src="image1.jpg" /></td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;<td>
                        </tr>
                    </table>

                    <table id="Table3">
                        <thead>
                            <tr>
                                <th with="30%"><?php echo $helper->__('SKU') ?></th>
                                <th with="30%" ><?php echo $helper->__('State') ?></th>
                                <th with="30%"><span><?php echo $helper->__('Action') ?></span></th>
                            </tr>
                        </thead>
                        <?php for ($i = 0; $i < 10; $i++) { ?>
                            <tr>
                                <td><?php echo 'SKU-' . $i; ?></td>
                                <td><?php echo 'Paid'; ?></td>
                                <td><?php echo 'USED'; ?></td>
                            </tr>
                        <?php } ?>
                    </table>

                    <table id="Table2">
                        <thead>
                            <tr>
                                <th with="30%"><?php echo $helper->__('Customer') ?></th>
                                <th with="30%" ><?php echo $helper->__('Scanner') ?></th>
                                <th with="30%"><span><?php echo $helper->__('Total number') ?></span></th>
                            </tr>
                        </thead>
                        <?php foreach ($barcodesItems as $item) { ?>
                            <tr>
                                <td><?php echo $item->getBarcode(); ?></td>
                                <td><?php echo $item->getSellerName(); ?></td>
                                <td><?php echo $item->getScannedCount() ?></td>
                            </tr>
                        <?php } ?>
                    </table>

                    <table id="Table1">
                        <thead>
                            <tr>
                                <th with="30%"><?php echo $helper->__('Customer ID') ?></th>
                                <th with="30%" ><?php echo $helper->__('Name') ?></th>
                                <th with="30%"><span><?php echo $helper->__('Time') ?></span></th>
                            </tr>
                        </thead>
                        <?php foreach ($scanned as $item) { ?>
                            <tr>
                                <td><?php echo $item->getBarcode(); ?></td>
                                <td><?php echo $item->getSellerName(); ?></td>
                                <td><?php echo $item->getCreatedAt() ?></td>
                            </tr>
                        <?php } ?>
                    </table>

                </div>
            </div>
        </li>
    </ul>
</div>   

<script type="text/javascript">
    window.onload = function () {
        var eSelect = document.getElementById('transfer_reason');
        var selVal;
        hideTables();
        eSelect.onchange = function () {
            hideTables();
            selVal = eSelect[eSelect.selectedIndex].value;
            document.getElementById(selVal).style.display = "block";
        }

    }

    function hideTables() {
        var tables = document.getElementsByTagName("table");
        for (var x = 0; x < tables.length; x++) {
            tables[x].style.display = "none";
            tables[x].style.width = "100%";
        }
    }
</script>

