<?php $formdata = Mage::registry('EM_CUSTOMER_DATA'); ?>
<table id="table-bodacustomer-emails" class="table-bodacustomer-emails border">
    <thead>
        <tr  class="heading">
            <th></th>
            <th></th>
        </tr>
    </thead>
    <?php $i = 0; ?>
    <?php if (isset($formdata['emails']) && count($formdata['emails']) > 0): ?>
        <tbody>
            <?php foreach ($formdata['emails'] as $e): ?>
                <?php if ($e && $e != ''): ?>
                    <tr class="bodacustomer-emails">
                        <td class="value">
                            <?php $i++;
                            $n = "emails[$i]" ?>
                            <input type="text" name="<?php echo $n ?>" value="<?php echo $e ?>" class="input-text validate-email required-entry" />
                        </td>
                        <td>            
                            <button class="remove-email scalable delete icon-btn" title="Remove"><span><?php echo $this->__('Remove') ?></span></button>
                        </td>
                    </tr>    
                <?php endif ?>
        <?php endforeach; ?>
        </tbody>
<?php endif ?>
    <tfoot>
        <tr class="bodacustomer-emails bodacustomer-emails-add last a-right">
            <td colspan="2">
                <button type="button" class="add-email scalable add" id="add-email" title="Add Email"><span><?php echo $this->__('Add Email') ?></span></button>
            </td>
        </tr>
        <tr id="bodacustomer-emails-hidden" style="display:none">
            <td class="value">            
                <input type="text" name="" class="input-text" />
            </td>
            <td>            
                <button class="remove-email delete icon-btn scalable" title="Remove"><span><?php echo $this->__('Remove') ?></span></button>
            </td>
        </tr>        
    </tfoot>
</table>
<?php $customer = Mage::registry('current_customer') ?>
<input type="hidden" name="account[emails_hidden]" value="<?php echo $customer->getData('customer_emails') ?>"/>
<script type="text/javascript">
    var email_i = <?php echo $i ?>;
    Event.observe('add-email', 'click', function() {
        hidden_tr = '<tr class="bodacustomer-emails">';
        hidden_tr = hidden_tr + jQuery('#bodacustomer-emails-hidden').html() + '</tr>';
        jQuery('#table-bodacustomer-emails tbody tr').last().after(hidden_tr);
        email_i++;
        en = 'emails[' + email_i + ']';
        jQuery('#table-bodacustomer-emails tbody tr').last().find('td input[type="text"]').attr('name', en).addClass('validate-email required-entry');
    });
    jQuery('button.remove-email').live('click', function(e) {
        e.preventDefault();
        jQuery(this).closest('tr').find('td input').remove();
        jQuery(this).closest('tr').hide();
    });
</script>


