<?php $formdata = Mage::registry('EM_CUSTOMER_DATA'); ?>
<table id="table-bodacustomer-mobiles" class="table-bodacustomer-mobiles border">
    <thead>
        <tr  class="heading">
            <th></th>
            <th></th>
        </tr>
    </thead>    
    <tbody>
        <tr></tr>
    <?php $i = 0; ?>
    <?php if (isset($formdata['mobiles']) && count($formdata['mobiles']) > 0): $i = 0; ?>
        <?php foreach ($formdata['mobiles'] as $m): ?>
            <?php if ($m && $m != ''): ?>
                <tr class="bodacustomer-mobiles">
                    <td class="value">      
                        <?php $i++;
                        $n = "mobiles[$i]" ?>
                        <input type="text" name="<?php echo $n ?>" value="<?php echo $m ?>" class="input-text validate-mobile required-entry" />
                    </td>
                    <td>            
                        <button class="remove-mobile scalable delete icon-btn" title="Remove"><span><?php echo $this->__('Remove') ?></span></button>
                    </td>
                </tr>    
            <?php endif ?>
        <?php endforeach; ?>
<?php endif ?>    
    </tbody>
    <tfoot>
        <tr class="bodacustomer-mobiles bodacustomer-mobiles-add last a-right">
            <td colspan="2">
                <button type="button" class="add-mobile add scalable" id="add-mobile" title="Add Mobile"><span><?php echo $this->__('Add Mobile') ?></span></button>
            </td>
        </tr> 
        <tr id="bodacustomer-mobiles-hidden" style="display:none">
            <td class="value">
                <input type="text" name="" class="input-text" />
            </td>
            <td>
                <button class="remove-mobile delete icon-btn scalable " title="Remove"><span><?php echo $this->__('Remove') ?></span></button>
            </td>
        </tr>    
    </tfoot>
</table>
<?php $customer = Mage::registry('current_customer') ?>
<input type="hidden" name="account[mobiles_hidden]" value="<?php echo $customer->getData('customer_mobiles') ?>"/>
<script type="text/javascript">
    var mobile_i = <?php echo $i ?>;
    Event.observe('add-mobile', 'click', function() {
        hidden_tr = '<tr class="bodacustomer-mobiles">';
        hidden_tr = hidden_tr + jQuery('#bodacustomer-mobiles-hidden').html() + '</tr>';
        jQuery('#table-bodacustomer-mobiles tbody tr').last().after(hidden_tr);
        mobile_i++;
        mn = 'mobiles[' + mobile_i + ']';
        jQuery('#table-bodacustomer-mobiles tbody tr').last().find('td input[type="text"]').attr('name', mn).addClass('validate-mobile required-entry');
    });
    jQuery('button.remove-mobile').live('click', function(e) {
        e.preventDefault();        
        jQuery(this).closest('tr').find('td input').remove();
        jQuery(this).closest('tr').hide();
    });
</script>
