<!--@subject Password Reset Confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token _query_email=$customer.email":"Reset Password URL"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
    <div style="background: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
        <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top" style="padding: 20px 0 20px 0">
                    <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <tr>
                            <td valign="top">
                                <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <h1 style="font-size:14px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Guten Tag {{htmlescape var=$customer.name}},</h1>
                                <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Sie haben kürzlich ein neues Passwort für Ihr Konto angefordert.</p>
                                <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Wenn Sie das Passwort ändern möchten,
                                klicken Sie auf den folgenden Link um das Passwort zurückzusetzen:
                                <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token _query_email=$customer.email}}" style="color:#1E7EC8;">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token _query_email=$customer.email}}</a></p>
                                <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Sollte der Link nicht funktionieren, kopieren Sie die angegebene URL manuell in die Adresszeile Ihres Browsers.</p>
                                <br />
                                <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Wenn Sie kein neues Passwort angefordert haben, ignorieren Sie bitte diese Nachricht. Ihr bestehendes Passwort bleibt dadurch unverändert.</p>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Vielen Dank für Ihr Vertrauen! <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
