<!--@subject {{var store.getFrontendName()}}: Sublogin order #{{var sublogin.order_increment_id}} required an approval @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$sublogin.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$sublogin.id _query_token=$sublogin.rp_token _query_email=$sublogin.email":"Reset Password URL"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
    <div style="background: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;">
        <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
            <tr>
                <td align="center" valign="top" style="padding: 20px 0 20px 0">
                    <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                        <tr>
                            <td valign="top">
                                <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}" border="0"/></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <h1 style="font-size: 22px; font-weight: normal; line-height: 22px; margin: 0 0 11px 0;">Hello {{htmlescape var=$sublogin.customer_name}},</h1>
                                <p style="font-size: 12px; line-height: 16px; margin: 0 0 8px 0;">You are getting this email alert because your sublogin {{htmlescape var=$sublogin.lastname}} {{htmlescape var=$sublogin.lastname}}  placed an order. And this order requires your approval.</p>
                            
                                <p style="font-size: 12px; line-height: 16px; margin: 0 0 8px 0;">You can approve or decline this order by visiting this page: <a href="{{store url=""}}sales/order/view/order_id/{{var sublogin.order_id}}" target="_blank">My Orders</a></p>
                                
                                <p style="font-size: 12px; line-height: 16px; margin: 0;">
									Please contact us by either email {{config path='trans_email/ident_support/email'}} or phone by dialling {{config path='general/store_information/phone'}}.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color: #EAEAEA; text-align: center;"><p style="font-size:12px; margin:0; text-align: center;">Thank you very much for placing your trust in us! <strong>{{var store.getFrontendName()}}</strong></p></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
