
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div class="fancy product-view">
    <div class="product-essential">
    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>

	
	
        <div class="product-shop">
	    <div class="page-title">
                <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
	    </div>
	    <div class="product-image">
		<a href="#" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->constrainOnly(true)->keepAspectRatio(true)->resize(270,271); ?>" width="270" height="271" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
    	    </div>
	    <div class="product-content">
    		<?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
		
		<?php echo $this->getChildHtml('product_type_data') ?>
		<div style="clear: both;"></div>
		
		
		
		<?php if ($_product->getShortDescription()):?>
                <div class="short-description">
                    <h2><?php echo $this->__('Quick Overview') ?></h2>
                    <div class="std"><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?></div>
                </div>
            <?php endif;?>
			    
    		<?php if (!$this->hasOptions()):?>
		    <div class="add-to-box">
			<?php if($_product->isSaleable()): ?>
			    <?php echo $this->getChildHtml('addtocart') ?>
			<?php endif; ?>
		    </div>
		<?php endif; ?>
	    
    		        
		<?php if ($_product->isSaleable() && $this->hasOptions()):?>
		    <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
		<?php endif;?>
	    
		<div class="clearer"></div>
		<?php if ($_product->isSaleable() && $this->hasOptions()):?>
		    <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
		<?php endif;?>
		
		
		
	    </div>
        </div>
        
    </form>
    <script type="text/javascript">
    //<![CDATA[
    jQuery.noConflict();
        var productAddToCartForm = new VarienForm('product_addtocart_form');
    	productAddToCartForm.submit = function(button, url) {
		if (this.validator.validate()) {
			var form = this.form;
			var oldUrl = form.action;
			if (url) {
				form.action = url;
			}
			var e = null;
			// Start of our new ajax code
			if (!url) {
				url = jQuery('#product_addtocart_form').attr('action');
			}
			url = url.replace("checkout/cart","ajax/index"); // New Code
			var data = jQuery('#product_addtocart_form').serialize();
			data += '&isAjax=1';
			jQuery('#ajax_loader').show();
			try {
				jQuery.ajax( {
					url : url,
					dataType : 'json',
					type : 'post',
					data : data,
					success : function(data) {
						jQuery('#ajax_loader').hide();
						
                        parent.setAjaxData(data,true);
					}
				});
			} catch (e) {
			}
			// End of our new ajax code
			this.form.action = oldUrl;
			if (e) {
				throw e;
			}
		}
	}.bind(productAddToCartForm);
    productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
    //]]>
    </script>
    </div>
</div>