<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Booking
 * @version    1.4.4
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><h4><?php echo $this->__("Day details")?></h4>
<div id="aw_booking_timetable">
    <?php echo $this->getFromToHtml($this->getDate()) ?>
</div>
<table class="aw_booking_legend" >
    <tr>
        <td><div class="legend free"></div><?php echo $this->__('Free time')?></td>
        <td><div class="legend busy"></div><?php echo $this->__('Busy time')?></td>
    </tr>
</table>