<?php
var_dump(Mage::getSingleton('core/session')->getKamomeCustomerAttributeId());

$orders = Mage::getResourceModel('sales/order_collection')
        ->addAttributeToSelect('*')
        ->addAttributeToFilter('customer_id', Mage::getSingleton('core/session')->setKamomeCustomerAttributeId())
        //->addAttributeToFilter('state', array('in' => Mage::getSingleton('sales/order_config')->getVisibleOnFrontStates()))
        ->addAttributeToSort('created_at', 'desc');


foreach ($orders as $order) {
    var_dump($order);
}
?>


<!--
<div class="my-account">
    <div class="page-title">
        <h1><?php echo $this->__('Orders') ?></h1>
    </div>
    <p><?php echo $this->__('You have placed no orders.') ?></p>
</div>
-->


<div id="history" class="box-account box-info box-customercredit-history">
    <div class="data-table-div">
        <table class="data-table" id="transactions-history-new">
            <col class="id" />
            <col class="points" />
            <col class="title" />
            <col class="date" />
            <col class="expired" />
            <thead>
                <tr>
                    <th style="width: 75px;"><?php echo $this->__('Date') ?></th>
                    <th><?php echo $this->__('Transaction Type') ?></th>
                    <th><?php echo $this->__('Shillings') ?></th>
                    <th><?php echo $this->__('Sender/Receiver') ?></th>
                    <th><?php echo $this->__('Reference') ?></th>
                </tr>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            </thead>
        </table>
        <?php echo $this->getPagerHtml() ?>
        <script type="text/javascript">decorateTable('transaction_id');</script>
    </div>
    <div class="box-bottom">
    </div>
</div>
