<?php $formdata = Mage::registry('EM_session_formdata'); ?>
<?php $isLoggedIn = Mage::getSingleton('customer/session')->isLoggedIn() ?>
<?php $isLoggedIn = false; ?>
<?php if ($isLoggedIn): ?>
    <div class="control">
        <input type="checkbox" name="change_mobiles" id="change_mobiles" value="1" onclick="setMobilesForm(this.checked)" title="<?php echo $this->__('Change Emails') ?>" class="checkbox" /><label for="change_mobiles"><?php echo $this->__('Change Mobile Number') ?></label>
    </div>
<?php else: ?>
    <label class="required"><?php echo $this->__('Mobile Number (Put all your mobile numbers you want to link)') ?></label>
<?php endif ?>
<table id="table-bodacustomer-mobiles" class="table-bodacustomer-mobiles">
    <tbody <?php if($isLoggedIn): ?>style="display:none"<?php endif ?>>
    <tr></tr>
    <?php $i = 0; ?>
    <?php if (isset($formdata['mobiles']) && count($formdata['mobiles']) > 0): ?>
        <?php foreach ($formdata['mobiles'] as $m): ?>
            <?php if ($m && $m != ''): ?>
                <tr>
                    <td>
                        <?php $i++; $n = "mobiles[$i]" ?>
                        <input type="text" name="<?php echo $n ?>" value="<?php echo $m ?>" class="input-text validate-mobile required-entry" />
                        <input type="button" class="remove-mobile" value="Remove" title="Remove"/>
                    </td>
                </tr>
            <?php endif ?>
        <?php endforeach; ?>
    <?php endif ?>
    </tbody>
    <tfoot>
    <tr class="bodacustomer-mobiles bodacustomer-mobiles-add last">
        <td>
            <input type="button" class="add-mobile" id="add-mobile" value="Add Mobile" title="Add Mobile"/>
        </td>
    </tr>
    <tr id="bodacustomer-mobiles-hidden" style="display:none">
        <td>
            <input type="text" name="mobiles[]" value="" class="input-text validate-mobile required-entry" />
            <input type="button" class="remove-mobile" value="Remove" title="Remove"/>
        </td>
    </tr>
    </tfoot>
</table>
<script type="text/javascript">
    var mobile_i = <?php echo $i ?>;
    Event.observe('add-mobile', 'click', function() {
        hidden_tr = '<tr class="bodacustomer-mobiles">';
        hidden_tr = hidden_tr + jQuery('#bodacustomer-mobiles-hidden').html() + '</tr>';
        jQuery('#table-bodacustomer-mobiles tbody tr').last().after(hidden_tr);
        mobile_i++;
        mn = 'mobiles[' + mobile_i + ']';
        jQuery('#table-bodacustomer-mobiles tbody tr').last().find('td input[type="text"]').attr('name', mn).addClass('validate-mobile required-entry');
    });
    jQuery('input[type="button"].remove-mobile').live('click', function(e) {
        jQuery(this).closest('tr').remove();
        tr_obj = jQuery('#table-bodacustomer-mobiles tr.bodacustomer-mobiles');
    });
    function setMobilesForm(arg) {
        if (arg) {
            jQuery('#table-bodacustomer-mobiles tbody tr input[type="text"]').each(function(){
                jQuery(this).addClass('required-entry');
            });
            jQuery('#table-bodacustomer-mobiles tbody').show();
        } else {
            jQuery('#table-bodacustomer-mobiles tbody tr input[type="text"]').each(function(){
                jQuery(this).removeClass('required-entry');
            });
            jQuery('#table-bodacustomer-mobiles tbody').hide();
        }
    }
</script>


