<?php $formdata = Mage::registry('EM_session_formdata'); ?>
<?php $isLoggedIn = Mage::getSingleton('customer/session')->isLoggedIn() ?>
<?php $isLoggedIn = false; ?>
<?php if ($isLoggedIn): ?>
    <div class="control">
        <input type="checkbox" name="change_mobiles" id="change_mobiles" value="1" onclick="setMobilesForm(this.checked)" title="<?php echo $this->__('Change Emails') ?>" class="checkbox" /><label for="change_mobiles"><?php echo $this->__('Change Mobile Number') ?></label>
    </div>
<?php else: ?>
    <label class="required"><?php echo $this->__('Mobile Number (Put all your mobile numbers you want to link)') ?></label>
<?php endif ?>

<table id="table-bodacustomer-mobiles" class="table-bodacustomer-mobiles">
    <tbody <?php if($isLoggedIn): ?>style="display:none"<?php endif ?>>
    <?php $i = 0; ?>
    <?php if (isset($formdata['mobiles']) && count($formdata['mobiles']) > 0): ?>
        <?php foreach ($formdata['mobiles'] as $pos=> $m): ?>
            <?php if ($m && $m != ''): ?>
            <?php $pos=explode("-",$m); ?>
            <?php $temp =explode("|",$pos[1]);
                  $country=$pos[0];  
                  if(count($temp)>0){
                     $phone =$temp[0];
                     $app   =$temp[1];
                  }else{
                     $phone  =$pos[1];
                     $app    =""; 
                      
                  }
            
             ?>
                <tr class="bodacustomer-mobiles">
                    <td>
                      <div class="input-box"  <?php if($isLoggedIn): ?>style="display:none"<?php else: ?>style="width: 330px;"<?php endif ?>>
                            <?php $coutry_code=$formdata['country_code'][$pos]; ?>
                            <?php $i++; $n = "mobiles[$i]";$c="country_code[$i]";$a="app[$i]"; ?>
                            
                            <table >
                                <tr>
                                    <td><label for="country_code" class="required"><?php echo $this->__('Country code') ?></label></td>
                                    <td colspan="2"><label for="area_code" class="required"><?php echo $this->__('Area code and phone number') ?><em>*</em></label></td>
                                </tr>
                                <tr>
                                    <td><input  type="text"  value="<?php echo $country;  ?>" name="<?php echo $c; ?>" id="country_code" class="country_code country-code   required-entry" title="<?php echo $this->__('Country code') ?>" /></td>
                                    <td><input  type="text" name="<?php echo $n ?>" value="<?php echo $phone; ?>" class="phone_number country-phone required-entry validate-mobile" />
                                    </td>
                                    <td>
                                    <select style="width: 100px; height: 28px; margin-left: 10px;" class="app"  name="<?php echo $a; ?>"><option value="whatapp" <?php if($app=="whatapp"): ?> selected="selected" <?php endif; ?>>WhatApp</option><option value="telegram" <?php if($app=="telegram"): ?> selected="selected" <?php endif; ?>>Telegram</option></select>
                                    </td>
                                </tr>
                                <tr>
                                 
                                </tr>
                            </table>
    
                            <input type="button" class="remove-mobile" value="Remove" title="Remove"/>
                        </div>
                    </td>
                </tr>
            <?php endif ?>
        <?php endforeach; ?>
    <?php endif ?>
    </tbody>
    <tfoot>
    <tr class="bodacustomer-mobiles bodacustomer-mobiles-add last">
        <td>
            <input type="button" class="add-mobile" id="add-mobile" value="Add Mobile" title="Add Mobile"/>
        </td>
    </tr>
    <tr id="bodacustomer-mobiles-hidden" style="display:none">
        <td>
            <div class="input-box" style="width: 330px;">
                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('block_country')->toHtml() ?>               
                
                <table >
                    <tr>
                        <td><label for="country_code" class="required"><?php echo $this->__('Country code') ?></label></td>
                        <td colspan="2"><label for="area_code" class="required"><?php echo $this->__('Area code and phone number') ?><em>*</em></label></td>
                    </tr>
                    <tr>
                        <td><input readOnly="readOnly" type="text"  value="<?php  ?>" name="country_code[]" id="country_code" class="country_code country-code required-entry" title="<?php echo $this->__('Country code') ?>" /></td>
                        <td><input name="mobiles[]" autocomplete="off" type="text"   id="phone_number" class="phone_number country-phone required-entry" title="<?php echo $this->__('Area code and phone number') ?>" /></td>
                         </td>
                          <td>
                        <select style="width: 100px; height: 28px; margin-left: 10px;" class="app"><option value="whatapp">WhatApp</option><option value="telegram">Telegram</option></select>
                        </td>
                    </tr>
                </table>

                <!--<input type="text" name="mobiles[]" value="" class="input-text validate-mobile required-entry" />!-->
                <input type="button" class="remove-mobile" value="Remove" title="Remove"/>
        </td>
    </tr>
    </tfoot>
</table>
<script type="text/javascript">
    var mobile_i = <?php echo $i ?>;
    Event.observe('add-mobile', 'click', function() {

        hidden_tr = '<tr class="bodacustomer-mobiles">';
        hidden_tr = hidden_tr + jQuery('#bodacustomer-mobiles-hidden').html() + '</tr>';
        //jQuery('#table-bodacustomer-mobiles tbody tr').last().after(hidden_tr);

        jQuery('#table-bodacustomer-mobiles tbody:first').append(hidden_tr);
        //////
        mobile_i++;
        mn = 'mobiles[' + mobile_i + ']';
        cc = 'country_code[' + mobile_i + ']';
        aa ='app[' + mobile_i + ']';
        ///console.log(jQuery('#table-bodacustomer-mobiles tbody:first  tr.bodacustomer-mobiles').last().html());
        //jQuery('#table-bodacustomer-mobiles tbody tr').last().find('td  input[type="text"]').attr('name', mn).addClass('validate-mobile required-entry');
        jQuery('#table-bodacustomer-mobiles tbody:first  tr.bodacustomer-mobiles').last().find('.phone_number').attr('name', mn).addClass('validate-mobile required-entry');
        jQuery('#table-bodacustomer-mobiles tbody:first  tr.bodacustomer-mobiles').last().find('.country_code').attr('name', cc).addClass('validate-mobile required-entry');
        jQuery('#table-bodacustomer-mobiles tbody:first  tr.bodacustomer-mobiles').last().find('.app').attr('name', aa);
        
        
        jQuery('#table-bodacustomer-mobiles tbody:first  tr.bodacustomer-mobiles').last().find('select.country').attr("id","country"+mobile_i);
        jQuery('#table-bodacustomer-mobiles tbody:first  tr.bodacustomer-mobiles').last().find('.country_code').attr('id',"country_code"+mobile_i);
        jQuery('#table-bodacustomer-mobiles tbody:first  tr.bodacustomer-mobiles').last().find('select.country').attr('tabindex',mobile_i);
        /////
        var code=jQuery('#table-bodacustomer-mobiles tbody:first  tr.bodacustomer-mobiles').last().find('select.country').val();
        code    ="+"+code;
        jQuery('#table-bodacustomer-mobiles tbody:first  tr.bodacustomer-mobiles').last().find('.country_code').val(code);
        jQuery("#country"+mobile_i).on("change",function(){
            var value= jQuery(this).val();
            var id=  jQuery(this).attr("tabindex");
            jQuery("#country_code"+id).val("+"+value);
        });
        //jQuery('#table-bodacustomer-mobiles tbody:first  tr.bodacustomer-mobiles').last().find('select.country').change(function(){
        //    var c-code=jQuery(this).val();
        ///        c-code="+"+c-code;
        ///        jQuery('#table-bodacustomer-mobiles tbody:first  tr.bodacustomer-mobiles').last().find('.country_code').val(c-code);
        //});
    });
    jQuery('input[type="button"].remove-mobile').live('click', function(e) {
        jQuery(this).closest('tr').remove();
        tr_obj = jQuery('#table-bodacustomer-mobiles tr.bodacustomer-mobiles');
    });
    function setMobilesForm(arg) {
        if (arg) {
            jQuery('#table-bodacustomer-mobiles tbody tr input[type="text"]').each(function(){
                jQuery(this).addClass('required-entry');
            });
            jQuery('#table-bodacustomer-mobiles tbody').show();
        } else {
            jQuery('#table-bodacustomer-mobiles tbody tr input[type="text"]').each(function(){
                jQuery(this).removeClass('required-entry');
            });
            jQuery('#table-bodacustomer-mobiles tbody').hide();
        }
    }
</script>


