#reset_pin1_radio_mobile,#reset_pin1_radio_email{width: auto; margin: 0 10px 0 0; float:left; height: 19px;}
.emails-mobiles label {}
.emails-mobiles table{width:100%; float:left; margin-bottom:15px;}
.emails-mobiles table td{padding-bottom:5px; position:relative;}
.emails-mobiles table .remove-email,.emails-mobiles table .remove-mobile{width:25px; height:25px; background:#f6da0e url(../../images/delete.png) no-repeat center center; border:0 none; text-indent:-999px; overflow:hidden; text-transform:uppercase; position:absolute; left:265px; top:2px; cursor:pointer;}
.emails-mobiles table .add-email,.emails-mobiles table .add-mobile{width:25px; height:25px; background:#f6da0e url(../../images/plus.png) no-repeat center center;; border:0 none; padding:5px 10px; color:#fff; text-indent:-999px; overflow:hidden; text-transform:uppercase;cursor:pointer;}
.emails-mobiles table .add-email:hover,.emails-mobiles table .add-mobile:hover,.emails-mobiles table .remove-email:hover,.emails-mobiles table .remove-mobile:hover{ background-color:#383838;}
.bodacustomer-pin ul{float:left; width:100%; margin-bottom:10px;}
.bodacustomer-pin ul li {float: left; margin:0 1px 1px 0; position:relative;}
.bodacustomer-pin ul li:nth-child(6){clear:both;}
.boda-pin-images{cursor:pointer}
.deletePin{background:#f6da0e; color:#fff; border:0; padding:0; margin:0; height:auto; padding:3px 10px 5px 10px; margin-bottom:10px; float:left;}
.deletePin:hover{background:#383838;}
.deletePin[disabled]{background:#ddd; color:#999;}

.bodacustomer-pin ul li span{position:absolute; right:1px; bottom:1px; height:16px; width:16px; font-size:10px; line-height:16px; color:#000; text-align:center; background:#f6da0e; border-radius:16px; -webkit-border-radius:16px;}

#register-customer-password li{margin:0 1px 1px 0;}
.onepagecheckout_datafields .col-1 .form_fields #register-customer-password .short{ width:100%;}