<?php  $method = new Workiverse_Sendingmoney_Block_Payment;?>
<div class="page-head">
    <b><?php echo ('Loading secure payment page (SSL)'); ?></b>
<form name="perfectmoney" id="perfectmoney_place_form" action="<?php echo $this->getUrl("gatewaysendingamoney/processing/info");?>" method="POST">
<?php if (is_array($method->getFormData())): ?>
    <?php foreach ($method->getFormData() as $name => $value): ?>
        <input type="hidden" name="<?php echo $name; ?>" value="<?php echo $value; ?>"/>
    <?php endforeach; ?>
<?php endif; ?>
</form>

<script type="text/javascript">
//<![CDATA[
    var paymentform = document.getElementById('perfectmoney_place_form');
    window.onload = paymentform.submit();
//]]>
</script>
</table>
