<style type="text/css">
#miniCart .head {
    background: none repeat scroll 0 0 #eee;
    height: 18px;
    margin-left: 4px;
    padding: 2px 0 2px 10px;
    width: 278px;
}
#miniCart .wrap {
    padding: 6px 0 0 8px;
    position: relative;
}
#miniCart .head .amount {
    right: 25px;
    top: 2px;
}
#miniCart .amount {
    color: #333;
    position: absolute;
    right: 25px;
    top: 0;
    width: auto;
}
#miniCart .items li {
    float: left;
    padding: 0;
    position: relative;
    width: 100%;
    margin: 0;
}
.nav-btn-container{
    display: none;
    visibility: hidden;
}

</style>
<?php $method = $this;
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>
<?php 
      $order       =$method->getorderdetail();
      $sending_money=$order->getGrandTotal();
      $sub_total    =$order->getData("subtotal");
      $boda_fee     =$method->getBodaFee();
      $payment     =$order->getPayment();     
      $email       =$payment->getData("puser");
      $receive     =$method->checkcustomer($email);
      
 ?>
<div class="account-login from_content" id="step1">
    <div class="page-title">
        <h1><?php echo $this->__('PAYMENT ORDER SUMMARY') ?></h1>
    </div> 
        <?php echo $this->getBlockHtml('formkey'); ?>
    <div class="col2-set">
            <div class="col-3 ">
                <div class="content">
                     <div  class="body clearfix" id="miniCartContent">
											<div id="miniCart" class="">											
											
                                                 <div class="small head wrap">
												Receiver’s Account

                                                    <span class="amount">Receiver’s Gender</span>
												</div>
                                               	<ol class="small wrap items limit-a">
												
                                                        	<li id="multiitem1" class="itmdet">
                                                                <ul class="item1">
															         <li class="dark">
                                                                        	<span class="name">
                                                                                    <strong> <?php echo $this->getReceiveEmail(); ?></strong>
                                                                            </span>
                                                                            <span  class="amount">
                                                                                <strong><?php echo $this->getReceiveGender() ?></strong>
                                                                            </span>
                                                                     </li>                                                                     
                                                                </ul>
                                                            </li>
												
                                                </ol>
                                                <div style="clear: both;">&nbsp;</div>
                                                 <div class="small head wrap">
												Receiver’s Name 

                                                    <span class="amount">Message to receiver </span>
												</div>
                                                <ol class="small wrap items limit-a">
												
                                                        	<li id="multiitem1" class="itmdet">
                                                                <ul class="item1">
															         <li class="dark">
                                                                        	<span class="name">
                                                                                   <strong> <?php echo  $method->getReceiveName(); ?></strong>
                                                                            </span>
                                                                            <span  class="amount">
                                                                                <strong><?php echo  $method->getMessage(); ?></strong>
                                                                            </span>
                                                                     </li>                                                                     
                                                                </ul>
                                                            </li>
												
                                                </ol>
                                                <div style="clear: both;">&nbsp;</div>
                                                 <div class="small head wrap">
												Affiliate (sender’s) Name
                                                    <span class="amount">Order Number/reference</span>
												</div>
                                                 <ol class="small wrap items limit-a">
												
                                                        	<li id="multiitem1" class="itmdet">
                                                                <ul class="item1">
															         <li class="dark">
                                                                        	<span class="name">
                                                                                <?php echo  $method->getAffilineName(); ?>
                                                                            </span>
                                                                            <span  class="amount">
                                                                                 <?php echo  $method->getorderdetail()->getIncrementId(); ?>
                                                                            </span>
                                                                     </li>                                                                     
                                                                </ul>
                                                            </li>
												
                                                </ol>
                                                 <div style="clear: both;">&nbsp;</div>
                                                  <div class="small head wrap">
											    To be paid from account
                                                   
												</div>
                                                <ol class="small wrap items limit-a">
												
                                                        	<li id="multiitem1" class="itmdet">
                                                                <ul class="item1">
															         <li class="dark">
                                                                        	<span class="name">
                                                                                    <strong><?php echo  $method->getAffilineEmail(); ?></strong>
                                                                            </span>
                                                                           
                                                                     </li>                                                                     
                                                                </ul>
                                                            </li>
												
                                                </ol>
                                                <div style="clear: both;"></div>
                                                 <div class="small head wrap">
											    Due Time
                                                     <span class="amount">Payment Ammount</span>
												</div>
                                                 <ol class="small wrap items limit-a">
												
                                                        	<li id="multiitem1" class="itmdet">
                                                                <ul class="item1">
															         <li class="dark">
                                                                        	<span class="name">
                                                                                    <strong><?php echo  date("d.m.Y"); ?></strong>
                                                                            </span>
                                                                            <?php $totalPrice = Mage::helper('core')->currency($sending_money, true, false); ?>
                                                                             <span  class="amount">
                                                                                <strong> <?php echo  $totalPrice; ?></strong>
                                                                            </span>
                                                                     </li>                                                                     
                                                                </ul>
                                                            </li>
												
                                                </ol>
											   <div style="clear: both;"></div>
                                               
                                                     
											</div>
                                          
							</div>    
                      <!-- text input !-->
                      
                            <div class="buttons-set">     
                                     
                                <button type="submit" class="button btn next-step"  title="<?php echo $this->__('Payment') ?>" name="payment" id="payment"><span><span><?php echo $this->__('Accept') ?></span></span></button>
                                <button type="button" onclick="location.href='<?php echo $this->getUrl("checkout/onepage/failure/") ?>';return;" class="button btn " title="<?php echo $this->__('Exit') ?>" name="exit" id="exit"><span><span><?php echo $this->__('Exit') ?></span></span></button> 
                            </div>
                      <!--end if !-->            
                </div>
            </div>

        </div>
   
</div>

<div class="account-login from_content" >
    <div class="page-title">
        <h1><?php echo $this->__('PAYMENT CONFIRMATION') ?></h1>
    </div>
   
    <form action="<?php echo $method->getSendingUrl(); ?>" method="post" id="payment-form">
        <?php echo $this->getBlockHtml('formkey'); ?>
        <input  type="hidden" value="<?php echo $order->getIncrementId(); ?>" name="transaction_id"/>
        <div class="col2-set">
            <div class="col-3 ">
                <div class="content">
                        
                        <h2>
                         Are you sure you wish to transfer : 
                        </h2>
                          <?php $totalPrice = Mage::helper('core')->currency($sub_total, true, false); ?>
                        <h2><strong>1.<?php echo $totalPrice; ?> to send to <?php echo $method->getReceiveEmail(); ?></strong></h2>
                         <?php $totalPrice = Mage::helper('core')->currency($boda_fee, true, false); ?>
                        <h2><strong>2.<?php echo  $totalPrice; ?> to send to <?php echo $method->getMainEmail(); ?></strong></h2>
                            <div class="buttons-set">     
                                     
                                
                                <button type="button"  class="button btn prev-step" title="<?php echo $this->__('No') ?>" name="back" id="back"><span><span><?php echo $this->__('No') ?></span></span></button> 
                                <button type="submit" class="button" title="<?php echo $this->__('Yes') ?>" name="payment" id="payment"><span><span><?php echo $this->__('Yes') ?></span></span></button>
                            </div>
                      <!--end if !-->            
                </div>
            </div>

        </div>
    </form>
</div>
<script type="text/javascript">
        //<![CDATA[
       var dataForm = new VarienForm('payment-form', true);
        //]]>
        jQuery( document ).ready(function() {
          jQuery(".from_content").stepify({
                distribution:[1,1]
            });
        });
</script>