<script type="text/javascript">
if (typeof jQuery == 'undefined'){
    document.write(unescape("%3Cscript src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
}
</script> 
<style type="text/css">
</style>
<?php 
$helper=Mage::helper('marketplace');
	$isPartner= Mage::getModel('marketplace/userprofile')->isPartner();
	$customerid=Mage::getSingleton('customer/session')->getCustomerId();
	$numbervalidate="input-text validate-number validate-zero-or-greater validate-number-range number-range-0-99999999";
	if($isPartner==1){
	   $rightseller=Mage::getModel('marketplace/userprofile')->isRightSeller($this->getRequest()->getParam('id'));
	   if($rightseller){	
		$urlid = $this->getRequest()->getParam('id');
		$bundled_product = new Mage_Catalog_Model_Product();
        $bundled_product->load($urlid);
        $selectionCollection = $bundled_product->getTypeInstance(true)->getSelectionsCollection(
        $bundled_product->getTypeInstance(true)->getOptionsIds($bundled_product), $bundled_product
        );
        $bundled_items = array();
        foreach($selectionCollection as $option)
        {
         $bundled_items[] = $option->selection_price_type;
        }
       
       
		$product=Mage::getModel('catalog/product')
						->load($urlid);
		
		$loadpro =Mage::getModel('catalog/product')->load($urlid);
		
	$cat=$loadpro->getCategoryIds();
	$instock =  Mage::getModel('cataloginventory/stock_item')->loadByProduct($urlid)->getIsInStock();				
	$qtyStock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($urlid)->getQty();				
	$categories = Mage::getModel('catalog/category')->getCollection()->addAttributeToSelect('*')->addIsActiveFilter();
	$allcatid = array();
	$k=0;
	foreach($categories as $c){
		$allcatid[$k] = $c->getId();
		$k++;
	}
	$finalcat=array_shift($allcatid);	
	$partner=Mage::getModel('marketplace/userprofile')->getPartnerProfileById($customerid); ?>
	<?php if(($partner['twitterid']=='')||($partner['facebookid']=='')||($partner['bannerpic']=='')||($partner['logopic']=='')||($partner['complocality']=='')||($partner['countrypic']=='')||($partner['compdesi']=='')): ?>
		<div class="wk_profile_alert">
			<strong><?php echo $helper->__('Warning')?>! </strong><?php echo $helper->__('Please Complete')?>
			<a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/editprofile')?>" style="color: inherit;"><?php echo $helper->__('Your Profile')?></a>
			<span class="wk_close">X</span>
		</div>
	<?php endif; ?>
	<form action="<?php echo $this->getUrl('mpbundleproduct/index/editbundle') ?>" enctype="multipart/form-data" method="post" id="form-customer-product-editPost">
		<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
		<div class="page-title">
			<h1 style="float:left;"><?php echo $helper->__('Edit Bundle Product') ?></h1>
			<button class="button wk_mp_btn" title="<?php echo $helper->__('Save') ?>" type="submit" id="save_butn">
				<span><span><?php echo $helper->__('Save') ?></span></span>
			</button>
		</div>		
		<div class="wk_mp_design">
			<div class="block block-account">	
				<div class="block-title">	
					<strong><span><h4><?php echo $helper->__('Bundle Product') ?></h4></span></strong>
				</div>
			</div>
			<div class="fieldset wk_mp_fieldset">
				<input type="hidden" name="productid" value="<?php echo $urlid; ?>" />
				<ul class="form-list" id="wk_bodymain">
					<li>
						<label class="required"><em>*</em><?php echo $helper->__('Product Category') ?>:</label>
						<div class="wk_field wk_category">
							<div class="wk_for_validation">
								<div id="wk_category_label"><?php echo $helper->__("CATEGORIES"); ?></div>
								<?php $Mar_lef = 0;$count = 0;$categories = $loadpro->getCategoryIds();
								$category_helper = Mage::helper("catalog/category");
								$category_model = Mage::getModel("catalog/category");
								$_categories = $category_helper->getStoreCategories();
								$total = count($_categories->getNodes());
							    if($total > 0) {
										foreach($_categories as $_category)	{
												$count++; 
							        if(count($category_model->getResource()->getAllChildren($category_model->load($_category['entity_id'])))-1 > 0){
												if($count <= $total) { ?>
												<div class="wk_cat_container"><span class="wk_plus">
												</span><span class="wk_foldersign"></span>
												<span class="wk_elements wk_cat_name"><?php echo $_category->getName() ?></span>
												<?php if(in_array($_category["entity_id"],$categories)) {?>
												<input onchange='catchanged()' class="wk_elements" type="checkbox" name="category[]" value=<?php echo $_category['entity_id'] ?>  checked > </div>
												<?php }
												else { ?>
												<input onchange='catchanged()' class="wk_elements" type="checkbox" name="category[]" value=<?php echo $_category['entity_id'] ?> > </div>
												<?php } ?>
											<?php	} }
											 else 
											     {
											 ?><div class="wk_cat_container">
												</span><span class="wk_foldersign"></span>
												<span class="wk_elements wk_cat_name"><?php echo $_category->getName() ?></span>
												<?php if(in_array($_category["entity_id"],$categories)) {?>
												<input onchange='catchanged()' class="wk_elements" type="checkbox" name="category[]" value=<?php echo $_category['entity_id'] ?> checked > </div>
												 <?php }
												else { ?>
												<input onchange='catchanged()' class="wk_elements" type="checkbox" name="category[]" value=<?php echo $_category['entity_id'] ?>></div>
												<?php } 
										    }
										   }                                  									   
										}								
								     ?> 
								
							</div>
						</div>
					</li>
					<li>
						<label class="required"><em>*</em><?php echo $helper->__('Product Name') ?>:</label>
						<div class="input-box">
							<input type="name" class="required-entry input-text" name="name" id="name" value="<?php echo $loadpro->getName(); ?>" />
						</div>
					</li>
					<li>
						<label><?php echo $helper->__('Description') ?>:</label>
						<div class="input-box">
							<textarea name="description" id="description" rows="5" cols="75" ><?php echo $loadpro->getDescription(); ?></textarea>
						</div>
					</li>
					<li>
						<label><?php echo $helper->__('Short Description') ?>:</label>
						<div class="input-box">
							<textarea name="short_description" id="short_description" rows="5" cols="75"><?php echo $loadpro->getShortDescription();?></textarea>
						</div>
					</li>
					
					<li>
						<label class="required"><em>*</em><?php echo $helper->__('SKU') ?>:</label>
						<div class="input-box">
							<input name="sku" id="sku" class="input-text required-entry" style="width:49%" value="<?php  echo $loadpro->getsku(); ?>"/> 
							<select class="required-entry select next-toinput" type="select" style="width:49.6%" id="sku_type" name="sku_type">
								<option value="">
									<?php echo Mage::helper('mpbundleproduct')->__('-- Select --')?>
								</option>
								<option value="0" <?php if($loadpro->getSkuType()==0){ ?> selected <?php } ?>>
									<?php echo Mage::helper('mpbundleproduct')->__('Dynamic')?>
								</option>
								<option value="1" <?php if($loadpro->getSkuType()==1){ ?> selected <?php } ?>>
									<?php echo Mage::helper('mpbundleproduct')->__('Fixed')?>
								</option>
							</select>
							
						</div>
						<div id="skuavail" >
							<span class="success-msg skuavailable"><?php echo $helper->__('SKU Available') ?></span>
						</div>
						<div id="skunotavail" >
							<span class="error-msg skunotavailable"><?php echo $helper->__('SKU Already Exist') ?></span>
						</div>
					</li>
					<li>
						<label class="required"><em>*</em><?php echo $helper->__('Price') ?><b><?php $currency_code = Mage::app()->getStore()->getCurrentCurrencyCode(); echo  " (". Mage::app()->getLocale()->currency( $currency_code )->getSymbol().")"; ?></b>:</label>
						<div class="input-box">
							<input type="price" class="required-entry validate-zero-or-greater input-text" style="width:49%" name="price" id="price" value="<?php
	                        if($loadpro->getPriceType()==1) {
							$baseCurrencyCode = Mage::app()->getStore()->getBaseCurrencyCode();
							$currentCurrencyCode = Mage::app()->getStore()->getCurrentCurrencyCode();
							$price = Mage::helper('directory')->currencyConvert($loadpro->getPrice(), $baseCurrencyCode, $currentCurrencyCode);
							  echo number_format($price, 2, '.', ''); } ?>" <?php if($loadpro->getPriceType()==0){ ?> disabled <?php }?> />
							  
							  <select class="required-entry select next-toinput" type="select" style="width:49.6%" id="price_type" name="price_type"<?php if($loadpro->getPriceType()==0){ ?> disabled <?php }?> >
								<option value="">
									<?php echo Mage::helper('mpbundleproduct')->__('-- Select --')?>
								</option>
								<option value="0" <?php if($loadpro->getPriceType()==0){ ?> selected <?php }?>>
									<?php echo Mage::helper('mpbundleproduct')->__('Dynamic')?>
								</option>
								<option value="1"<?php if($loadpro->getPriceType()==1){ ?> selected <?php }?>>
									<?php echo Mage::helper('mpbundleproduct')->__('Fixed')?>
								</option>
							</select>
							  
						</div>
					</li>
					<li>
						<label class="required"><em>*</em><?php echo $helper->__('Stock Availability') ?>:</label>
						<div class="input-box">
							<select id="inventory_stock_availability" class="select" name="is_in_stock">
								<option <?php if($instock==1)echo "selected"; ?> value="1"><?php echo $helper->__("In Stock"); ?></option>
								<option <?php if($instock==0)echo "selected"; ?> value="0"><?php echo $helper->__("Out of Stock"); ?></option>
							</select>
						</div>
					</li>
					<li>
						<label class="required"><em>*</em><?php echo $helper->__('Tax Class') ?>:</label>
						<div class="input-box">
							<select id="tax_class_id" class=" required-entry required-entry select" name="tax_class_id">
								<option value="0"><?php echo $helper->__("None"); ?></option>
								<?php
									$taxid=$loadpro->getData('tax_class_id');
									$taxes=Mage::getModel('tax/class')->getCollection()
												->addFieldToFilter('class_type',array('eq'=>'PRODUCT'));
									foreach($taxes as $tax){
								?>
								<option <?php echo $taxid==$tax->getId()? 'selected':''; ?> value="<?php echo $tax->getId() ?>"><?php echo $tax->getClassName()?></option>
								<?php } ?>
							</select>
						</div>
					</li>
					<li>
						<label class="required"><em>*</em><?php echo $helper->__('Weight') ?>:</label>
						<div class="input-box">
							<input type="weight" class="required-entry validate-number validate-zero-or-greater validate-number-range number-range-0-99999999.9999 input-text" name="weight" style="width:49%" id="weight"  value="<?php echo $loadpro->getWeight();?>" <?php if($loadpro->getWeightType()==0){ ?> disabled <?php }?>/>
						     <select class="required-entry select next-toinput" style="width:49.6%" type="select" id="weight_type" name="weight_type" <?php if($loadpro->getWeightType()==0){ ?> disabled <?php }?>>
								<option value="">
									<?php echo Mage::helper('mpbundleproduct')->__('-- Select --')?>
								</option>
								<option value="0" <?php if($loadpro->getWeightType()==0){ ?> selected <?php }?>>
									<?php echo Mage::helper('mpbundleproduct')->__('Dynamic')?>
								</option>
								<option value="1"<?php if($loadpro->getWeightType()==1){ ?> selected <?php }?>>
									<?php echo Mage::helper('mpbundleproduct')->__('Fixed')?>
								</option>
							</select>
						
						</div>
					</li>
					<li>
						<label><?php echo $helper->__('Sample Image') ?>:</label>
						<div class="input-box" style="width:380px;">
							<input type='file' name='images' class="wk_imagevalidate" accept="image/*"/>
							<input type="radio" value='' class='defaultimage' onchange='defaultimagevalue(this)' name="defaultimage">
							<span class='defaultimageset'><?php echo $helper->__("Base image"); ?></span>
							<br>
							<a class="wk_add_image" href='#' onClick='showOtherImage(); return false;'><?php echo $helper->__("Add Other Image");?></a><br/>
							<div id='otherimages'></div>
							<div class="image_set">
								<?php $_product = Mage::getModel('catalog/product')->load($loadpro->getId())->getMediaGalleryImages();
								$_productimage = Mage::getModel('catalog/product')->load($loadpro->getId())->getImage();
								 if($_product) {  ?>
									<?php $i=0;
									  foreach($_product as $_image) {
									  $check=$_productimage==$_image->getFile()?"checked='checked'":'';
									  $i++; 
									  ?>
									  <div class="setimage">
										  <img id="<?php echo $_image->getFile(); ?>" pid="<?php echo $loadpro->getId(); ?>" src="<?=$this->helper('catalog/image')->init($_product, 'thumbnail',$_image->getFile())->resize(200, 130); ?>" width="50" height="50" alt="<?=$this->htmlEscape($_image->getLabel());?>" title="<?=$this->htmlEscape($_image->getLabel()); ?>" />
										  <span class="wk_imagedelete" title="Delete"><img src="<?php echo $this->getSkinUrl('marketplace/images/deleteIcon.png'); ?>" alt="<?php echo $helper->__('Delete Image')?>" title="<?php echo $helper->__('Delete Image')?>"/></span><br>
										  <input type="radio" name="defaultimage" <?php echo  $check ?>  class='defaultimage' value='<?php echo $_image->getValueId(); ?>'>
										  <div class='defaultimageset'><?php echo $helper->__("Base image"); ?></div>
									  </div>
								   <?php  } 
								   } ?>
							</div>
						</div>
					</li>
					<?php echo $this->getChildHtml();?>
					<?php 					
						$bundleIds = Mage::getResourceSingleton('bundle/selection')->getParentIdsByChild(50);						
						$optionCollection = $product->getTypeInstance(true)->getOptionsCollection($product);
					
						foreach($this->getCollection() as $products){ ?>
						  	<input type="hidden" value='<?php echo $products->getName()?>' id='<?php echo $products->getId()?>' class='idval'/>
						<?php	}
					if($rightseller && $product->getTypeId()=='bundle'){
						$selectionCollection = $product->getTypeInstance(true)
											   ->getSelectionsCollection(
													$product->getTypeInstance(true)
													->getOptionsIds($product), $product);
						$i=0;
						foreach($product->getTypeInstance(true)->getOptionsCollection($product) as $options){
							$opid = $options->getOptionId();
							$adcls='';
							$optionstype=($options->getType()=='checkbox'||$options->getType()=='multi') ?'checkbox':'radio';
						?>
				
						<div class="mainbundl">
							<button type='button' class='removeoption button' value="<?php echo $opid; ?>"  ><span><span>Remove Option </span></span></button>
						<input type="hidden" value="<?php echo $opid; ?>" name="bundle_options[<?php echo $i; ?>][optid]"/>
						<li>
							<label class="required"><em>*</em><?php echo Mage::helper('mpbundleproduct')->__('Default Title')?>:</label>
							<div class="input-box">
								<input type="text" name="bundle_options[<?php echo $i; ?>][default_title]" class="required-entry input-text" value="<?php echo $options->getDefaultTitle(); ?>" />
							</div>
							</li>
						<li>
							<label class="mp_bundle_width">
								<?php echo Mage::helper('mpbundleproduct')->__('Input Type')?>
								<select class="bundle_option_type" name="bundle_options[<?php echo $i; ?>][type]" id='<?php echo $i;?>'>
									<option value="select" <?php echo $options->getType()=="select"?"selected='selected'":""; ?>>
										<?php echo Mage::helper('mpbundleproduct')->__('Drop-down');?>
									</option>
									<option value="radio" <?php echo $options->getType()=="radio"?"selected='selected'":""; ?>>
										<?php echo Mage::helper('mpbundleproduct')->__('Radio Buttons');?>
									</option>
									<option value="checkbox" <?php echo $options->getType()=="checkbox"?"selected='selected'":""; ?>>
										<?php echo Mage::helper('mpbundleproduct')->__('Checkbox');?>
									</option>
									<option value="multi" <?php echo $options->getType()=="multi"?"selected='selected'":""; ?>>
										<?php echo Mage::helper('mpbundleproduct')->__('Multiple Select');?>
									</option>
								</select>
							</label>              
							<label  class="mp_bundle_width"><?php echo Mage::helper('mpbundleproduct')->__('Is Required')?>
								<select name="bundle_options[<?php echo $i; ?>][required]" >
									<option value="1" <?php echo $options->getRequired()==1?"selected='selected'":""; ?>>
										<?php echo Mage::helper('mpbundleproduct')->__('Yes');?>
									</option>
									<option value="0" <?php echo $options->getRequired()==0?"selected='selected'":""; ?>>
										<?php echo Mage::helper('mpbundleproduct')->__('No');?>
									</option>
								</select>
							</label>
							<label  class="mp_bundle_width"><?php echo Mage::helper('mpbundleproduct')->__('Position')?>
								<input type="text" name="bundle_options[<?php echo $i; ?>][position]" class="<?php echo $numbervalidate;?>" value="<?php echo $options->getPosition();?>" />
							</label>
						</li>
						<li>
							<label><?php echo Mage::helper('mpbundleproduct')->__('Selected Products') ?>:</label>
							<div class="wk_content wk_mp_option-box">
								<ul class="wk_mp_headcus ul_first">
									<li>
										<?php echo Mage::helper('mpbundleproduct')->__('Name')?>
									</li>
									<li class="fixed_price price">
										<?php echo Mage::helper('mpbundleproduct')->__('Price')?>
									</li>
									<li class="fixed_price pricetype">
										<?php echo Mage::helper('mpbundleproduct')->__('Price Type')?>
									</li>
									<li class="pricetype">
										<?php echo Mage::helper('mpbundleproduct')->__('Default Qty')?>
									</li>
									
									<?php if($options->getType()=="select" || $options->getType()=="radio") {?>
									<li class="defined_qty <?php echo " "."defined_qty".$i; ?>">
										
										<?php echo Mage::helper('mpbundleproduct')->__('User Defined Qty')?>
									</li>
									<?php } else {?>
								    <li class="defined_qty <?php echo " "."defined_qty".$i; ?>" style="visibility:hidden;">
										
										<?php echo Mage::helper('mpbundleproduct')->__('User Defined Qty')?>
									</li> 
								     
									<?php } ?>
									<li>
										<?php echo Mage::helper('mpbundleproduct')->__('Position')?>
									</li>
									<li>
										<?php echo Mage::helper('mpbundleproduct')->__('Default')?>
									</li>
								</ul>
								<?php 
								$addedproduct=array();
								$j=0;
								foreach($selectionCollection as $products){	
									if($products->getOptionId()==$opid) {
										$noptid = $products->getOptionId();
										array_push($addedproduct,$products->getId());
								?>
										<input type="hidden" value="<?php echo $noptid ?>" name="noptid[<?php echo $i; ?>][]" />
										<ul  class=" wk_mp_headcus wk_row_view">
											<li>
												<input type="checkbox" name="product_id[<?php echo $i; ?>][]" class='options_pro_id' value="<?php echo $products->getId()?>" checked="checked"/>
												<?php echo $products->getName();?>
											</li>
											<li class="fixed_price price">
												<input type="text" name="default_price[<?php echo $i; ?>][]" class="<?php echo $numbervalidate ;?>" value="<?php echo $products->getSelectionPriceValue()?>" />
											</li>
											<li class="fixed_price pricetype">
												<select class="select" name="default_price_type[<?php echo $i; ?>][]">
													<option value="1" <?php echo $products->getSelectionPriceType()==1? 'selected="selected"':'' ?> >
														<?php echo Mage::helper('mpbundleproduct')->__('Fixed');?>
													</option>
													<option value="0" <?php echo $products->getSelectionPriceType()==0? 'selected="selected"':'' ?>>
														<?php echo Mage::helper('mpbundleproduct')->__('Percentage');?>
													</option>
												</select>
											</li>
											<li>
												<input type="text" name="default_qty[<?php echo $i; ?>][]" class="<?php echo $numbervalidate ;?>" value="<?php echo $products->getSelectionQty()?>" />
											</li>
											
										
											<?php if($options->getType()=="select" || $options->getType()=="radio") {?>
											<li class="defined_qty <?php echo " "."defined_qty".$i; ?>">
												<select class="select" name="selection_can_change_qty[<?php echo $i; ?>][]">
													<option value="1" <?php echo $products->getSelectionCanChangeQty()==1? 'selected="selected"':'' ?>>	
														<?php echo Mage::helper('mpbundleproduct')->__('Yes')?>
													</option>
													<option value="0" <?php echo $products->getSelectionCanChangeQty()==0? 'selected="selected"':'' ?>>
														<?php echo Mage::helper('mpbundleproduct')->__('No')?>
													</option>
												</select>
											</li>
											<?php } else {?>
												<li class="defined_qty <?php echo " "."defined_qty".$i; ?>" style="visibility:hidden;">
													<select class="select" name="selection_can_change_qty[<?php echo $i; ?>][]">
														<option value="1" <?php echo $products->getSelectionCanChangeQty()==1? 'selected="selected"':'' ?>>	
															<?php echo Mage::helper('mpbundleproduct')->__('Yes')?>
														</option>
														<option value="0" <?php echo $products->getSelectionCanChangeQty()==0? 'selected="selected"':'' ?>>
															<?php echo Mage::helper('mpbundleproduct')->__('No')?>
														</option>
													</select>
												</li>
											<?php } ?>
											
											<li>
												<input type="text" name="default_position[<?php echo $i; ?>][]" class="<?php echo $numbervalidate ;?> mp_bundefault_position" value="<?php echo $products->getPosition();?>"  />
											</li>
											<li><input class="default_product  <?php echo " "."def".$i." "; ?> <?php if($options->getType()=='select' || $options->getType()=='radio') { echo "radb".$i; echo " ";  echo "radbut";} ?>" id='<?php echo $i; ?>' type="<?php echo $optionstype; ?>" name="default[<?php echo $i; ?>][<?php echo $products->getId(); ?>]" <?php echo $products->getIsDefault()==1? "checked='checked'" :"";?> value="1" /></li>
										</ul>
									<?php 
										$j++;
								    }
							     
								} ?>
							</div>
						</li>	
						<?php
						     $collection = Mage::getModel('marketplace/product')->getCollection()
											->addFieldToFilter('userid',array('eq'=>$customerid))->addFieldToFilter('status',array('eq'=>1));
							$products=array();
							foreach($collection as $data){
								array_push($products,$data->getMageproductid());
							}
							$collection = Mage::getModel('catalog/product')
											->getCollection()->addAttributeToSelect('*')
											->addFieldToFilter('type_id',array('neq'=>'bundle'))
											->addFieldToFilter('entity_id',array('in'=>$products))
											->addFieldToFilter('entity_id',array('nin'=>$addedproduct));
						   if(count($collection)){
						?>
					<li>
						<span><?php echo Mage::helper('mpbundleproduct')->__('Unselected Products') ?>:</span>
						<div class="wk_content">
							
							<?php 
							
							foreach($collection as $products){ ?>
							
							<div  class="wk_row_view">
								<span class="label checkbox">
									<input type="checkbox" name="product_id[<?php echo $i; ?>][]" class='options_pro_id' value="<?php echo $products->getId()?>" />
								</span>
								<span class="label name">
									<?php echo $products->getName();?>
								</span>
								<span class="label fixed_price price">
									<input type="text" name="default_price[<?php echo $i; ?>][]" class="<?php echo $numbervalidate ;?>" value="<?php echo $products->getSelectionPriceValue()?>" disabled />
								</span>
								<span class="label fixed_price pricetype">
									<select class="select" name="default_price_type[<?php echo $i; ?>][]" disabled>
										<option value="1" <?php echo $products->getSelectionPriceType()==1? 'selected="selected"':'' ?> >
											<?php echo Mage::helper('mpbundleproduct')->__('Fixed');?>
										</option>
										<option value="0" <?php echo $products->getSelectionPriceType()==0? 'selected="selected"':'' ?>>
											<?php echo Mage::helper('mpbundleproduct')->__('Percentage');?>
										</option>
									</select>
								</span>
								<span class="label quantity">
									<input type="text" name="default_qty[<?php echo $i; ?>][]" class="<?php echo $numbervalidate ;?>" value="<?php echo $products->getSelectionQty()?>" disabled />
								</span>
								
								<?php if($options->getType()=="select" || $options->getType()=="radio") {?>
								<span class="label defined_qty <?php echo " "."defined_qty".$i; ?>">
									<select class="select" name="selection_can_change_qty[]" disabled>
										<option value="1" <?php echo $products->getSelectionCanChangeQty()==1? 'selected="selected"':'' ?>>	
											<?php echo Mage::helper('mpbundleproduct')->__('Yes')?>
										</option>
										<option value="0" <?php echo $products->getSelectionCanChangeQty()==0? 'selected="selected"':'' ?>>
											<?php echo Mage::helper('mpbundleproduct')->__('No')?>
										</option>
									</select>
								</span>
								<?php } else { ?>
								 <span class="label defined_qty <?php echo " "."defined_qty".$i; ?>" style="visibility:hidden;">
									<select class="select" name="selection_can_change_qty[]" disabled>
										<option value="1" <?php echo $products->getSelectionCanChangeQty()==1? 'selected="selected"':'' ?>>	
											<?php echo Mage::helper('mpbundleproduct')->__('Yes')?>
										</option>
										<option value="0" <?php echo $products->getSelectionCanChangeQty()==0? 'selected="selected"':'' ?>>
											<?php echo Mage::helper('mpbundleproduct')->__('No')?>
										</option>
									</select>
								 </span>
								<?php } ?>
								<span class="label">
									<input type="text" name="default_position[<?php echo $i; ?>][]" class="<?php echo $numbervalidate ;?> mp_bundefault_position" value="<?php echo $products->getPosition();?>"disabled />
								</span>
								<span class="label"><input class="default_product <?php echo " "."def".$i." "; ?> <?php if($options->getType()=='select' || $options->getType()=='radio') { echo "radb".$i; echo " ";  echo "radbut";} ?>" id='<?php echo $i; ?>' type="<?php echo $optionstype; ?>" name="default[<?php echo $i; ?>][<?php echo $products->getId(); ?>]" value="1" disabled /></span>
							</div>
						<?php } ?>
						</div>
					</li>
				<?php }	
				$i++;?>
				</div>
				<div>
					<button type='button' class='addopt button' id="<?php echo $i-1 ?>">
						<span><span>Add Option </span></span>
					</button>
				</div>		
			</div>
		<?php } ?>				
				
<?php }	 ?>
		</ul>
	</div>	
</form>

<script> 
	jQuery.noConflict();
	(function(jQuery){
		jQuery(function(){

			var newCustomerProductForm = new VarienForm('form-customer-product-editPost', true);
			jQuery('#price_type').attr('disabled','disabled');
			jQuery('#weight_type').removeAttr('disabled');
			if(jQuery('#price_type').val()==1) {
			 	jQuery('.fixed_price').css('display','block');
			 	jQuery('.wk_mp_headcus li').css('width','12%');
			} else {
				jQuery('.wk_mp_headcus li').css('width','19%');
				jQuery('#price').removeClass('required-entry');
			}

			jQuery('#price_type,#weight_type').change(function() {
				if(jQuery(this).val()==0) {
					jQuery(this).prev('input').attr('disabled','disabled');
				} else {
					jQuery(this).prev('input').removeAttr('disabled');
				}
				if(jQuery(this).attr('id')=='price_type') {
					if(jQuery(this).val()==1) {
						jQuery('.fixed_price').css('display','block');
						jQuery('.wk_mp_headcus li').css('width','12%');
					} else {
						jQuery('.fixed_price').css('display','none');
						jQuery('.wk_mp_headcus li').css('width','19%');
						jQuery('.fixed_price input').val('0.0');
					}
				}
			});

			jQuery('.removeoption').click(function() {
				var optid = jQuery(this).val();
				var thiss=jQuery(this);
				jQuery.ajax({
							url  	:   "<?php echo $this->getUrl('mpbundleproduct/index/deleteoption');?>",
							type 	:   "POST",
							data 	:   {opid:optid},
							dataType:   "html",
							success :   function(content){    
							    thiss.parent().remove();
							}
								
						});
				 var idd= parseInt(jQuery('.addopt').attr('id'));
			     jQuery('.addopt').attr('id',idd-1);		
			});

			jQuery(document).on('change','.bundle_option_type',function() {
				var checkin = parseInt(jQuery(this).attr('id'));
				if(jQuery(this).val()=='checkbox' || jQuery(this).val()=='multi') {
					jQuery('.defined_qty'+checkin).css('visibility','hidden');
					jQuery('.def'+checkin).each(function() {
						var temp=jQuery(this).clone();
						temp.attr('type','checkbox');
						jQuery(this).replaceWith(temp);
					});
				} else {
					jQuery('.def'+checkin).each(function() {
						jQuery(this).removeAttr('checked');
						var temp=jQuery(this).clone();
						temp.attr('type','radio');
						jQuery(this).replaceWith(temp);
					});
					jQuery('.defined_qty'+checkin).css('visibility','visible');
				}
			});

			jQuery(document).on('submit','#form-customer-product-editPost',function() {	
				if(newCustomerProductForm.validator.validate()!=false) {
					jQuery('#save_butn span span').text('Saving..');
					jQuery('#save_butn').css('opacity','0.7');
				}
			});

			jQuery('.addopt').click(function() {
				var i = parseInt(jQuery(this).attr('id'))+1;
				jQuery(this).attr('id',i);
			    var p = [];
			    var z='';
			    jQuery('.idval').each(function(j) {
			     	p[j] = jQuery(this).val();
			     	z=z+'<ul  class="wk_row_view wk_mp_headcus"><li><input type="checkbox" name="product_id['+i+'][]" class="options_pro_id" value='+jQuery(this).attr('id')+' />'+jQuery(this).val()+'</li><li class="fixed_price"><input type="text" name="default_price['+i+'][]" class="input-text validate-number validate-zero-or-greater validate-number-range number-range-0-99999999" value=0.0 disabled /></li><li class="fixed_price"><select class="select" name="default_price_type['+i+'][]" disabled><option value="1">Fixed</option><option value="0">Percentage</option></select></li><li><input type="text" name="default_qty['+i+'][]" class="input-text validate-number validate-zero-or-greater validate-number-range number-range-0-99999999" value="1" disabled /></li><li class="defined_qty'+i+'"><select class="select" name="selection_can_change_qty['+i+'][]" disabled><option value="1">Yes</option><option value="0">No</option></select></li><li><input type="text" name="default_position['+i+'][]" class="input-text validate-number validate-zero-or-greater validate-number-range number-range-0-99999999" disabled /></li><li><input class="default_product def'+i+'" type="radio" name="default['+i+'][]" value="1" disabled /></li></ul>'
				});
			    jQuery('.mainbundl').after("<div class='appendd'><button type='button' class='removopt button'><span><span>Remove Option</span></span></button><li><label class='required'><em>*</em><?php echo Mage::helper('mpbundleproduct')->__('Default Title')?>:</label><div class='input-box'><input type='text' name='bundle_options["+i+"][default_title]' class='required-entry input-text' /></div></li><li><label style='width:150px;'><?php echo Mage::helper('mpbundleproduct')->__('Input Type')?><select class='bundle_option_type' style='width:140px;' name='bundle_options["+i+"][type]' id='"+i+"'><option value='select'>Drop-down</option><option value='radio'>Radio Buttons</option><option value='checkbox'>Checkbox</option><option value='multi'>Multiple Select</option></select></label><label  style='width:150px;'><?php echo Mage::helper('mpbundleproduct')->__('Is Required')?><select style='width:140px;' name='bundle_options["+i+"][required]'><option value='1'>Yes</option><option value='0'>No</option></select></label><label  style='width:150px;'><?php echo Mage::helper('mpbundleproduct')->__('Position')?><input type='text' style='width:auto'name=bundle_options["+i+"][position] class='input-text validate-number validate-zero-or-greater validate-number-range number-range-0-99999999.9999' /></label></li><li><label><?php echo Mage::helper('mpbundleproduct')->__('Products') ?>:</label><div class='wk_content wk_mp_option-box'><ul class='wk_mp_headcus ul_first'><li >Name</li><li class='fixed_price'>Price</li><li class='fixed_price'>Price Type</li><li>Default Qty</li><li class='defined_qty"+i+"'>User Defined Qty</li><li>Position</li><li>Default</li></ul><div style='clear:both;'></div>"+z+" </li></div>");
				if(jQuery('#price_type').val()==1) {
			  		jQuery('.fixed_price').css('visibility','visible');
			 	}
			});

			jQuery('.wk_close').click(function(){
				jQuery(this).parent().remove();
			}); 

			jQuery(document).on('click','.removopt',function() {
			 	jQuery(this).parent().remove();
			 	var idd= parseInt(jQuery('.addopt').attr('id'));
			 	jQuery('.addopt').attr('id',idd-1);
			});


			jQuery(document).on('click','.radbut',function() {	
				var ids= jQuery(this).attr('id');
				jQuery('.radb'+ids).each(function (k) { 
				   jQuery(this).removeAttr('checked');
				});
				jQuery(this).attr('checked',true);
			});	

			jQuery(document).on('change','.options_pro_id',function() {			
				if(jQuery(this).is(':checked')) {
					jQuery(this).parents('.wk_row_view').find('input[type="text"],.default_product,select').each(function(){
						jQuery(this).removeAttr('disabled');
					});
				} else {
					jQuery(this).parents('.wk_row_view').find('input[type="text"],.default_product,select').each(function(){
						jQuery(this).attr('disabled','disabled');
						
					});
				}
			});
	
			jQuery("#wk_bodymain").delegate('.wk_plus ,.wk_plusend,.wk_minus, .wk_minusend ',"click",function() {
				var thisthis=jQuery(this);	
				if(thisthis.hasClass("wk_plus") || thisthis.hasClass("wk_plusend")){
					if(thisthis.hasClass("wk_plus"))
						thisthis.removeClass('wk_plus').addClass('wk_plus_click');
					if(thisthis.hasClass("wk_plusend"))
						thisthis.removeClass('wk_plusend').addClass('wk_plusend_click');
					thisthis.prepend("<span class='wk_node_loader'></span>");
					jQuery.ajax({
						url  	:   "<?php echo $this->getUrl('marketplace/marketplaceaccount/categorytree/');?>",
						type 	:   "POST",
						data 	:   {CID:thisthis.siblings("input").val(),
									ML:thisthis.parent(".wk_cat_container").css("margin-left").replace("px","")},
						dataType:   "html",
						success :   function(content) {
							
							var newdata=  jQuery.parseJSON(content);
							len= newdata.length;
							var pxl= parseInt(thisthis.parent(".wk_cat_container").css("margin-left").replace("px",""))+20;
							thisthis.find(".wk_node_loader").remove();
							if(thisthis.attr("class") == "wk_plus")
							thisthis.attr("class","wk_minus");
							if(thisthis.attr("class") == "wk_plusend")
								thisthis.attr("class","wk_minusend");
							if(thisthis.attr("class") == "wk_plus_click")
								thisthis.attr("class","wk_minus");
							if(thisthis.attr("class") == "wk_plusend_click")
								thisthis.attr("class","wk_minusend");
						    for(i=0;i<len; i++) {     
								id=newdata[i].id;
								nam=newdata[i].name;
								if(newdata[i].counting ==0) {
									thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_no"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" name="category[]" value='+ id +'></div>');
								} else {
									thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_plusend"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" name="category[]" value='+ id +'></div>');   
								}
							}
							thisthis.parent(".wk_cat_container").nextAll().slideDown(300);
						}
					});			
				}
				if(thisthis.hasClass("wk_minus") || thisthis.hasClass("wk_minusend")) {
					if(thisthis.attr("class") == "wk_minus")
						thisthis.attr("class","wk_plus");
					if(thisthis.attr("class") == "wk_minusend")
						thisthis.attr("class","wk_plusend");
					var thiscategory = thisthis.parent(".wk_cat_container");
					var marg= parseInt(thiscategory.css("margin-left").replace("px",""));
					while(thiscategory.next().hasClass("wk_removable")) {
						if(parseInt(thiscategory.next().css("margin-left").replace("px",""))>marg)
							thiscategory.next().slideUp("slow",function(){jQuery(this).remove();});
							thiscategory = thiscategory.next();	
							if(typeof thiscategory.next().css("margin-left")!= "undefined") {
								if( marg==thiscategory.next().css("margin-left").replace("px","")) {
								  break;
								}
							}
					}
				}		
			});
	
			jQuery('.image_set span').click(function(event){
				var dicisionapp=confirm('<?php echo $helper->__(" Are you sure you want to delete this image ? ")?>');
				if(dicisionapp==true){
					var deleteflag=0;			
					var thisthis = jQuery(this);
					var imag = thisthis.prev('img').attr('id');
					thisthis.html("<img src='<?php echo $this->getSkinUrl('marketplace/images/loading.gif'); ?>'/>");
					thisthis.removeClass('wk_imagedelete');
					thisthis.addClass('wk_imagedeleteload');				
					jQuery.ajax({
						url: "<?php echo $this->getUrl('marketplace/marketplaceaccount/deleteimage');?>",
						type: "POST",
						data: {file:thisthis.prev('img').attr('id'),pid:thisthis.prev('img').attr('pid')},
						dataType: 'html',
						success:function(content){
							thisthis.parent('div.setimage').remove();
						}
					});							
				}		
			});
			jQuery('.wk_imagedelete img').mouseover(function(event){
				jQuery(event.target).css('width','22px');
			});
			jQuery('.wk_imagedelete img').mouseout(function(event){
				jQuery(event.target).css('width','20px');
			});
		});
	
	})(jQuery);		
</script> 

<script type="text/javascript">
	var i=2;
	function showOtherImage() {
		var newdiv = document.createElement('div');
		newdiv.setAttribute("id","childDiv"+i);
		newdiv.innerHTML = "<input type='file' name='images"+i+"' /><a href=\"javascript:;\" onclick=\"removeEvent('childDiv"+i+"')\"><?php echo Mage::helper('marketplace')->__(' Remove ') ?></a>";
		var ni = document.getElementById('otherimages');
		ni.appendChild(newdiv);
		i++;
	}
	function removeEvent(divNum) {
		var d = document.getElementById('otherimages');
		var olddiv = document.getElementById(divNum);
		d.removeChild(olddiv);
		i--;
	}
	
	function defaultimagevalue(object) {
		var strs=jQuery(object).prev('input').val().split('\\'); 
	    jQuery(object).val(strs[strs.length-1]);
	}
</script>

<?php	
     }
     else{
	echo $helper->__("<h2 class='wk_new_msg'>YOU ARE NOT AUTHORIZE TO EDIT THIS PRODUCT..</h2>");
}	
  }
  else{
	echo $helper->__("<h2 class='wk_new_msg'>FOR BECOME SELLER CONTACT TO ADMIN..</h2>");
}
?>
