<?php 
	$isPartner= Mage::getModel('marketplace/userprofile')->isPartner();
    $helper=Mage::helper('marketplace');
	$customerid=Mage::getSingleton('customer/session')->getCustomerId();
	if($isPartner==1){?>
<script type="text/javascript">
if (typeof jQuery == 'undefined'){
    document.write(unescape("%3Cscript src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
}
</script> 
<style>
</style>
<script src="<?php echo $this->getSkinUrl('marketplace/js/nicEdit-latest.js'); ?>" type="text/javascript"></script>
<script type="text/javascript">
  bkLib.onDomLoaded(function() {
        new nicEditor({fullPanel : true}).panelInstance('description');
        new nicEditor({fullPanel : true}).panelInstance('short_description');
  });
</script>
<?php
	$collection = Mage::getModel('sales/order')->getCollection();
	$categories = Mage::getModel('catalog/category')->getCollection()->addAttributeToSelect('*')->addIsActiveFilter();
	$allcatid = array();
	$k=0;
	foreach ($categories as $c) {
	   $allcatid[$k] = $c->getId();
	   $k++;
	}
	$prid=array();
	$finalcat=array_shift($allcatid);
	$attribute_set_id=Mage::getStoreConfig('marketplace/marketplace_options/attributesetid');
	$attribute_set_id=$attribute_set_id!=''?$attribute_set_id:4;
	$partner=Mage::getModel('marketplace/userprofile')->getPartnerProfileById($customerid); ?>
	<?php if(($partner['twitterid']=='')||($partner['facebookid']=='')||($partner['bannerpic']=='')||($partner['logopic']=='')||($partner['complocality']=='')||($partner['countrypic']=='')||($partner['compdesi']=='')): ?>
		<div class="wk_profile_alert">
			<strong><?php echo $helper->__('Warning')?>! </strong><?php echo $helper->__('Please Complete')?>
			<a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/editprofile')?>" style="color: inherit;"><?php echo $helper->__('Your Profile')?></a>
			<span class="wk_close">X</span>
		</div>
	<?php endif; ?>
	<form action="<?php echo $this->getUrl('mpbundleproduct/index') ?>" enctype="multipart/form-data" method="post" id="form-customer-product-new">
		<div class="page-title">
			<h1 style="float:left;"><?php echo $helper->__('Add New Bundle Product') ?></h1>
			<button type="reset" class="button wk_mp_btn">
				<span><span><?php echo $helper->__('Cancel') ?></span></span>
			</button>
			<button class="button wk_mp_btn" title="<?php echo $helper->__('Save') ?>" type="submit" id="save_butn">
				<span><span><?php echo $helper->__('Save') ?></span></span>
			</button>
		</div>		
		<div class="wk_mp_design">
			<div class="block block-account">	
				<div class="block-title">	
					<strong><span><h4><?php echo $helper->__('Add New Bundle Product') ?></h4></span></strong>
				</div>
			</div>
			<div class="fieldset wk_mp_fieldset">
				<input type="hidden" class="len" name="store_id" id="producttype" value="<?php echo Mage::app()->getStore()->getId();?>" title="producttype" class="" />
				<input type="hidden" class="len" name="type_id" id="producttype" value="bundle" title="producttype" class="" />
				<input type="hidden" class="len" name="status" id="status" value="2" title="status" class="" />
				<input type="hidden" class="len" name="userid" id="userid" value="<?php echo $customerid;?>" title="id" class="" />
				<input type="hidden"  name="wstoreids" id="wstoreids" value="<?php echo Mage::app()->getStore()->getStoreId(); ?>" title="wstoreids" class="" />
				<input type="hidden" class="len" name="attribute_set_id" id="attribute_set_id" value="<?php echo $attribute_set_id; ?>" title="AttributeSetId" class="" />
				<ul class="form-list" id="wk_bodymain">
					<input type="hidden"  name="producttypecustom" id="producttypecustom" value="customproductsimple" title="producttypecustom" class="" />
					<li>
						<label class="required"><em>*</em><?php echo $helper->__('Product Category') ?>:</label>
						<div class="wk_field wk_category">
							<div class="wk_for_validation">
								<div id="wk_category_label"><?php echo $helper->__("CATEGORIES"); ?></div>
		                <?php	$Mar_lef = 0;$count = 0;
								$category_helper = Mage::helper("catalog/category");
								$category_model = Mage::getModel("catalog/category");
								$_categories = $category_helper->getStoreCategories();
								$total = count($_categories->getNodes());
							    if($total > 0) {
								foreach($_categories as $_category)	{
										$count++;
									 if(count($category_model->getResource()->getAllChildren($category_model->load($_category['entity_id'])))-1 > 0){
										if($count <= $total) { ?>
										<div class="wk_cat_container" style="margin-left:0px;"><span class="wk_plus">
										</span><span class="wk_foldersign"></span>
										<span class="wk_elements wk_cat_name"><?php echo $_category->getName() ?></span><input class="wk_elements" type="checkbox" name="category[]" value='<?php echo $_category['entity_id'] ?>'/></div>
										
									<?php	} }
									 else 
									     {
									 ?><div class="wk_cat_container">
										</span><span class="wk_foldersign"></span>
										<span class="wk_elements wk_cat_name"><?php echo $_category->getName() ?></span><input class="wk_elements" type="checkbox" name="category[]" value='<?php echo $_category['entity_id'] ?>'/></div> 
								   <?php }
								   }                                  									   
								}				
                               ?>								 
							</div>
						</div>
					</li>
					<li>
						<label class="required"><em>*</em><?php echo Mage::helper('mpbundleproduct')->__('Product Name') ?>:</label>
						<div class="input-box">
							<input type="name" class="required-entry input-text" name="name" id="name" />
						</div>
					</li>
					<li>
						<label><?php echo Mage::helper('mpbundleproduct')->__('Description') ?>:</label>
						<div class="input-box">
							<textarea name="description" class="input-text" id="description" rows="5" cols="75" ></textarea>
						</div>
					</li>
					<li>
						<label><?php echo Mage::helper('mpbundleproduct')->__('Short Description') ?>:</label>
						<div class="input-box">
							<textarea name="short_description" id="short_description" rows="5" cols="75" class="input-text"></textarea>
						</div>
					</li>
					<li>
						<label class="required"><em>*</em><?php echo Mage::helper('mpbundleproduct')->__('SKU') ?>:</label>
						<div class="input-box">
							<input name="sku" id="sku" class="required-entry input-text" style="width:49%"/>
							<select class="required-entry select next-toinput" style="width:49.6%" type="select" id="sku_type" name="sku_type">
								<option value="">
									<?php echo Mage::helper('mpbundleproduct')->__('-- Select --')?>
								</option>
								<option value="0">
									<?php echo Mage::helper('mpbundleproduct')->__('Dynamic')?>
								</option>
								<option value="1">
									<?php echo Mage::helper('mpbundleproduct')->__('Fixed')?>
								</option>
							</select>
						</div>
						<div class="input-box">
						</div>
						<div id="skustatus"></div>
					</li>
					<li>
						<label class="required"><em>*</em><?php echo Mage::helper('mpbundleproduct')->__('Price') ?>:</label>
						<div class="input-box">
							<input type="price" class="required-entry validate-zero-or-greater input-text" style="width:49%" name="price" id="price"/>
							<select class="required-entry select next-toinput" type="select" id="price_type" style="width:49.6%" name="price_type">
								<option value="">
									<?php echo Mage::helper('mpbundleproduct')->__('-- Select --')?>
								</option>
								<option value="0">
									<?php echo Mage::helper('mpbundleproduct')->__('Dynamic')?>
								</option>
								<option value="1">
									<?php echo Mage::helper('mpbundleproduct')->__('Fixed')?>
								</option>
							</select>
						</div>
					</li>
					<li>
						<label class="required"><em>*</em><?php echo $helper->__('Stock Availability') ?>:</label>
						<div class="input-box">
							<select id="inventory_stock_availability" class="select" name="is_in_stock">
								<option value="1"><?php echo $helper->__("In Stock"); ?></option>
								<option value="0"><?php echo $helper->__("Out of Stock"); ?></option>
							</select>
						</div>
					</li>
					<li>
						<label class="required"><em>*</em><?php echo $helper->__('Tax Class') ?>:</label>
						<div class="input-box">
							<select id="tax_class_id" class=" required-entry required-entry select" name="tax_class_id">
								<option value=""><?php echo $helper->__('--Please Select--')?></option>
								<option value="0"><?php echo $helper->__('None')?></option>
								<?php
									$taxes=Mage::getModel('tax/class')->getCollection()
												->addFieldToFilter('class_type',array('eq'=>'PRODUCT'));
									foreach($taxes as $tax){
								?>
								<option value="<?php echo $tax->getId() ?>"><?php echo $tax->getClassName()?></option>
								<?php } ?>
							</select>
						</div>
					</li>
					<li>
						<label class="required"><em>*</em><?php echo Mage::helper('mpbundleproduct')->__('Weight') ?>:</label>
						<div class="input-box">
							<input type="weight" class="required-entry validate-number validate-zero-or-greater validate-number-range number-range-0-99999999.9999 input-text" style="width:49%" name="weight" id="weight"/>
							<select class="required-entry select next-toinput" style="width:49.6%" type="select" id="weight_type" name="weight_type">
								<option value=""><?php echo Mage::helper('mpbundleproduct')->__('-- Select --')?></option>
								<option value="0"><?php echo Mage::helper('mpbundleproduct')->__('Dynamic')?></option>
								<option value="1"><?php echo Mage::helper('mpbundleproduct')->__('Fixed')?></option>
							</select>
						</div>
					</li>
					<li>
					    <label><?php echo $helper->__('Sample Image') ?>:</label>
					  	<div class="input-box" style="width:380px;">
							<input type="file" name="dumimg" class="dumimg wk_imagevalidate" accept="image/*" size="33" ><input type="radio" value='' class='defaultimage' onClick='defaultimagevalue(this)' name="defaultimage"><span class='defaultimageset'><?php echo $helper->__("Base image"); ?></span>
							<br>
							<a href="#" onClick="showOtherImage(); return false;"><?php echo $helper->__('Add other image') ?></a>
							<br />
							<div id="otherimages"></div>
					 	</div>
					</li>
					
					<div>
						<button type='button' class='addopt button' id='0' >
							<span><span><?php echo Mage::helper('mpbundleproduct')->__('Add Option') ?></span></span>
						</button>
					</div>
					<div class='mainbundl'>
						<li>
							<label class="required"><em>*</em><?php echo Mage::helper('mpbundleproduct')->__('Default Title')?>:</label>	
							<div class="input-box">
								<input type="text" name="bundle_options[0][default_title]" class="required-entry input-text" />
							</div>
						</li>
						<li>
							<label style="width:150px;"><?php echo Mage::helper('mpbundleproduct')->__('Input Type')?>
								<select class="bundle_option_type" style="width:140px;" name="bundle_options[0][type]" id='0'>
									<option value="select">Drop-down</option>
									<option value="radio">Radio Buttons</option>
									<option value="checkbox">Checkbox</option>
									<option value="multi">Multiple Select</option>
								</select>
							</label>              
							<label  style="width:150px;"><?php echo Mage::helper('mpbundleproduct')->__('Is Required')?>
								<select title="" style="width:140px;" class="" name="bundle_options[0][required]">
									<option value="1">Yes</option>
									<option value="0">No</option>
								</select>
							</label>
							<label  style="width:150px;"><?php echo Mage::helper('mpbundleproduct')->__('Position')?>
								<input type="text" style="width:auto;" name="bundle_options[0][position]" class="input-text validate-number validate-zero-or-greater validate-number-range number-range-0-99999999.9999" />
							</label>
						</li>
						<li>
							<label><?php echo Mage::helper('mpbundleproduct')->__('Products') ?>:</label>
							<div class="wk_content wk_mp_option-box">
								<ul class="wk_mp_headcus ul_first">
									<li><?php echo Mage::helper('mpbundleproduct')->__('Name')?></li>
									<li class="fixed_price" ><?php echo Mage::helper('mpbundleproduct')->__('Price')?></li>
									<li class="fixed_price"><?php echo Mage::helper('mpbundleproduct')->__('Price Type')?></li>
									<li><?php echo Mage::helper('mpbundleproduct')->__('Default Qty')?></li>
									<li class="defined_qty0"><?php echo Mage::helper('mpbundleproduct')->__('User Defined Qty')?></li>
									<li><?php echo Mage::helper('mpbundleproduct')->__('Position')?></li>
									<li><?php echo Mage::helper('mpbundleproduct')->__('Default')?></li>
								</ul>
								<div style="clear:both;"></div>
								<?php foreach($this->getCollection() as $products){  
									array_push($prid, $products->getId());
									?>
									<ul class="wk_mp_headcus wk_row_view">
										<input type="hidden" value='<?php echo $products->getName()?>' id='<?php echo $products->getId()?>' class='idval'/>
										<li>
											<input type="checkbox" name="product_id[0][]" class='options_pro_id' value="<?php echo $products->getId()?>" />
											<?php echo $products->getName()?>
										</li>
										<li class="fixed_price">
											<input type="text" name="default_price[0][]" class="input-text validate-number validate-zero-or-greater validate-number-range number-range-0-99999999" value="0.0" disabled />
										</li>
										<li class="fixed_price">
											<select class="select" name="default_price_type[0][]" disabled>
												<option value="1">Fixed</option>
												<option value="0">Percentage</option>
											</select>
										</li>
										<li>
											<input type="text" name="default_qty[0][]" class="input-text validate-number validate-zero-or-greater validate-number-range number-range-0-99999999" value="1" disabled />
										</li>
										<li class="defined_qty0">
											<select class="select" name="selection_can_change_qty[0][]" disabled>
												<option value="1">Yes</option>
												<option value="0">No</option>
											</select>
										</li>
										<li>
											<input type="text" name="default_position[0][]" class="input-text validate-number validate-zero-or-greater validate-number-range number-range-0-99999999" disabled />
										</li>
										<li><input class="default_product def0" type="radio" name="default[0][]" value="1" disabled /></li>
									</ul>
								<?php } ?>
							</div>
						</li>
					</div>
				</ul>
			</div>
		</div>
		<div class="buttons-set">
			<p class="back-link">
				<a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php echo Mage::helper('mpbundleproduct')->__('Back') ?></a>
			</p>
		</div>
	</form>
<script> 
	jQuery.noConflict();
	(function(jQuery){
		jQuery(function(){
		 	var newCustomerProductForm = new VarienForm('form-customer-product-new', true);
		  
		 	jQuery(document).on('change','#price_type,#weight_type',function() {
			
				if(jQuery(this).val()==0) {
					jQuery(this).prev('input').attr('disabled','disabled');
					jQuery('#price').removeClass('required-entry');
				} else {
					jQuery(this).prev('input').removeAttr('disabled');
					jQuery('#price').addClass('required-entry');
				}
				if(jQuery(this).attr('id')=='price_type') {
					if(jQuery(this).val()==1) {
						jQuery('.fixed_price').css('display','block');
						jQuery('.wk_mp_headcus li').css('width','12%');
					} else {
						jQuery('.fixed_price').css('display','none');
						jQuery('.wk_mp_headcus li').css('width','19%');
						jQuery('.fixed_price input').val('0.0');
					}
				}
			});

			jQuery(document).on('change','#weight_type',function() {
				if(jQuery(this).val()==0) {
					jQuery('#weight').removeClass('required-entry');
				} else {
					jQuery('#weight').addClass('required-entry');
				}
			});


			jQuery('.addopt').click(function() {
				var i = parseInt(jQuery(this).attr('id'))+1;
				jQuery(this).attr('id',i);
			    var p = [];
			    var z='';
			    jQuery('.idval').each(function(j) {
			     	p[j] = jQuery(this).val();
			     	z=z+'<ul  class="wk_row_view wk_mp_headcus"><li><input type="checkbox" name="product_id['+i+'][]" class="options_pro_id" value='+jQuery(this).attr('id')+' />'+jQuery(this).val()+'</li><li class="fixed_price"><input type="text" name="default_price['+i+'][]" class="input-text validate-number validate-zero-or-greater validate-number-range number-range-0-99999999" value=0.0 disabled /></li><li class="fixed_price"><select class="select" name="default_price_type['+i+'][]" disabled><option value="1">Fixed</option><option value="0">Percentage</option></select></li><li><input type="text" name="default_qty['+i+'][]" class="input-text validate-number validate-zero-or-greater validate-number-range number-range-0-99999999" value="1" disabled /></li><li class="defined_qty'+i+'"><select class="select" name="selection_can_change_qty['+i+'][]" disabled><option value="1">Yes</option><option value="0">No</option></select></li><li><input type="text" name="default_position['+i+'][]" class="input-text validate-number validate-zero-or-greater validate-number-range number-range-0-99999999" disabled /></li><li><input class="default_product def'+i+'" type="radio" name="default['+i+'][]" value="1" disabled /></li></ul>'
				});
			    jQuery('.mainbundl').after("<div class='appendd'><button type='button' class='removopt button'><span><span>Remove Option</span></span></button><li><label class='required'><em>*</em><?php echo Mage::helper('mpbundleproduct')->__('Default Title')?>:</label><div class='input-box'><input type='text' name='bundle_options["+i+"][default_title]' class='required-entry input-text' /></div></li><li><label style='width:150px;'><?php echo Mage::helper('mpbundleproduct')->__('Input Type')?><select class='bundle_option_type' style='width:140px;' name='bundle_options["+i+"][type]' id='"+i+"'><option value='select'>Drop-down</option><option value='radio'>Radio Buttons</option><option value='checkbox'>Checkbox</option><option value='multi'>Multiple Select</option></select></label><label  style='width:150px;'><?php echo Mage::helper('mpbundleproduct')->__('Is Required')?><select style='width:140px;' name='bundle_options["+i+"][required]'><option value='1'>Yes</option><option value='0'>No</option></select></label><label  style='width:150px;'><?php echo Mage::helper('mpbundleproduct')->__('Position')?><input type='text' style='width:auto'name=bundle_options["+i+"][position] class='input-text validate-number validate-zero-or-greater validate-number-range number-range-0-99999999.9999' /></label></li><li><label><?php echo Mage::helper('mpbundleproduct')->__('Products') ?>:</label><div class='wk_content wk_mp_option-box'><ul class='wk_mp_headcus ul_first'><li >Name</li><li class='fixed_price'>Price</li><li class='fixed_price'>Price Type</li><li>Default Qty</li><li class='defined_qty"+i+"'>User Defined Qty</li><li>Position</li><li>Default</li></ul><div style='clear:both;'></div>"+z+" </li></div>");
				if(jQuery('#price_type').val()==1) {
			  		jQuery('.fixed_price').css('visibility','visible');
			 	}
			});

			jQuery('.wk_close').click(function(){
				jQuery(this).parent().remove();
			});

			jQuery(document).on('click','.removopt',function(){
				jQuery(this).parent().remove();
				var idd= parseInt(jQuery('.addopt').attr('id'));
				jQuery('.addopt').attr('id',idd-1);
			});


			jQuery(document).on('change','.bundle_option_type',function() {
				var checkin = parseInt(jQuery(this).attr('id'));
				if(jQuery(this).val()=='checkbox' || jQuery(this).val()=='multi') {
					jQuery('.defined_qty'+checkin).css('display','none');
					jQuery('.def'+checkin).each(function() {
						var temp=jQuery(this).clone();
						temp.attr('type','checkbox');
						jQuery(this).replaceWith(temp);
					});
				} else {
					jQuery('.def'+checkin).each(function() {
						var temp=jQuery(this).clone();
						temp.attr('type','radio');
						jQuery(this).replaceWith(temp);
					});
					jQuery('.defined_qty'+checkin).css('display','block');
					//jQuery('.default_product').attr('type','radio');
				}
			});

			jQuery(document).on('submit','#form-customer-product-new',function() {
				if(newCustomerProductForm.validator.validate()!=false) {
					jQuery('#save_butn span span').text('Saving..');
					jQuery('#save_butn').css('opacity','0.7');
				}
			});
			//jQuery('.options_pro_id').change(function(){
			jQuery(document).on('change','.options_pro_id',function() {	
				if(jQuery(this).is(':checked')) {
					jQuery(this).parents('.wk_row_view').find('input[type="text"],.default_product,select').each(function(){
						jQuery(this).removeAttr('disabled');
					});
				} else {
					jQuery(this).parents('.wk_row_view').find('input[type="text"],.default_product,select').each(function(){
						jQuery(this).attr('disabled','disabled');
						
					});
				}
			});
			jQuery('input#sku').change(function() {
				var len=jQuery('input#sku').val();
				var len2=len.length;
				if(len2==0) {
					alert("SKU can't be left empty");
					jQuery('div#skuavail').css('display','none');
					jQuery('div#skunotavail').css('display','none');
				} else {
					jQuery.ajax({
						url: "<?php echo Mage::getUrl('marketplace/marketplaceaccount/verifysku');?>",
						type: "POST",
						data: {sku:jQuery('input#sku').val()},
						dataType: 'html',
						success:function($data) {
							$data=JSON.parse($data);
							if($data.avl==1){
								jQuery('div#skuavail').css('display','block');
								jQuery('div#skunotavail').css('display','none');
							} else {
								jQuery('div#skunotavail').css('display','block');
								jQuery('div#skuavail').css('display','none');
								jQuery("input#sku").attr('value','');
							}
						}
					});
				}
			});
			
			jQuery("#wk_bodymain").delegate('.wk_plus ,.wk_plusend,.wk_minus, .wk_minusend ',"click",function() {
				var thisthis=jQuery(this);	
				if(thisthis.hasClass("wk_plus") || thisthis.hasClass("wk_plusend")) {
					if(thisthis.hasClass("wk_plus"))
						thisthis.removeClass('wk_plus').addClass('wk_plus_click');
					if(thisthis.hasClass("wk_plusend"))
						thisthis.removeClass('wk_plusend').addClass('wk_plusend_click');
					thisthis.prepend("<span class='wk_node_loader'></span>");
					jQuery.ajax({
						url  	:   "<?php echo $this->getUrl('marketplace/marketplaceaccount/categorytree/');?>",
						type 	:   "POST",
						data 	:   {CID:thisthis.siblings("input").val(),
									ML:thisthis.parent(".wk_cat_container").css("margin-left").replace("px","")},
						dataType:   "html",
						success :   function(content) {
							
							var newdata=  jQuery.parseJSON(content);
							len= newdata.length;
							var pxl= parseInt(thisthis.parent(".wk_cat_container").css("margin-left").replace("px",""))+20;
							thisthis.find(".wk_node_loader").remove();
							if(thisthis.attr("class") == "wk_plus")
							thisthis.attr("class","wk_minus");
							if(thisthis.attr("class") == "wk_plusend")
								thisthis.attr("class","wk_minusend");
							if(thisthis.attr("class") == "wk_plus_click")
								thisthis.attr("class","wk_minus");
							if(thisthis.attr("class") == "wk_plusend_click")
								thisthis.attr("class","wk_minusend");
						    for(i=0;i<len; i++){     
								id=newdata[i].id;
								nam=newdata[i].name;
								if(newdata[i].counting ==0) {
									thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_no"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" name="category[]" value='+ id +'></div>');
								} else {
									thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_plusend"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" name="category[]" value='+ id +'></div>');   
								}
							}
							thisthis.parent(".wk_cat_container").nextAll().slideDown(300);
						}
					});			
				}
				if(thisthis.hasClass("wk_minus") || thisthis.hasClass("wk_minusend")) {
					if(thisthis.attr("class") == "wk_minus")
						thisthis.attr("class","wk_plus");
					if(thisthis.attr("class") == "wk_minusend")
						thisthis.attr("class","wk_plusend");
					var thiscategory = thisthis.parent(".wk_cat_container");
					var marg= parseInt(thiscategory.css("margin-left").replace("px",""));
					while(thiscategory.next().hasClass("wk_removable")){
					  
					if(parseInt(thiscategory.next().css("margin-left").replace("px",""))>marg)
						thiscategory.next().slideUp("slow",function(){jQuery(this).remove();});
						thiscategory = thiscategory.next();	
						if(typeof thiscategory.next().css("margin-left")!= "undefined") {
							if( marg==thiscategory.next().css("margin-left").replace("px","")) {
							  break;
							}
						}
					}
				}		
			});
		});
	})(jQuery);	
</script>	
<script type="text/javascript">
	var i=2;
	function showOtherImage() {
		var newdiv = document.createElement('div');
		newdiv.setAttribute("id","childDiv"+i);
		newdiv.innerHTML = "<input type='file' name='images"+i+"' /><a href=\"javascript:;\" onclick=\"removeEvent('childDiv"+i+"')\"><?php echo Mage::helper('marketplace')->__(' Remove ') ?></a>";
		var ni = document.getElementById('otherimages');
		ni.appendChild(newdiv);
		i++;
	}
	function removeEvent(divNum) {
		var d = document.getElementById('otherimages');
		var olddiv = document.getElementById(divNum);
		d.removeChild(olddiv);
		i--;
	}
	
	function defaultimagevalue(object) {
		var strs=jQuery(object).prev('input').val().split('\\'); 
	    jQuery(object).val(strs[strs.length-1]);
	}
</script>
<?php } else {
	echo "<h2 style='color:#ff0000;font-weight:600'>".Mage::helper('marketplace')->__("FOR BECOME SELLER CONTACT TO ADMIN")."..</h2>";
}?>
