<?php 
	$isPartner= Mage::getModel('marketplace/userprofile')->isPartner();
	$helper=Mage::helper('marketplace');
	$customerid=Mage::getSingleton('customer/session')->getCustomerId();
	if($isPartner==1){?>
<script type="text/javascript">
if (typeof jQuery == 'undefined'){
    document.write(unescape("%3Cscript src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
}
</script> 
<style>
.wk_mp_headcus > li {width: 15% !important;}
</style>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script type="text/javascript">
  bkLib.onDomLoaded(function() {
        new nicEditor({fullPanel : true}).panelInstance('description');
        new nicEditor({fullPanel : true}).panelInstance('short_description');
  });
</script>

<?php
	$collection = Mage::getModel('sales/order')->getCollection();
	$categories = Mage::getModel('catalog/category')->getCollection()->addAttributeToSelect('*')->addIsActiveFilter();
	$allcatid = array();
	$k=0;
	foreach ($categories as $c) {
	   $allcatid[$k] = $c->getId();
	   $k++;
	}
	$finalcat=array_shift($allcatid);
	$partner=Mage::getModel('marketplace/userprofile')->getPartnerProfileById($customerid); ?>
	<?php if(($partner['twitterid']=='')||($partner['facebookid']=='')||($partner['bannerpic']=='')||($partner['logopic']=='')||($partner['complocality']=='')||($partner['countrypic']=='')||($partner['compdesi']=='')): ?>
		<div class="wk_profile_alert">
			<strong><?php echo $helper->__('Warning')?>! </strong><?php echo $helper->__('Please Complete')?>
			<a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/editprofile')?>" style="color: inherit;"><?php echo $helper->__('Your Profile')?></a>
			<span class="wk_close">X</span>
		</div>
	<?php endif; ?>
	<form action="<?php echo $this->getUrl('mpgroupproduct/index') ?>" enctype="multipart/form-data" method="post" id="form-customer-product-new">
		<div class="page-title">
			<h1 style="float:left;"><?php echo $helper->__('Add New Group Product') ?></h1>
			<button type="reset" class="button wk_mp_btn">
				<span><span><?php echo $helper->__('Cancel') ?></span></span>
			</button>
			<button class="button wk_mp_btn" title="<?php echo $helper->__('Save') ?>" type="submit" id="save_butn">
				<span><span><?php echo $helper->__('Save') ?></span></span>
			</button>
		</div>		
		<div class="wk_mp_design">
			<div class="block block-account">	
				<div class="block-title">	
					<strong><span><h4><?php echo $helper->__('Group Product') ?></h4></span></strong>
				</div>
			</div>
			<div class="fieldset wk_mp_fieldset">
				<input type="hidden" name="attribute_set_id" id="attribute_set_id" value="<?php echo $this->getRequest()->getParam('set')!=''? $this->getRequest()->getParam('set'):4;  ?>" />
				<input type="hidden" name="type_id" id="producttype" value="<?php echo $this->getRequest()->getParam('type')?>" />
				<input type="hidden"  name="wstoreids" id="wstoreids" value="<?php echo Mage::app()->getStore()->getStoreId(); ?>" title="wstoreids" class="" />
				<ul class="form-list" id="wk_bodymain">
					<li>
						<label class="required"><em>*</em><?php echo $helper->__('Product Category') ?>:</label>
						<div class="wk_field wk_category">
							<div class="wk_for_validation">
								<div id="wk_category_label"><?php echo $helper->__('CATEGORIES'); ?></div>
		             <?php	    $Mar_lef = 0;$count = 0;
								$category_helper = Mage::helper('catalog/category');
								$category_model = Mage::getModel('catalog/category');
								$_categories = $category_helper->getStoreCategories();
								$total = count($_categories->getNodes());
							    if($total > 0) {
								foreach($_categories as $_category)	{
										$count++;
									 if(count($category_model->getResource()->getAllChildren($category_model->load($_category['entity_id'])))-1 > 0){
										if($count <= $total) { ?>
										<div class="wk_cat_container" style="margin-left:0px;"><span class="wk_plus">
										</span><span class="wk_foldersign"></span>
										<span class="wk_elements wk_cat_name"><?php echo $_category->getName() ?></span><input class="wk_elements" type="checkbox" name="category[]" value='<?php echo $_category['entity_id'] ?>'/></div>
										
									<?php	} }
									 else 
									     {
									 ?><div class="wk_cat_container">
										</span><span class="wk_foldersign"></span>
										<span class="wk_elements wk_cat_name"><?php echo $_category->getName() ?></span><input class="wk_elements" type="checkbox" name="category[]" value='<?php echo $_category['entity_id'] ?>'/></div> 
								   <?php }
								   }                                  									   
								}				
                               ?>								 
							</div>
						</div>
					</li>
					<li>
						<label class="required"><em>*</em><?php echo $helper->__('Product Name') ?>:</label>
						<div class="input-box">
							<input type="name" class="required-entry input-text" name="name" id="name" />
						</div>
					</li>
					<li>
						<label><?php echo $helper->__('Description') ?>:</label>
						<div class="input-box">
							<textarea name="description" class="input-text" id="description" rows="5" cols="75" ></textarea>
						</div>
					</li>
					<li>
						<label><?php echo $helper->__('Short Description') ?>:</label>
						<div class="input-box">
							<textarea name="short_description" id="short_description" rows="5" cols="75" class="input-text"></textarea>
						</div>
					</li>
					<li>
						<label class="required"><em>*</em><?php echo $helper->__('SKU') ?>:</label>
						<div class="input-box">
							<input name="sku" id="sku" class="required-entry input-text" />
						</div>
						<div id="skuavail" >
							<span class="success-msg skuavailable"><?php echo $helper->__('SKU Available') ?></span>
						</div>
						<div id="skunotavail" >
							<span class="error-msg skunotavailable"><?php echo $helper->__('SKU Already Exist') ?></span>
						</div>
					</li>

					<li>
						<label class="required"><em>*</em><?php echo $helper->__('Stock Availability') ?>:</label>
						<div class="input-box">
							<select id="inventory_stock_availability" class="select" name="is_in_stock">
								<option value="1"><?php echo $helper->__("In Stock"); ?></option>
								<option value="0"><?php echo $helper->__("Out of Stock"); ?></option>
							</select>
						</div>
					</li>
					<li>
						<label><?php echo $helper->__('Sample Image') ?>:</label>
						<div class="input-box" style="width:380px;">
							<input type="file" name="dumimg" class="dumimg wk_imagevalidate" accept="image/*" size="33" ><input type="radio" value='' class='defaultimage' onClick='defaultimagevalue(this)' name="defaultimage"><span class='defaultimageset'><?php echo $helper->__("Base image"); ?></span>
							<br>
							<a href="#" onClick="showOtherImage(); return false;"><?php echo $helper->__('Add other image') ?></a>
							<br />
							<div id="otherimages"></div>
						</div>
					</li>
					<?php echo $this->getChildHtml(); ?>
					<li>
						<h2>
				         	<?php echo $helper->__('The Original Data Table Generated by Selected Date Range')?>
				        </h2>
					  	<div  id='table_div1 wk_mp_option-box'>
					  		<ul class="wk_mp_headcus ul_first">
								<li><?php echo $helper->__('Id')?></li>
								<li><?php echo $helper->__('Product Name')?></li>
								<li><?php echo $helper->__('Sku')?></li>
								<li><?php echo $helper->__('Price')?></li>
								<li><?php echo $helper->__('Deafult Qty')?></li>
								<li><?php echo $helper->__('Position')?></li>
							</ul>
					 	
						<?php	          
						    $partnerId=Mage::getSingleton('customer/session')->getCustomerId();
						    $collection=Mage::getModel('marketplace/product')->getCollection()
									->addFieldToFilter('userid',array('eq'=>$partnerId));             
						    foreach($collection as $key):
							 	$collection1 = Mage::getModel('catalog/product')->load($key->getMageproductid()); 	
							 
							   	if($collection1->getTypeId()!='grouped' && $collection1->getTypeId()!='configurable' && count($collection1->getOptions())==0 && $collection1->getStatus()!=2): ?>
							       <ul class="wk_mp_headcus">
								    <li><input type ="checkbox" class="checkin" name='ids[]' value ="<?php echo $key->getMageproductid();?> " /> </li>
									  
									<li>
										<?php echo $collection1->getName() ?>
									</li>

									<li>
									 <?php echo $collection1->getSku() ?>
									</li>
									
									<li>
									 <?php echo Mage::helper('core')->currency($collection1->getPrice()) ?>
									</li>

									<li><input type ="text" class='qt' id="<?php echo $key->getMageproductid()?>" name='' value='0'/></li>

									<li><input type ="text" class='opt' id="<?php echo $key->getMageproductid().'n' ?>"  name='' value='0'/></li>
									</ul>
								<?php endif; ?>  
						  	<?php endforeach;?>	
						</div>
					</li>
				</ul>
			</div>
		</div>
	</form>
<script> 
jQuery.noConflict();
(function(jQuery){
	var newCustomerProductForm = new VarienForm('form-customer-product-new', true);
	jQuery( "#special_from_date").datepicker({'dateFormat':'yy:mm:dd'});
	jQuery( "#special_to_date" ).datepicker({'dateFormat':'yy:mm:dd'});
	//jQuery('#save_butn').click(function(e){
		jQuery(document).on('click','form-customer-product-new',function(e){
		if(newCustomerProductForm.validator.validate()!=false){
			jQuery('#save_butn span span').text('Saving..');
			jQuery('.button').css('opacity','0.7');
			jQuery('.button').css('cursor','default');
			jQuery('.button').attr('disabled','disabled');
		}
	});
	jQuery(".dumimg").change(function(){
		jQuery( ".defaultimage" ).prop( "checked", false );
	});
	jQuery('input#sku').change(function(){
		var len=jQuery('input#sku').val();
		var len2=len.length;
		if(len2==0){
			alert("SKU can't be left empty");
			jQuery('div#skuavail').css('display','none');
			jQuery('div#skunotavail').css('display','none');
		}
		else{
			jQuery.ajax({
				url: "<?php echo Mage::getUrl('marketplace/marketplaceaccount/verifysku');?>",
				type: "POST",
				data: {sku:jQuery('input#sku').val()},
				dataType: 'html',
				success:function($data){
					$data=JSON.parse($data);
					if($data.avl==1){
						jQuery('div#skuavail').css('display','block');
						jQuery('div#skunotavail').css('display','none');
					}
					else{
						jQuery('div#skunotavail').css('display','block');
						jQuery('div#skuavail').css('display','none');
						jQuery("input#sku").attr('value','');
					}
				}
			});
		}
	});
	jQuery('.checkin').click(function(){
	 var pid=jQuery.trim(jQuery(this).val());
	 var npid=pid+'n';
	 if(jQuery(this).prop('checked')==true)
	 {
	  jQuery('#'+pid).attr('name','quant[]');
	  jQuery('#'+npid).attr('name','ord[]');
     }
     else
     {
	  jQuery('#'+pid).attr('name','');
	  jQuery('#'+npid).attr('name','');
	 }
	});
	
})(jQuery);
</script>	
<script type="text/javascript">
	var i=2;
	function showOtherImage(){
		var newdiv = document.createElement('div');
		newdiv.setAttribute("id","childDiv"+i);
		newdiv.innerHTML = "<input type='file' name='images"+i+"' accept='image/\*' class='wk_imagevalidate'/><input type='radio'  onClick='defaultimagevalue(this)'  value=''  class='defaultimage' name='defaultimage'><span class='defaultimageset'>Base image</span><a href=\"javascript:;\" onclick=\"removeEvent('childDiv"+i+"')\"><?php echo $helper->__('Remove ') ?></a>";
		var ni = document.getElementById('otherimages');
		ni.appendChild(newdiv);
		i++;
	}
	function removeEvent(divNum){
		var d = document.getElementById('otherimages');
		var olddiv = document.getElementById(divNum);
		d.removeChild(olddiv);
		i--;
	}
	function defaultimagevalue(object){
		var strs=jQuery(object).prev('input').val().split('\\'); 
	    jQuery(object).val(strs[strs.length-1]);
	}
	function catchanged(){
		jQuery("#wk_cp_cat_edited").val(1);
	}
	jQuery("body").delegate('.wk_imagevalidate',"change",function(){
		var ext = jQuery(this).val().split('.').pop().toLowerCase();
		if(jQuery.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
			jQuery(this).val('');
		    alert('invalid extension! Please Upload an image.');
		}
	});
	jQuery("#wk_bodymain").delegate('.wk_plus ,.wk_plusend,.wk_minus, .wk_minusend ',"click",function(){
		var thisthis=jQuery(this);	
		if(thisthis.hasClass("wk_plus") || thisthis.hasClass("wk_plusend")){
			if(thisthis.hasClass("wk_plus"))
				thisthis.removeClass('wk_plus').addClass('wk_plus_click');
			if(thisthis.hasClass("wk_plusend"))
				thisthis.removeClass('wk_plusend').addClass('wk_plusend_click');
			thisthis.prepend("<span class='wk_node_loader'></span>");
			jQuery.ajax({
				url  	:   "<?php echo $this->getUrl('marketplace/marketplaceaccount/categorytree/');?>",
				type 	:   "POST",
				data 	:   {CID:thisthis.siblings("input").val(),
							ML:thisthis.parent(".wk_cat_container").css("margin-left").replace("px","")},
				dataType:   "html",
				success :   function(content){
					var newdata=  jQuery.parseJSON(content);
					len= newdata.length;
					var pxl= parseInt(thisthis.parent(".wk_cat_container").css("margin-left").replace("px",""))+20;
					thisthis.find(".wk_node_loader").remove();
					if(thisthis.attr("class") == "wk_plus")
					thisthis.attr("class","wk_minus");
					if(thisthis.attr("class") == "wk_plusend")
						thisthis.attr("class","wk_minusend");
					if(thisthis.attr("class") == "wk_plus_click")
						thisthis.attr("class","wk_minus");
					if(thisthis.attr("class") == "wk_plusend_click")
						thisthis.attr("class","wk_minusend");
				    for(i=0;i<len; i++){     
						id=newdata[i].id;
						nam=newdata[i].name;
						if(newdata[i].counting ==0){
							thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_no"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" name="category[]" value='+ id +'></div>');
						}else{
							thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_plusend"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" name="category[]" value='+ id +'></div>');   
						}
					}
					thisthis.parent(".wk_cat_container").nextAll().slideDown(300);
				}
			});			
		}
		if(thisthis.hasClass("wk_minus") || thisthis.hasClass("wk_minusend")){
			if(thisthis.attr("class") == "wk_minus")
				thisthis.attr("class","wk_plus");
			if(thisthis.attr("class") == "wk_minusend")
				thisthis.attr("class","wk_plusend");
			var thiscategory = thisthis.parent(".wk_cat_container");
			var marg= parseInt(thiscategory.css("margin-left").replace("px",""));
			while(thiscategory.next().hasClass("wk_removable")){
			  
			if(parseInt(thiscategory.next().css("margin-left").replace("px",""))>marg)
				thiscategory.next().slideUp("slow",function(){jQuery(this).remove();});
				thiscategory = thiscategory.next();	
				if(typeof thiscategory.next().css("margin-left")!= "undefined"){
					if( marg==thiscategory.next().css("margin-left").replace("px",""))
					{
					  break;
					}
				}
			}
		}
		
	});
	jQuery('.wk_close').click(function(){
		jQuery(this).parent().remove();
	});
	
</script>
<?php }else{
	echo "<h2 class='wk_new_msg'>".$helper->__("FOR BECOME SELLER CONTACT TO ADMIN")."..</h2>";
}?>

