#reset_pin1_radio_mobile,#reset_pin1_radio_email{width: auto; margin: 0 10px 0 0; float:left; height: 19px;}
.emails-mobiles label {}
.emails-mobiles table{width:100%; float:left; margin-bottom:15px;}
.emails-mobiles table td{padding-bottom:5px; position:relative;}
.emails-mobiles table .remove-email,.emails-mobiles table .remove-mobile{width:25px; height:25px; background:#f6da0e url(../../images/delete.png) no-repeat center center; border:0 none; text-indent:-999px; overflow:hidden; text-transform:uppercase; position:absolute; left:265px; top:2px; cursor:pointer;}
.emails-mobiles table .add-email,.emails-mobiles table .add-mobile{width:25px; height:25px; background:#f6da0e url(../../images/plus.png) no-repeat center center;; border:0 none; padding:5px 10px; color:#fff; text-indent:-999px; overflow:hidden; text-transform:uppercase;cursor:pointer;}
.emails-mobiles table .add-email:hover,.emails-mobiles table .add-mobile:hover,.emails-mobiles table .remove-email:hover,.emails-mobiles table .remove-mobile:hover{ background-color:#383838;}
.bodacustomer-pin ul{float:left; width:100%; margin-bottom:10px;}
.bodacustomer-pin ul li {float: left; margin:0 1px 1px 0; position:relative;}
.bodacustomer-pin ul li:nth-child(6){clear:both;}
.boda-pin-images{cursor:pointer}
.deletePin{background:#f6da0e; color:#fff; border:0; padding:0; margin:0; height:auto; padding:3px 10px 5px 10px; margin-bottom:10px; float:left;}
.deletePin:hover{background:#383838;}
.deletePin[disabled]{background:#ddd; color:#999;}

.bodacustomer-pin ul li span{position:absolute; right:1px; bottom:1px; height:16px; width:16px; font-size:10px; line-height:16px; color:#000; text-align:center; background:#f6da0e; border-radius:16px; -webkit-border-radius:16px;}

#register-customer-password li{margin:0 1px 1px 0;}
.onepagecheckout_datafields .col-1 .form_fields #register-customer-password .short{ width:100%;}


.barcodeImg {
    border: 1px solid #fff; text-align: center;  padding: 10px; margin: 10px;
}


.spanred  { color: #eb4457; font-family: 'Enriqueta', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 12px; font-weight: bold;  }
.labelImg {width: 22px;}

#upload-wrapper input[type=file] {
    border: 1px solid #DDD;
    padding: 6px;
    background: #FFF;
    border-radius: 5px;
}
#upload-wrapper #submit-btn {
    border: none;
    padding: 10px;
    background: #61BAE4;
    border-radius: 5px;
    color: #FFF;
}
#output{
    padding: 5px;
    font-size: 12px;
}
#output img {
    border: 1px solid #DDD;
    padding: 5px;
}
.error{
    color:red;
}



#left {
    display: block;
    width: 100%;
    float: left;
    overflow: hidden;
    margin-right: 20px;
}

#userStats .pic {
    float: left;
    display: block;
    margin-right: 10px;
}
#userStats .data {
    float: left;
    display: block;
    position: relative;
    width: 65%;
    height: 150px;
    padding: 4px;
    padding-left: 15px;
    background: #e6e6e6;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
#userStats .data h1 {
    color: #474747;
    line-height: 1.6em;
    text-shadow: 0px 1px 1px #fff;
}
/**************** Barcode Search box **************/

h2 {
    font-family:sans-serif;
}
.list {
    font-family:sans-serif;
    margin:0;
    padding:20px 0 0;
}

.avatar {
    max-width: 150px;
}
img {
    max-width: 100%;
}
h3 {
    font-size: 16px;
    margin:0 0 0.3rem;
    font-weight: normal;
    font-weight:bold;
}
p {
    margin:0;
}

.sort {
    padding:8px 30px;
    border-radius: 6px;
    border:none;
    display:inline-block;
    color:#fff;
    text-decoration: none;
    background-color: #28a8e0;
    height:30px;
}
.sort:hover {
    text-decoration: none;
    background-color:#1b8aba;
}
.sort:focus {
    outline:none;
}
.sort:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
}
.sort.asc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content:"";
    position: relative;
    top:13px;
    right:-5px;
}
.sort.desc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    content:"";
    position: relative;
    top:-10px;
    right:-5px;
}
.customer-section {width:100%; display:block; position:relative; background:#F7F7F7;}
.scanned-no {float:left; width:28%;}
.order-area {float:right; width:69%; background:#fff;}
.num-search {background:#333; padding:19px;  display:block;}
.num-search .custome-search { display:block; position:relative; border:0; outline:none; padding:9px 12px 9px 34px; border-radius:16px; width:80%;}
.num-search label {position:absolute; left:29px; top:27px; font-size:16px;}
.search-head {padding:12px 9px; color:#fff; text-align:center; font-size:14px; background:#948C8C; text-transform:uppercase;}
.search-list {background:#fff; padding:12px;}
.search-list ul {margin:0; padding:0; list-style-type:none;}
.search-list ul li {padding:12px; border-bottom:1px solid #EFECEC; text-transform:uppercase; text-align:left;}
.search-list ul li a:hover{color:#ea7900;}
.search-list ul li span {padding-right:6px;}
.customer-details {margin:0; padding:12px;}
.customer-details .details-left {float:left; width:61%; border:1px solid #EFECEC; padding:12px; background:#F7F7F7;}
.customer-details .details-right {float:right; width:28%; border:1px solid #EFECEC; padding:10px 12px;}
.details-left .customer-img {float:left; width:29%; padding:3px; border:1px solid #EFECEC;}
.details-left .img-des {float:right; width:61%; text-align:left; padding-top:19px;}
.details-right .btn-1 {text-align:center; background:#060; padding:12px; color:#fff; display:block; margin-bottom:9px;}
.details-right .btn-1 .fa {font-size:26px;}
.details-right .btn-2 {text-align:center; background:#FC0; padding:11px 12px; color:#fff; font-size:16px; display:block; margin-bottom:9px; 
                       width:34%; float:left;}
.details-right .btn-3 {text-align:center; background:#FC0; padding:11px 12px; color:#fff; font-size:16px; display:block; margin-bottom:9px; 
                       width:34%; float:right;}
.order-tab {border-top:1px dotted #EFECEC; padding:16px 0; margin-top:6px;}
ul#tabs {list-style-type:none; margin:0 0 6px 0; padding:0; text-align: center;}
ul#tabs li {text-transform:uppercase; font-size:14px;display:inline-block; background-color:#383838; border-bottom:solid 5px #FC0;
            padding:9px 20px; margin-bottom:4px; color:#fff; cursor:pointer;}
ul#tabs li:hover {background-color:#28a5ed;}
ul#tabs li.active {background-color:#28a5ed;}
ul#tab {list-style-type:none; margin:0; padding:0;}
ul#tab li {display:none; padding:16px 9px; border:solid 6px #d2f4e9;}
ul#tab li.active {display:block;}
ul#tab li h2 {font-weight:400; margin-bottom:30px; padding-bottom:5px; border-bottom:solid 5px #32c896;}
.drop-left:first-child  {margin-left:0;}
.drop-left {float:left; width:23.5%; margin-left:2%; text-align:left;}
.drop-left label {margin-bottom:6px; display: block;}
.drop-left .input-drop { padding: 7px 14px; margin-bottom: 10px; width:100%;}
.center-text {text-align:center; border-top:1px dotted #ccc; border-bottom:1px dotted #ccc; padding:9px 0; margin-top: 12px;}
.order-bread {float:left; margin:9px 0;}
.order-bread span {color:#28a5ed;}
.bread-right {float:right; margin:9px 0;}
.order-bread a {color:#ea7900;}
.order-table table {width:100%;}
.order-table table, th, td {border:0px solid #fff; border-collapse:collapse;}
.order-table th, td {padding:9px 6px; text-align:center;}


.order-table table#Table1 tr:nth-child(even) {background-color:#eee;}
.order-table table#Table1 tr:nth-child(odd) {background-color:#fff;}
.order-table table#Table1 th{background-color:#383838; color:white;}

.order-table table#Table2 tr:nth-child(even) {background-color:#eee;}
.order-table table#Table2 tr:nth-child(odd) {background-color:#fff;}
.order-table table#Table2 th{background-color:#383838; color:white;}

.order-table table#Table3 tr:nth-child(even) {background-color:#eee;}
.order-table table#Table3 tr:nth-child(odd) {background-color:#fff;}
.order-table table#Table3 th{background-color:#383838; color:white;}

.customer-section {width:100%; display:block; position:relative; background:#F7F7F7;}
.scanned-no {float:left; width:28%;}
.order-area {float:right; width:69%; background:#fff;}
.num-search {background:#333; padding:19px;  display:block;}
.num-search .custome-search { display:block; position:relative; border:0; outline:none; padding:9px 12px 9px 34px; border-radius:16px; width:80%;}
.num-search label {position:absolute; left:29px; top:27px; font-size:16px;}
.search-head {padding:12px 9px; color:#fff; text-align:center; font-size:14px; background:#948C8C; text-transform:uppercase;}
.search-list {background:#fff; padding:12px;}
.search-list ul {margin:0; padding:0; list-style-type:none;}
.search-list ul li {padding:12px; border-bottom:1px solid #EFECEC; text-transform:uppercase; text-align:left;}
.search-list ul li a:hover{color:#ea7900;}
.search-list ul li span {padding-right:6px;}
.customer-details {margin:0; padding:12px;}
.customer-details .details-left {float:left; width:61%; border:1px solid #EFECEC; padding:12px; background:#F7F7F7;}
.customer-details .details-right {float:right; width:28%; border:1px solid #EFECEC; padding:10px 12px;}
.details-left .customer-img {float:left; width:29%; padding:3px; border:1px solid #EFECEC;}
.details-left .img-des {float:right; width:61%; text-align:left; padding-top:19px;}
.details-right .btn-1 {text-align:center; background:#060; padding:12px; color:#fff; display:block; margin-bottom:9px;}
.details-right .btn-1 .fa {font-size:26px;}
.details-right .btn-2 {text-align:center; background:#FC0; padding:11px 12px; color:#fff; font-size:16px; display:block; margin-bottom:9px; 
                       width:34%; float:left;}
.details-right .btn-3 {text-align:center; background:#FC0; padding:11px 12px; color:#fff; font-size:16px; display:block; margin-bottom:9px; 
                       width:34%; float:right;}
.order-tab {border-top:1px dotted #EFECEC; padding:16px 0; margin-top:6px;}
ul#tabs {list-style-type:none; margin:0 0 6px 0; padding:0; text-align: center;}
ul#tabs li {text-transform:uppercase; font-size:14px;display:inline-block; background-color:#383838; border-bottom:solid 5px #FC0;
            padding:9px 20px; margin-bottom:4px; color:#fff; cursor:pointer;}
ul#tabs li:hover {background-color:#28a5ed;}
ul#tabs li.active {background-color:#28a5ed;}
ul#tab {list-style-type:none; margin:0; padding:0;}
ul#tab li {display:none; padding:16px 9px; border:solid 6px #d2f4e9;}
ul#tab li.active {display:block;}
ul#tab li h2 {font-weight:400; margin-bottom:30px; padding-bottom:5px; border-bottom:solid 5px #32c896;}
.drop-left:first-child  {margin-left:0;}
.drop-left {float:left; width:100%; margin-left:2%; margin-bottom: 4%; text-align:left;}
.drop-left label {margin-bottom:6px; display: block;}
.drop-left .input-drop { border: solid 1px #ccc; border-radius: 5px; padding: 7px 14px; margin-bottom: 10px; width:100%;}
.center-text {text-align:center; border-top:1px dotted #ccc; border-bottom:1px dotted #ccc; padding:9px 0; margin-top: 12px;}
.order-bread {float:left; margin:9px 0;}
.order-bread span {color:#28a5ed;}
.bread-right {float:right; margin:9px 0;}
.order-bread a {color:#ea7900;}
.order-table table {width:100%;}
.order-table table, th, td {border:0px solid #fff; border-collapse:collapse;}
.order-table th, td {padding:9px 6px; text-align:center;}

.order-table table#Table1 tr:nth-child(even) {background-color:#eee;}
.order-table table#Table1 tr:nth-child(odd) {background-color:#fff;}
.order-table table#Table1 th{background-color:#383838; color:white;}

.order-table table#Table2 tr:nth-child(even) {background-color:#eee;}
.order-table table#Table2 tr:nth-child(odd) {background-color:#fff;}
.order-table table#Table2 th{background-color:#383838; color:white;}

.order-table table#Table3 tr:nth-child(even) {background-color:#eee;}
.order-table table#Table3 tr:nth-child(odd) {background-color:#fff;}
.order-table table#Table3 th{background-color:#383838; color:white;}

/*---------------------------cart page design css start --------------------*/
.cart-left {float:left; width:64%; background:#fff; padding:12px 9px;}
.total-right {float:right; width:29%; background:#fff; padding:12px 9px;}
.cart {text-align:left;}
.cart-left .width_1 {width:15%;}
.cart-left .width_2 {width:36%; }
.cart-left .width_3 {width:19%; text-align:center;}
.cart-left .width_4 {width:16%; text-align:center;}
.cart-left .width_full {width:100%;}
.cart-left .product-name {padding-bottom:1px; margin-bottom:1px; font-weight:200; font-size:11px;}
.qty-input{width:29px; text-align:center; background:#fff;padding:3px;}
.price-input {width:49px; text-align:center; background:#fff;padding:3px; color:#000;}
.btn-1 {background:#3a70c0; padding:9px 12px; float:left; outline:none; border:0; text-transform:none; color:#fff; text-align:center; margin-right:16px;}
.btn-2 {background:#3a70c0; padding:9px 12px; float:left; outline:none; border:0; text-transform:none; color:#fff; text-align:center; margin-right:16px;}
.btn-3 {background:#030; padding:9px 12px; float:right; outline:none; border:0; text-transform:none; color:#fff; text-align:center; margin-right:16px;}
.b-bottom {border-bottom:1px solid #E5E5E5; padding-bottom:16px; }
.c-name input {background:#F7F7F7; padding:6px; margin-bottom:12px; outline:0; border:1px solid #ccc; width:79%; float:left;}
.c-edit {background:#3a70c0; float:left; padding:6px; outline:none; border:1px solid #3a70c0; text-transform:none; color:#fff; text-align:center;}
.amount {border:1px solid #ccc; background:#F7F7F7; text-align:center; color:#000; padding:16px 6px;}
.amount .c-edit {background:#CC0000; float:none; margin:auto; margin-top:16px; display:block; border:0; width:99px; }
.amount h1 {border-bottom:1px dotted #CCC; padding-bottom:9px;}
.amount h4 {border-bottom:1px dotted #CCC; padding-bottom:9px; color:#999}
.pay-area {margin:19px 0;}
.pay-area .btn-a {display:inline-block; width:25%; text-align:center; margin:auto; float:none; background:#666; color:#fff; padding:9px; margin:2px 1px;}
.pay-area .active {background:#000;}
.pay-body {padding:6px; border:1px solid #ccc; margin:9px 0;}
.pay-body h4 {text-align:left; border-bottom:1px solid #F3F3F3; padding:6px;}
.c-center {text-align:center; margin:16px 0; font-size:16px;}
.pay-body a {text-align:center; background:#030; padding:9px; color:#fff; margin-top:19px; margin-bottom:0px; display:block;}
.order-btn {background:#3a70c0; color:#fff; font-size:16px; padding:9px; float:right; margin-bottom:9px;}
/*---------------------------cart page design css End --------------------*/

