<?php 
/**
 * @category Customer Version 2.4
 * @package MageB2B_Sublogin
 * @author AIRBYTES GmbH <info@airbytes.de>
 * @copyright AIRBYTES GmbH
 * @license commercial
 * @date 28.01.2015
 */
?>
<?php
	$_order = Mage::registry('current_order');
	$subloginModel = Mage::helper('sublogin')->getCurrentSublogin();
	
	// show links to main login only and hide them for sublogin
	if (!$subloginModel)
	{
		$separator = "";
		if (!$_order)
		{
			$_order = $this->getData('_order');
		}
		else
		{
			// in else: so we are on order view page so need separator
			$separator = "<span class='separator'>|</span>";
		}
		
		if ($_order->getStatus() == 'approval') {
			echo $separator."<a href='".$this->getUrl('sublogin/frontend/approveorder', array('order_id'=>$_order->getId()))."'>".Mage::helper('sublogin')->__('Approve Order')."</a>";
			
			echo " | "."<a href='".$this->getUrl('sublogin/frontend/declineorder', array('order_id'=>$_order->getId()))."'>".Mage::helper('sublogin')->__('Decline')."</a>";
		} 
	}
?>