
.nav-container{
    
}
#custommenu {
    z-index: 999;
}
div.menu {
    float: left;
    position:relative;
}
div.menu.act {
}

div.menu.active {
    /*height:31PX;*/
}
.header.fixed div.wp-custom-menu-popup{
    top:51px !important;
}
div.menu.act a, div.menu.active a, div.menu .parentMenu a:hover{
    background-color: #F9F9F9;    
}
/*div.menu.active a{*/
/*    color:#03997e;*/
/*}*/
div.wp-custom-menu-popup {
    position: absolute;
    z-index: 3000;
    display: none;
    background-color: #F9F9F9;
    text-align: left;
    padding: 20px 15px 0px 15px;
    max-width: 1170px !important;
    top: 49px !important;
    border-top: none;
    
}

div.menu a{
    position: relative;
    z-index: 99;
    padding: 0px 21px 0px 21px;
    height: 49px;
    line-height: 49px;
    text-transform: uppercase;
}
div.menu.parent a span{float: left;}
div.menu.parent a span.errow{display: none;background-image: url(../../images/menu_arrow.png);background-repeat: no-repeat;width: 8px;height: 6px;float: right;margin: 21px 0px 0px 5px;}
div.menu a span.errow{display: none;}
div.menu a, div.wp-custom-menu-popup a {
    text-decoration: none;
    display:block;
    
}
div.wp-custom-menu-popup a{
    text-transform:capitalize;
}
div.wp-custom-menu-popup .itemMenu{
    width:169px;
}
div.wp-custom-menu-popup a.itemMenuName{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E5E5E5;
    font-size: 18px;
    color: #03997e;
}
div.wp-custom-menu-popup a.itemMenuName:hover,
div.wp-custom-menu-popup a.actParent,
div.wp-custom-menu-popup a.act{
    
}
div.wp-custom-menu-popup .itemSubMenu a.itemMenuName{
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: block;
    padding: 0px;
    background: none;
    color: #666666;
    font-size: 13px;
    padding: 0 0px;
}
div.wp-custom-menu-popup .itemSubMenu a.itemMenuName:before{
    font-family: FontAwesome;
    font-weight: bold;
    width: 13px;
    height: 13px;
    border:1px solid;
    border-radius: 100%;
    font-weight: bold;
    text-align: center;
    line-height: 13px;
    display: inline-block;
    margin-right: 10px;
    font-size: 11px;
    position: relative;
    top: -1px;
}

div.wp-custom-menu-popup .itemSubMenu a.itemMenuName:hover{
    text-decoration: none;
    color: #03997e;
}
div.column {
    padding-right:30px;
    float: left;

}
div.column.last{
    padding-right:0px;
}
div.column:nth-of-type(6n) {
    padding-right:0px;
}
div.itemSubMenu {
    line-height:2.3;
    padding-bottom:20px;
}
/*header-fixed*/
/*.header2.fixed div.wp-custom-menu-popup{max-width: 1132px !important;}
.header2.fixed div.column{padding-right:48px;}
.header2.fixed div.column.last{padding-right:0px;}*/
/*end header-fixed*/

.clearBoth {
    clear:both;
}
#custommenu.rtl .menu {
    float: right;
}
#custommenu.rtl div.column {
    text-align: right;
}
.menu_customlinks{margin-bottom:20px;border-top:1px solid #e5e5e5;padding-top:10px;}
.menu_customlinks li{display:inline-block;line-height:2;}
.menu_customlinks li a{margin:0px 8px;}
.menu_customlinks li a:hover{color: #03997e;text-decoration: none;}
.menu-block{margin-bottom:20px;display:inline-block;}
.menu-block h2{font-weight: normal;margin-bottom: 15px;border-bottom: 1px solid #E5E5E5;padding-bottom: 10px;}
.menu-block p{line-height:1.5em;}
.menu-block .menu-block-contain{width: 100%;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;float: left;}
.menu-block .menu-image{width:50%;float:right;padding:0 0 0 20px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;}
.menu-block .menu-image img{max-width:100%;}






/*IE7 fix*/
*:first-child+html #custommenu {
    z-index: 998;
}
/*MOBILE MENU STYLES*/
#menu-button, .parentMenu {
    display: inline-block;
}
html[xmlns] #menu-button, html[xmlns] .parentMenu {
    display: block;
}
* html #menu-button, * html .parentMenu {
    height: 1%;
}
#menu-button:after, .parentMenu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#custommenu-mobile {
    /*position:relative;*/
    margin: 0 auto;
    padding: 0;
    z-index: 999;
    float: left;
    width: 100%;
}
#menu-button {
}
#menu-button:active{
}
#menu-button a{
    color: #FFF;
    float: none !important;
    padding: 10px 0px 10px 0px;
    text-transform: uppercase;
    padding: 0px 28px;
    height: 49px;
    line-height: 49px;
    background:#03997e;
    font-size: 2em;
    text-align: left;
}
#menu-button a:before{font-family: FontAwesome;font-size: 1.5em;float: left;}
#menu-button a span{margin: 0px 0px 0px 20px;}
#menu-button a:hover{
    text-decoration:none;
}
#menu-button a:link, #menu-button a:visited {
    display: block;
    float: left;
    position: relative;
}
#menu-button a{
    float: right;
}
#menu-button:hover {
    cursor: pointer;
}
#menu-button:hover a:after {
    opacity: 1;
}
#menu-content {
    width:100%;
    position:absolute;
    z-index:11000;
}
.menu-mobile div.column {
    float:none;
    padding:5px;
    background: #fff;
}
.menu-mobile a.itemMenuName {
    display: block;
    text-align: left;
}
.menu-mobile div.menu-button, .menu-mobile div.menu-mobile {
    float: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    border-bottom: 1px solid #fff;
}
.menu-mobile div.column {
    float: none;
    width: 100%;
    padding: 0px 0;
    margin: 0px 0px 0px 0px;
}
.menu-mobile a.level1:link, .menu-mobile a.level1:visited {
    margin-top: 0px;
    margin-bottom: 0;
    padding: 10px 10px;
    border-radius: 2px;
    color: #000;
}
.menu-mobile a.level2:link, .menu-mobile a.level2:visited {
    padding: 10px 10px;
    border-radius: 2px;
}
.menu-mobile a.level1:link, .menu-mobile a.level1:visited {
    color: #555;
}
.menu-mobile a.level1:hover {
    background-color: #f1f1f1;
}
.menu-mobile .parent {
    background-color: #fff;
}
/*buttons level 01*/
.menu-mobile .parentMenu {
    padding: 0px 0px;
    display: block;
    text-align: left;
    border-bottom: 1px solid #dadada;
}
.menu-mobile .parentMenu a:link, .menu-mobile .parentMenu a:visited {
    padding: 10px 0px 10px 10px;
    margin-right: 80px;
    display: block;
    text-decoration:none;
}
.menu-mobile .parentMenu:hover {
    cursor: pointer;
}
.parentMenu {
    position: relative;
}
.parentMenu a {
    display: block;
}
#menu-button {
    cursor: pointer;
}
.menu-mobile div.level2 {
    margin-bottom: 0;
}
#custommenu-mobile .button {
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 0px;
    display: block;
    width: 80px;
    height: 38px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJxJREFUeNpi/P//PwM66O3tBVF1UNwEwsXFxRjqmBhwg3wgZobSWAE+zcxoNEmaCQKKNDP29PTgkvsAxPxA/BGIBXDZ3A7Ef4D4Pxrmh6rhxyL3E4gbQZqL8AUKDsAG0gfS3AfEf0nU/AuIJ4I0VwIxC8j/aPgjVOFHLHLsQFzDiCeFoQQYqSmMtvGMT/NfNJokzQug9HRcCgACDAC34CnSSWx3zwAAAABJRU5ErkJggg==);
}
#custommenu-mobile .button.open {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE5JREFUeNpi/P//PwO5gImBAjBENbP09vZSZHM7EP8B4v8k4J9A3AjSXATEzCRaygbSB9LcB8R/SdT8C4gnsgCJSigmGTCOpjDSAECAAQBI6RqpQRaDFgAAAABJRU5ErkJggg==);
}
#custommenu-mobile .level1 .button {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIxJREFUeNpi/P//PwO5gAWbYG9vL4ZYcXExhhgTAwUAn+YJQAzyUxcuBYwwP2Nx6k8gZgPid0AsjM0L+Gxmg9LMxDob5lTkKOBHEuvCpzmZQBgl4NNcD8SvcWgEiTfhi+c+KGZAcvpHIBbAG9pYEglKaJOaSCqB+BrUK8QnTyxeYCDa2dRIngQBQIABAGG6KfxEmzSnAAAAAElFTkSuQmCC);
}
#custommenu-mobile .level1 .button.open {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpi/P//PwO5gImBAjBwmllgjN7eXqI1FRcXU9/ZE4D4Px7chU9zMgHLEvBprgfi1zg0gsSbsAYYFPRBMVGAcQSmMIo0AwQYAIYUFeQ3G04OAAAAAElFTkSuQmCC);
}
/*BG*/
#custommenu-mobile  .parentMenu:hover a:link, #custommenu-mobile  .parentMenu:hover a:visited, #custommenu-mobile  .parentMenu:hover {
    background-color: #fff;
}
#custommenu-mobile .level0 {
    background-color: #F9F9F9;
}
#custommenu-mobile .level1 {
    background-color: #e4e4e4;
}
#custommenu-mobile .level1 .parentMenu{
    padding-left: 15px;
}
#custommenu-mobile .level2 {
    background-color: #f1f1f1;
}
#custommenu-mobile .level2 .parentMenu{
    padding-left: 30px;
}

