<script type="text/javascript">
	if (typeof $wk_jq == 'undefined'){
		document.write(unescape("%3Cscript src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'%3E%3C/script%3E"));
	}
</script> 
<style>
.wk_mp_headcus > li {width: 15% !important;}
</style>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<?php

	$isPartner= Mage::getModel('marketplace/userprofile')->isPartner();
	$helper=Mage::helper('marketplace');
	$customerid=Mage::getSingleton('customer/session')->getCustomerId();
	if($isPartner==1){
		$rightseller=Mage::getModel('marketplace/userprofile')->isRightSeller($this->getRequest()->getParam('id'));
		if($rightseller){
?>
<script type="text/javascript">
  bkLib.onDomLoaded(function(){
	new nicEditor({fullPanel : true}).panelInstance('description');
	new nicEditor({fullPanel : true}).panelInstance('short_description');     
  });
</script>

<?php
	$urlid=$this->getRequest()->getParam('id');
	
	$loadpro =Mage::getModel('catalog/product')->load($urlid);
   
	$cat=$loadpro->getCategoryIds();
	$instock =  Mage::getModel('cataloginventory/stock_item')->loadByProduct($urlid)->getIsInStock();				
	$qtyStock = Mage::getModel('cataloginventory/stock_item')->loadByProduct($urlid)->getQty();				
	$categories = Mage::getModel('catalog/category')->getCollection()->addAttributeToSelect('*')->addIsActiveFilter();
	$allcatid = array();
	$k=0;
	foreach($categories as $c){
		$allcatid[$k] = $c->getId();
		$k++;
	}
	$finalcat=array_shift($allcatid);	
	$partner=Mage::getModel('marketplace/userprofile')->getPartnerProfileById($customerid); ?>
	<?php if(($partner['twitterid']=='')||($partner['facebookid']=='')||($partner['bannerpic']=='')||($partner['logopic']=='')||($partner['complocality']=='')||($partner['countrypic']=='')||($partner['compdesi']=='')): ?>
		<div class="wk_profile_alert">
			<strong><?php echo $helper->__('Warning')?>! </strong><?php echo $helper->__('Please Complete')?>
			<a href="<?php echo $this->getUrl('marketplace/marketplaceaccount/editprofile')?>" style="color: inherit;"><?php echo $helper->__('Your Profile')?></a>
			<span class="wk_close">X</span>
		</div>
	<?php endif; ?>
	<form action="<?php echo $this->getUrl('mpgroupproduct/index/editapprovedgrouped') ?>" enctype="multipart/form-data" method="post" id="form-customer-product-editPost">
		<div class="page-title">
			<h1 style="float:left;"><?php echo $helper->__('Edit Group Product') ?></h1>
			<button class="button wk_mp_btn" title="<?php echo $helper->__('Save') ?>" type="submit" id="save_butn">
				<span><span><?php echo $helper->__('Save') ?></span></span>
			</button>
		</div>		
		<div class="wk_mp_design">
			<div class="block block-account">	
				<div class="block-title">	
					<strong><span><h4><?php echo $helper->__('Group Product') ?></h4></span></strong>
				</div>
			</div>
			<div class="fieldset wk_mp_fieldset">
				<input type="hidden" name="productid" value="<?php echo $urlid; ?>" />
				<ul class="form-list" id="wk_bodymain">
					<?php if(($partner['twitterid']=='')||($partner['facebookid']=='')||($partner['bannerpic']=='')||($partner['logopic']=='')||($partner['complocality']=='')||($partner['countrypic']=='')||($partner['compdesi']=='')){?>
					<?php } ?>
					<li>
						<label class="required"><em>*</em><?php echo $helper->__('Product Category') ?>:</label>
						<div class="wk_field wk_category">
							<div class="wk_for_validation">
								<div id="wk_category_label"><?php echo $helper->__("CATEGORIES"); ?></div>
								<?php $Mar_lef = 0;$count = 0;$categories = $loadpro->getCategoryIds();
								$category_helper = Mage::helper("catalog/category");
								$category_model = Mage::getModel("catalog/category");
								$_categories = $category_helper->getStoreCategories();
								$total = count($_categories->getNodes());
							    if($total > 0) {
										foreach($_categories as $_category)	{
												$count++; 
							        if(count($category_model->getResource()->getAllChildren($category_model->load($_category['entity_id'])))-1 > 0){
												if($count <= $total) { ?>
												<div class="wk_cat_container"><span class="wk_plus">
												</span><span class="wk_foldersign"></span>
												<span class="wk_elements wk_cat_name"><?php echo $_category->getName() ?></span>
												<?php if(in_array($_category["entity_id"],$categories)) {?>
												<input onchange='catchanged()' class="wk_elements" type="checkbox" name="category[]" value=<?php echo $_category['entity_id'] ?>  checked > </div>
												<?php }
												else { ?>
												<input onchange='catchanged()' class="wk_elements" type="checkbox" name="category[]" value=<?php echo $_category['entity_id'] ?> > </div>
												<?php } ?>
											<?php	} }
											 else 
											     {
											 ?><div class="wk_cat_container">
												</span><span class="wk_foldersign"></span>
												<span class="wk_elements wk_cat_name"><?php echo $_category->getName() ?></span>
												<?php if(in_array($_category["entity_id"],$categories)) {?>
												<input onchange='catchanged()' class="wk_elements" type="checkbox" name="category[]" value=<?php echo $_category['entity_id'] ?> checked > </div>
												 <?php }
												else { ?>
												<input onchange='catchanged()' class="wk_elements" type="checkbox" name="category[]" value=<?php echo $_category['entity_id'] ?>></div>
												<?php } 
										    }
										   }                                  									   
										}								
								     ?> 
								
							</div>
						</div>
					</li>
					<li>
						<label class="required"><em>*</em><?php echo $helper->__('Product Name') ?>:</label>
						<div class="input-box">
							<input type="name" class="required-entry input-text" name="name" id="name" value="<?php echo $loadpro->getName(); ?>" />
						</div>
					</li>
					<li>
						<label><?php echo $helper->__('Description') ?>:</label>
						<div class="input-box">
							<textarea name="description" id="description" rows="5" cols="75" ><?php echo $loadpro->getDescription(); ?></textarea>
						</div>
					</li>
					<li>
						<label><?php echo $helper->__('Short Description') ?>:</label>
						<div class="input-box">
							<textarea name="short_description" id="short_description" rows="5" cols="75"><?php echo $loadpro->getShortDescription();?></textarea>
						</div>
					</li>
					<?php if($loadpro->getStatus()==1){?>
					<li>
						<label class="required"><em>*</em><?php echo $helper->__('Status') ?>:</label>
						<div class="input-box">
							<input type="radio" class="" name="status" id="status" checked="checked" value="1" /><?php echo $helper->__("Enable"); ?><br>
							<input type="radio" class="" name="status" id="status" value="2" /><?php echo $helper->__("Disable"); ?>
						</div>
					</li>
					<?php }?>
					
					<li>
						<label class="required"><em>*</em><?php echo $helper->__('SKU') ?>:</label>
						<div class="input-box">
							<input name="sku" id="sku" class="input-text required-entry" value="<?php  echo $loadpro->getsku(); ?>"/> 
						</div>
						<div id="skuavail" >
							<span class="success-msg skuavailable"><?php echo $helper->__('SKU Available') ?></span>
						</div>
						<div id="skunotavail" >
							<span class="error-msg skunotavailable"><?php echo $helper->__('SKU Already Exist') ?></span>
						</div>
					</li>
					
					<li>
						<label class="required"><em>*</em><?php echo $helper->__('Stock Availability') ?>:</label>
						<div class="input-box">
							<select id="inventory_stock_availability" class="select" name="is_in_stock">
								<option <?php if($instock==1)echo "selected"; ?> value="1"><?php echo $helper->__("In Stock"); ?></option>
								<option <?php if($instock==0)echo "selected"; ?> value="0"><?php echo $helper->__("Out of Stock"); ?></option>
							</select>
						</div>
					</li>
					
					<li>
						<label><?php echo $helper->__('Sample Image') ?>:</label>
						<div class="input-box" style="width:380px;">
							<input type='file' name='images' class="wk_imagevalidate" accept="image/*"/><input type="radio" value='' class='defaultimage' onchange='defaultimagevalue(this)' name="defaultimage"><span class='defaultimageset'><?php echo $helper->__("Base image"); ?></span>
							<br>
							<a class="wk_add_image" href='#' onClick='showOtherImage(); return false;'><?php echo $helper->__("Add Other Image");?></a><br/>
							<div id='otherimages'></div>
							<div class="image_set">
								<?php $_product = Mage::getModel('catalog/product')->load($loadpro->getId())->getMediaGalleryImages();
								$_productimage = Mage::getModel('catalog/product')->load($loadpro->getId())->getImage();
								 if($_product) {  ?>
									<?php $i=0;
									  foreach($_product as $_image) {
									  $check=$_productimage==$_image->getFile()?"checked='checked'":'';
									  $i++; 
									  ?>
									  <div class="setimage">
										  <img id="<?php echo $_image->getFile(); ?>" pid="<?php echo $loadpro->getId(); ?>" src="<?=$this->helper('catalog/image')->init($_product, 'thumbnail',$_image->getFile())->resize(200, 130); ?>" width="50" height="50" alt="<?=$this->htmlEscape($_image->getLabel());?>" title="<?=$this->htmlEscape($_image->getLabel()); ?>" />
										  <span class="wk_imagedelete" title="Delete">
										  	<img src="<?php echo $this->getSkinUrl('marketplace/images/deleteIcon.png'); ?>" alt="<?php echo $helper->__('Delete Image')?>" title="<?php echo $helper->__('Delete Image')?>"/>
										  </span><br>
										  <input type="radio" name="defaultimage" <?php echo  $check ?>  class='defaultimage' value='<?php echo $_image->getValueId(); ?>'><div class='defaultimageset'><?php echo $helper->__("Base image"); ?></div>
									  </div>
								   <?php  } 
								   } ?>
							</div>
						</div>
					</li>
					<?php echo $this->getChildHtml();?>
					<li>
						<h2>
				         	<?php echo $helper->__('The Original Data Table Generated by Selected Date Range')?>
				        </h2>
					  	<div  id='table_div1 wk_mp_option-box'>
					  		<ul class="wk_mp_headcus ul_first">
								<li><?php echo $helper->__('Id')?></li>
								<li><?php echo $helper->__('Product Name')?></li>
								<li><?php echo $helper->__('Sku')?></li>
								<li><?php echo $helper->__('Price')?></li>
								<li><?php echo $helper->__('Deafult Qty')?></li>
								<li><?php echo $helper->__('Position')?></li>
							</ul>
							<?php foreach($loadpro->getTypeInstance(true)->getAssociatedProducts($loadpro) as $key):
								$collection1 = Mage::getModel('catalog/product')->load($key->getId()); ?>
								<ul class="wk_mp_headcus">
								    <li><input type ="checkbox" class="checkin" name='ids[]' value ="<?php echo $key->getId();?> " checked /></li>
									  
									<li><?php echo $collection1->getName() ?></li>

									<li><?php echo $collection1->getSku() ?></li>
									
									<li><?php echo Mage::helper('core')->currency($collection1->getPrice()) ?></li>

									<li><input type ="text" class="qt"  id="<?php echo $key->getId()?>" name='quant[]' value='<?php echo number_format($key->getQty(),2)?>'/></li>

									<li><input type ="text" class="opt" id="<?php echo $key->getId().'n' ?>"  name='ord[]' value='<?php echo $key->getPosition()?>'/></li>
								<ul>
							<?php endforeach; ?>
						</div>
				</ul>
			</div>
		</div>
	</form>
<script> 
var $wk_jq=jQuery.noConflict();
(function($wk_jq){
	var newCustomerProductForm = new VarienForm('form-customer-product-editPost', true);
	$wk_jq( "#special_from_date" ).datepicker({'dateFormat':'yy:mm:dd'});
	$wk_jq( "#special_to_date" ).datepicker({'dateFormat':'yy:mm:dd'});
	//$wk_jq('#save_butn').click(function(){
	
	jQuery('.checkin').click(function(){
	 var pid=jQuery.trim(jQuery(this).val());
	 var npid=pid+'n';
	 if(jQuery(this).prop('checked')==true)
	 {
	  
	  jQuery('#'+pid).attr('name','quant[]');
	  jQuery('#'+pid).prop('disabled', false);
	  jQuery('#'+npid).attr('name','ord[]');
	  jQuery('#'+npid).prop('disabled', false);
	
     }
     else
     {
	  jQuery('#'+pid).attr('name','');
	  jQuery('#'+pid).prop('disabled', true);
	  jQuery('#'+npid).attr('name','');
	  jQuery('#'+npid).prop('disabled', true);
	 
	 }
	});
	
	$wk_jq(document).on('submit','#form-customer-product-editPost',function(){
		if(newCustomerProductForm.validator.validate()!=false){
			$wk_jq('#save_butn span span').text('Saving..');
			$wk_jq('.button').css('opacity','0.7');
			$wk_jq('.button').css('cursor','default');
			$wk_jq('.button').attr('disabled','disabled');
		}			
	});
	$wk_jq(".dumimg").change(function(){
		$wk_jq( ".defaultimage" ).prop( "checked", false );
	});
	$wk_jq(function(){
		$wk_jq('input#sku').change(function(){
			var len=$wk_jq('input#sku').val();
			var len2=len.length;
			if(len2==0){
				alert("<?php echo $helper->__('SKU can\'t be left empty ') ?>");
				$wk_jq('div#skuavail').css('display','none');
				$wk_jq('div#skunotavail').css('display','none');
			}
			else{
				$wk_jq.ajax({
					url: "<?php echo Mage::getUrl('marketplace/marketplaceaccount/verifysku');?>",
					type: "POST",
					data: {sku:$wk_jq('input#sku').val()},
					dataType: 'html',
					success:function($data){
						$data=JSON.parse($data);
						if($data.avl==1){
							$wk_jq('div#skuavail').css('display','block');
							$wk_jq('div#skunotavail').css('display','none');
						}
						else{
							$wk_jq('div#skunotavail').css('display','block');
							$wk_jq('div#skuavail').css('display','none');
							$wk_jq("input#sku").attr('value','');
						}
					}
				});
			}
		});
	
		$wk_jq('.image_set span').click(function(event){
			var dicisionapp=confirm('<?php echo $helper->__(" Are you sure you want to delete this image ? ")?>');
			if(dicisionapp==true){
				var deleteflag=0;			
				var thisthis = $wk_jq(this);
				var imag = thisthis.prev('img').attr('id');
				thisthis.html("<img src='<?php echo $this->getSkinUrl('marketplace/images/loading.gif'); ?>'/>");
				thisthis.removeClass('wk_imagedelete');
				thisthis.addClass('wk_imagedeleteload');				
				$wk_jq.ajax({
					url: "<?php echo $this->getUrl('marketplace/marketplaceaccount/deleteimage');?>",
					type: "POST",
					data: {file:thisthis.prev('img').attr('id'),pid:thisthis.prev('img').attr('pid')},
					dataType: 'html',
					success:function(content){
						thisthis.parent('div.setimage').remove();
					}
				});							
			}		
		});
		$wk_jq('.wk_imagedelete img').mouseover(function(event){
			$wk_jq(event.target).css('width','22px');
		});
		$wk_jq('.wk_imagedelete img').mouseout(function(event){
			$wk_jq(event.target).css('width','20px');
		});
	})
})($wk_jq);
</script>	

<script type="text/javascript">
	var newCustomerProductForm = new VarienForm('form-customer-product-editPost', true);
	var i=2;
	function showOtherImage() {
		var newdiv = document.createElement('div');
		newdiv.setAttribute("id","childDiv"+i);
		newdiv.innerHTML = "<input type='file' name='images"+i+"' accept='image/\*' class='wk_imagevalidate'/><input type='radio'  onClick='defaultimagevalue(this)'  value=''  class='defaultimage' name='defaultimage'><span class='defaultimageset'><?php echo $helper->__('Base image '); ?></span><a href=\"javascript:;\" onclick=\"removeEvent('childDiv"+i+"')\"><?php echo $helper->__('Remove ') ?></a>";
		var ni = document.getElementById('otherimages');
		ni.appendChild(newdiv);
		i++;
	}

	function defaultimagevalue(object){
	  var strs=jQuery(object).prev('input').val().split('\\'); 
	  jQuery(object).val(strs[strs.length-1]);
	}

	function removeEvent(divNum){
		var d = document.getElementById('otherimages');
		var olddiv = document.getElementById(divNum);
		d.removeChild(olddiv);
		i--;
	}
	function catchanged(){
		jQuery("#wk_cp_cat_edited").val(1);
	}
	jQuery("body").delegate('.wk_imagevalidate',"change",function(){
		var ext = jQuery(this).val().split('.').pop().toLowerCase();
		if(jQuery.inArray(ext, ['gif','png','jpg','jpeg']) == -1) {
			jQuery(this).val('');
		    alert('invalid extension! Please Upload an image.');
		}
	});	
	jQuery('.wk_close').click(function(){
		jQuery(this).parent().remove();
	});
	jQuery("#wk_bodymain").delegate('.wk_plus ,.wk_plusend,.wk_minus, .wk_minusend ',"click",function(){
		var thisthis=jQuery(this);	
		if(thisthis.hasClass("wk_plus") || thisthis.hasClass("wk_plusend")){
			if(thisthis.hasClass("wk_plus"))
				thisthis.removeClass('wk_plus').addClass('wk_plus_click');
			if(thisthis.hasClass("wk_plusend"))
				thisthis.removeClass('wk_plusend').addClass('wk_plusend_click');
			thisthis.prepend("<span class='wk_node_loader'></span>");
			
			jQuery.ajax({
				url  	:   "<?php echo $this->getUrl('marketplace/marketplaceaccount/categorytree/');?>",
				type 	:   "POST",
				data 	:   {CID:thisthis.siblings("input").val(),
							ML:thisthis.parent(".wk_cat_container").css("margin-left").replace("px",""),
							CATS : 	"<?php echo implode(',',$categories); ?>"},
				dataType:   "html",
				success :   function(content){
					var newdata=  jQuery.parseJSON(content);
					len= newdata.length;
					var pxl= parseInt(thisthis.parent(".wk_cat_container").css("margin-left").replace("px",""))+20;
					thisthis.find(".wk_node_loader").remove();
					if(thisthis.attr("class") == "wk_plus")
						thisthis.attr("class","wk_minus");
					if(thisthis.attr("class") == "wk_plusend")
						thisthis.attr("class","wk_minusend");
					if(thisthis.attr("class") == "wk_plus_click")
						thisthis.attr("class","wk_minus");
					if(thisthis.attr("class") == "wk_plusend_click")
						thisthis.attr("class","wk_minusend");
				     for(i=0;i<len; i++){ 
						id=newdata[i].id;
						checkn=newdata[i].check;
						nam=newdata[i].name;
						if(checkn==1){														 
							if(newdata[i].counting ==0){
								thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_no"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" checked name="category[]" value='+ id+' </div>');
							}else{
								thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_plusend"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" checked name="category[]" value='+ id +'></div>');   
							}
						}else{
							if(newdata[i].counting ==0){
								thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_no"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" name="category[]" value='+ id+'></div>');
							}else{
								thisthis.parent(".wk_cat_container").after('<div class="wk_removable wk_cat_container" style="display:none;margin-left:'+pxl+'px;"><span  class="wk_plusend"></span><span class="wk_foldersign"></span><span class="wk_elements wk_cat_name">'+ nam +'</span><input class="wk_elements" type="checkbox" name="category[]" value='+ id +'></div>');   
							}
						}
					}	
					thisthis.parent(".wk_cat_container").nextAll().slideDown(300);
				}
			});			
		}
		if(thisthis.hasClass("wk_minus") || thisthis.hasClass("wk_minusend")){
			if(thisthis.attr("class") == "wk_minus")
				thisthis.attr("class","wk_plus");
			if(thisthis.attr("class") == "wk_minusend")
				thisthis.attr("class","wk_plusend");
			var thiscategory = thisthis.parent(".wk_cat_container");
			var marg= parseInt(thiscategory.css("margin-left").replace("px",""));
			while(thiscategory.next().hasClass("wk_removable")){
			  
			if(parseInt(thiscategory.next().css("margin-left").replace("px",""))>marg)
				thiscategory.next().slideUp("slow",function(){jQuery(this).remove();});
				thiscategory = thiscategory.next();	
				if(typeof thiscategory.next().css("margin-left")!= "undefined"){
					if( marg==thiscategory.next().css("margin-left").replace("px",""))
					{
					  break;
					}
				}
			}
		}		
	});
</script>
<?php
}else{
	echo $helper->__("<h2 class='wk_new_msg'>YOU ARE NOT AUTHORIZE TO EDIT THIS PRODUCT..</h2>");
}
 }else{
	echo $helper->__("<h2 class='wk_new_msg'>FOR BECOME SELLER CONTACT TO ADMIN..</h2>");
}?>
