<?php $formdata = Mage::registry('EM_session_formdata'); ?>
<?php $isLoggedIn = Mage::getSingleton('customer/session')->isLoggedIn() ?>
<?php $isLoggedIn = false ?>
<?php if ($isLoggedIn): ?>
    <div class="control">
        <input type="checkbox" name="change_emails" id="change_emails" value="1" onclick="setEmailsForm(this.checked)" title="<?php echo $this->__('Change Emails') ?>" class="checkbox" /><label for="change_emails"><?php echo $this->__('Change Email Address') ?></label>
    </div>
<?php else: ?>
    <label class="required"><?php echo $this->__('Email Address (Put all your email addresses you want to link)') ?></label>
<?php endif ?>
<table id="table-bodacustomer-emails" class="table-bodacustomer-emails">
    <?php $i = 0; ?>
    <tbody <?php if ($isLoggedIn): ?>style="display:none"<?php endif ?>>
        <tr></tr>
        <?php if (isset($formdata['emails']) && count($formdata['emails']) > 0): ?>
            <?php foreach ($formdata['emails'] as $e): ?>
                <?php if ($e && $e != ''): ?>
                    <tr>
                        <td>      
                            <?php $i++;
                            $n = "emails[$i]" ?>
                            <div><input type="text" name="<?php echo $n ?>" value="<?php echo $e ?>" class="input-text required-entry validate-email" />
                                <input type="button" class="remove-email" value="Remove" title="Remove"/></div>
                        </td>
                    </tr>    
                <?php endif ?>
            <?php endforeach; ?>
<?php endif ?>
    </tbody>
    <tfoot>
        <tr class="bodacustomer-emails bodacustomer-emails-add last">
            <td>
                <input type="button" class="add-email" id="add-email" value="Add Email" title="Add Email"/>
            </td>
        </tr>        
        <tr id="bodacustomer-emails-hidden" style="display:none">
            <td>            
                <div><input type="text" value="" class="input-text" />
                    <input type="button" class="remove-email" value="Remove" title="Remove"/></div>
            </td>
        </tr>
    </tfoot>
</table>
<script type="text/javascript">
    var email_i = <?php echo $i ?>;
    Event.observe('add-email', 'click', function() {
        hidden_tr = '<tr class="bodacustomer-emails">';
        hidden_tr = hidden_tr + jQuery('#bodacustomer-emails-hidden').html() + '</tr>';
        jQuery('#table-bodacustomer-emails tbody tr').last().after(hidden_tr);
        email_i++;
        mn = 'emails[' + email_i + ']';
    jQuery('#table-bodacustomer-emails tbody tr').last().find('td input[type="text"]').attr('name', mn).addClass('validate-email required-entry');
    });
    jQuery('input[type="button"].remove-email').live('click', function(e) {
        jQuery(this).closest('tr').remove();
        tr_obj = jQuery('#table-bodacustomer-emails tr.bodacustomer-emails');
    });
    function setEmailsForm(arg) {
        if (arg) {
            jQuery('#table-bodacustomer-emails tbody tr input[type="text"]').each(function() {
                jQuery(this).addClass('required-entry');
            });
            jQuery('#table-bodacustomer-emails tbody').show();
        } else {
            jQuery('#table-bodacustomer-emails tbody tr input[type="text"]').each(function() {
                jQuery(this).removeClass('required-entry');
            });
            jQuery('#table-bodacustomer-emails tbody').hide();
        }
    }
</script>


