<?php $_code = $this->getMethodCode(); ?>
<?php
            $payment_type="";
            $payment_label="";
            $cart = Mage::getModel('checkout/cart')->getQuote();
           
            foreach ($cart->getAllItems() as $item) {
                $productId = $item->getProduct()->getId();
                $_product = Mage::getModel('catalog/product')->load($productId);
                $ids = $_product->getCategoryIds();
                $categoryId = (isset($ids[1]) ? $ids[1] : null);
                break;
            }
            switch($categoryId){
                case 7:
                        $payment_type="sendingmoney";
                        $payment_label="Boda GateWay Sending Money";
                        break;
                case 8:
                        $payment_type="withdraw";
                        $payment_label="Boda GateWay Withdraw";
                        break;
                case 9: 
                        $payment_type="voucher";
                        $payment_label="Boda GateWay Voucher";
                        break;
                default :
                        $payment_type="voucher";
                        $payment_label="Boda GateWay Voucher"; 
                        break;
            }
          
     ?>

                 <ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none">
                 <input  type="hidden"  name="payment[ptype]"  value="<?php echo $payment_type ?>"/>
                        <li>
                            <label for="email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                            <div class="input-box">
                                 <input type="text" id="<?php echo $_code ?>_user" name="payment[puser]" title="<?php echo $this->__('Email') ?>" class="input-text required-entry" value="" />
                            </div>
                        </li>
                        <li>
                            <label for="or" ><?php echo $this->__('Or') ?></label>
                        </li>
                        <li>
                            <label for="<?php echo $_code ?>_user" class="required input-phone"><?php echo $this->__('Enter Mobile Number') ?></label>
                            <div class="input-box">
                                <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('block_country')->toHtml() ?>
                               
                                <table width="100%">
                                    <tr>
                                        <td><label for="country_code" class="required"><?php echo $this->__('Country code') ?></label></td>
                                        <td><label for="area_code" class="required"><?php echo $this->__('Area code and phone number') ?><em>*</em></label></td>
                                    </tr>
                                    <tr>
                                        <td><input autocomplete="off" readOnly="readOnly" type="text"  name="login[country_code]" value="<?php  ?>" id="country_code" class="country-code required-entry" title="<?php echo $this->__('Country code') ?>" /></td>
                                        <td><input  autocomplete="off" type="text" name="login[phone_number]"  id="phone_number" class="country-phone required-entry" title="<?php echo $this->__('Area code and phone number') ?>" /></td>
                                    </tr>
                                </table>


                            </div>
                        </li>

                       
                    </ul>

<script type="text/javascript">
jQuery(document).ready(function() {
          
            var val=jQuery("#payment_form_<?php echo $_code ?> .input-box #country").val();
            val    ="+"+val;
            jQuery("#payment_form_<?php echo $_code ?> .input-box  #country_code").val(val);
            jQuery("#payment_form_<?php echo $_code ?>.input-box  #phone_number").removeClass("required-entry");
    
            /////////
            jQuery("#<?php echo $_code ?>_user").change(function(){
                var val=jQuery(this).val();
                if(val!="")
                {
                    jQuery("#payment_form_<?php echo $_code ?> .input-box #phone_number").val("");
                    jQuery("#payment_form_<?php echo $_code ?> .input-box #phone_number").removeClass("required-entry");
                    jQuery(this).addClass("required-entry");
                }
            });
            jQuery("#payment_form_<?php echo $_code ?> .input-box #phone_number").change(function(){
                var val=jQuery(this).val();
                if(val!="")
                {
                    jQuery("#<?php echo $_code ?>_user").val("");
                    jQuery("#<?php echo $_code ?>_user").removeClass("required-entry");
                    jQuery(this).addClass("required-entry");
                }
    
            });
            //set dot
            jQuery("#payment_form_<?php echo $_code ?> .input-box #country").change(function(){
                var val=jQuery(this).val();
                val    ="+"+val;
                jQuery("#payment_form_<?php echo $_code ?> #country_code").val(val);
            })
            /////////
});
</script>