<div class="entry-edit">
    <div class="entry-edit-head"><h4 class="icon-head head-customer-view"><?php echo Mage::helper('bodacustomer')->__('Email Addresses') ?></h4></div>
    <fieldset>
        <div class="customer-emails-mobiles grid">
            <div class="customer-emails form-list">
                <?php echo $this->getEmailsHtml() ?>
            </div>
        </div>
    </fieldset>
</div>
<div class="entry-edit">
    <div class="entry-edit-head"><h4 class="icon-head head-customer-view"><?php echo Mage::helper('bodacustomer')->__('Mobile Numbers') ?></h4></div>
    <fieldset>
        <div class="customer-emails-mobiles grid">
            <div class="customer-mobiles form-list">
                <?php echo $this->getMobilesHtml() ?>
            </div>
        </div>
    </fieldset>
</div>
<style>
    table.border {width: 360px}
</style>
<script type="text/javascript">

jQuery(document).ready(function(){    
    editForm.submit  = editForm.submit.wrap(function(parentMethod,url){
        console.log(url);
        tre = jQuery('table#table-bodacustomer-emails tbody tr td input');
        trm = jQuery('table#table-bodacustomer-mobiles tbody tr td input');
        if (tre.length == 0 && trm.length == 0) {
            alert('Atleast an email address or a mobile number is required.');
            return false;
        }else{
            parentMethod(url);
        }                
    });
});
</script>