/*New css start here*/
.marketplace-marketplaceaccount-printorder{
    background: none!important;
}
.wk_mp_design .block-title {
background-image: none!important;
}
.questimg{
    padding: 0 10px;
    cursor: pointer;
}
.views{ background-color: #7F7F7F;
    border: 1px solid;
    color: #FFFFFF;
    display: none;
    margin-left: 32.7%;   
    position: absolute;
    width: 29%;
    border-left-color: #BCE8F1;
    border-width: 10px;
    overflow: hidden;
}
#wk_mp_print_order{
    text-align: left!important;
    border:1px solid #CCCCCC;
}
.wk_profile_alert{
    padding: 10px;
    border: 1px solid #faebcc;
    margin-bottom: 20px;
    border-radius: 4px;
    vertical-align: bottom;
    color: #8a6d3b;
    background: #fcf8e3;
    line-height: 1.42857143;
}
.wk_close:hover,
.wk_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
.wk_profile_alert strong {
font-weight: 700;
}
.wk_txt_trans{
    text-transform: uppercase;
}
.wk_mp_body input[type=checkbox]{    margin-right: 5px;}
.wk_mp_body td{    
    text-align: center;    
    padding:5px 7px;    
    border-color: #FFFFFF;    
    border-style: solid;    
    border-width: 0 1px 1px 0;    
    background: url("../images/filter_row_bg.gif") repeat-x #e3eff1;
    border-bottom: none;
}
.page-title {
width: 100%;
display: inline-block;
}
#wk_mp_tr_heading{    
    background: url("../images/sort_row_bg.gif") repeat-x scroll 0 50% rgba(0, 0, 0, 0);
}
#wk_mp_tr_heading th {    
    border-color: #F9F9F9 #D1CFCF #F9F9F9 #F9F9F9;    
    border-style: solid;    
    border-width: 1px;    
    font-size: 0.9em;    
    font-weight: bold;    
    /*padding-bottom: 0;    
    padding-top: 1px;*/
    padding: 3px 9px;    
}
.wk_mp_list_table {
    width: 100%;
    border: 1px solid #CCCCCC;
}
.wk_mp_list_table thead span{
    font-weight: bold;
}
.wk_mp_list_container_table{
    margin-top:15px;
    margin-bottom: 2px;
    border-bottom: none;
    clear: both;
}
.wk_mp_td_span{
    width: 50%;
    float: left;
}
.wk_mp_td_span input{
    width: 60%!important;
}
.wk_mp_label{
    background: none repeat scroll 0 0 #F18200;
    border: 1px solid #DE5400;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    margin: 2px 15px;
    padding: 1px 5px;
}
.wk_content th {
    border-left: 1px solid #ccc;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.wk_row_view td {
    border-left: 1px solid #ccc;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.wk_check_first_td{
    border-left: none!important;
    border-right: 1px solid #ccc;
}
.wk_first_td{
    width: 26%;
    border-left: none!important; 
}
.wk_last_tr{
   border-bottom: none!important; 
}
.wk_pro_divide1 {
width: 40%;
float: left;
overflow: hidden;
}
.wk_pro_divide2 {
width: 60%;
float: left;
overflow: hidden;
}
.wk_pro_divide2 a{
    text-decoration: none;
}
a:hover{
    color: #ea7900;
}
.wk_emptymsg{
    color: #DF2111;
    font-weight: 
    bold;font-size: 14px;
    text-transform: uppercase;
}
.wk_mp_fieldset{
    margin: 0;
    padding: 15px;
    border-top: none;
}
.wk_mp_design .block-title h4 {
    font-weight: bold;
    color: #fff;
}
.wk_mp_design .block{
    margin: 0;
}
.wk_row_view .label .image { height: 55px; margin: 2px; width: 55px; border: 1px solid #ccc;}
.wk_row_view .label img { cursor: pointer; }
.wk_orderbox{
    border: 1px solid #ccc;
    display: inline-block;
    width: 100%;
    margin: 5px 0;
    border-radius: 3px;
}
.wk_orderbox_content1{    
    display: inline-block;
    width: 98%;
    border-bottom: 1px solid #ccc;
}
.wk_orderbox_content2{    
    display: inline-block;
    width: 98%;
}
.wk_orderbox_details{
    width: 78%;
    float: left;
}
.wk_orderbox_details a {color: #1e7ec8;text-decoration: none;}
.wk_orderbox_total {
    width: 22%;
    float: left;
    text-align: right;
}
.wk_title_label{
    color: #6B6B63;
    font-size: 14px;
}
.wk_label{
    font-size: 14px;
}
.wk_ordertitle_label{
    color: #6B6B63;
}
.wk_orderbox_details .color{
    font-size:16px;
}
.wk_dash_orderstatus { 
    padding: 4px;
    padding-right: 0;
    float: left;
    width: 21%; 
}
.wk_first_order{
    margin-top: 15px;
}
.wk_dash_label { display: block; font-weight: bold; margin-top: 5px; }
.wk_dash_label .status {    
    color: #FFFFFF;
    text-align: center;
    width: 125px;
    padding: 6px 3px;
    border-radius: 3px;
    /*font-size: 15px;*/
}
.wk_dash_label .status.complete{
    background-color: rgb(90, 202, 90);
}
.wk_dash_label .status.processing{
    background-color: rgb(79, 158, 231);
}
.wk_dash_label .status.pending{
    background-color: #F8AF2E;
}
.wk_dash_label .status.canceled{
    background-color: rgb(221, 76, 76);
}
.wk_dash_label .status.closed{
    background-color: rgb(221, 76, 76);
}
.wk_dash_label .status.fraud{
    background-color: rgb(221, 76, 76);
}
.wk_dash_label .status.holded{
    background-color: #F8AF2E;
}
.wk_dash_label .status.payment_review{
    background-color: #F8AF2E;
}
.wk_dash_label .status.paypal_canceled_reversal{
    background-color: #F8AF2E;
}
.wk_dash_label .status.paypal_reversed{
    background-color: #F8AF2E;
}
.wk_dash_label .status.pending_payment{
    background-color: #F8AF2E;
}
.wk_dash_label .status.pending_paypal{
    background-color: #F8AF2E;
}
.askque{ 
    float: right;position: relative;
}
.wk_sales { 
    width: 100%;
    display: inline-block;
}
.wk_sale_css{
    background: rgb(79, 158, 231);
    float: left;
    font-size: 20px;
    text-align: center;
    width: 29%;
    color: #fff;
    padding: 10px;
    border-radius:3px;
    line-height: 20px;
    text-transform: uppercase;
}
.wk_todaysale {
    margin-right: 12px;
}
.wk_sale_color {
    display: inline-block;
    text-align: left;
}
.wk_sale_label{
    font-size: 15px;    
}
.wk_weeksale {
    margin-right: 12px;
}
.wk_monthsale {
}
.wk_total_sale_css{
    float: left;
    font-size: 16px;
    text-align: center;
    width: 46%;
    color: #fff;
    padding: 10px;
    border-radius:3px;
    text-transform: uppercase;
}
.wk_totalsale{
    margin-right: 12px;
    background: rgb(221, 76, 76);
}
.wk_todaysale_bg{
    background: url('../images/Sprite-Seller-Front-Panel.png') 0 -20px;
    height: 42px;
    width: 33px;
    display: inline-block;
}
.wk_weeksale_bg{
    background: url('../images/Sprite-Seller-Front-Panel.png') 0 -20px;
    height: 42px;
    width: 33px;
    display: inline-block;
}
.wk_monthsale_bg{
    background: url('../images/Sprite-Seller-Front-Panel.png') 0 -20px;
    height: 42px;
    width: 33px;
    display: inline-block;
}
.wk_remainsale{
    background: rgb(90, 202, 90);
}
.wk_feedback_details{
float: left;
width: 26%;
padding-bottom: 5px;
}
.wk_feedback_desc{
float: left;
width: 71%;
padding:5px 0px 5px 15px
}
.wk_feedback_details .mpfeedback{
    width:100%;
    border-right: 1px solid #ccc;
}
.mpfeedback .wk_span{
    width: 40%;
}
.mpfeedback span {
float: left;
font-size: 16px;

}
.mpfeedback .ratingslider-box {
background: url("../images/rating-sprite.png") repeat-x scroll 0 103% transparent;
float: left;
margin-left: 10px;
width: 70px;
}
.mpfeedback .ratingslider-box .rating {
background: url("../images/rating-sprite.png") repeat-x scroll 0 4px transparent;
}
.mpfeedback .price{
    width:100%;
    display: inline-block;
}
.mpfeedback .value{
    width:100%;
    display: inline-block;
}
.mpfeedback .quality{
    width:100%;
    display: inline-block;
}
.wk_dash_chart{
    margin-top: 10px;
    border:1px solid #CCCCCC;
}

/*start modal box*/
.modal-title {
margin: 0;
line-height: 1.42857143;
font-size: 18px;
font-family: inherit;
font-weight: 500;
display: inline-block;
}
#ask_data {    
    background-clip: padding-box;    
    background-color: #FFFFFF;    
    border: 1px solid rgba(0, 0, 0, 0.3);    
    border-radius: 6px 6px 6px 6px;    
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);    
    display: none;    
    left: 50%;    
    margin: -250px 0 0 -280px;    
    outline: medium none;    
    position: fixed;    
    top: 50%;    
    width: 530px;    
    z-index: 1050;
}
#ask_form { 
    display: inline-block;
    width: 100%;
}
#ask_form textarea { height: 75px;width: 315px; }
#ask_data .label {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 7px;
    padding-left: 20px;
    text-align: left;
    width: 80px;
    vertical-align: top;
}
.wk_modal_btn{
  cursor: pointer;
}
.modal_header { 
  border-bottom: 1px solid #EEEEEE;
  border-radius: 4px 4px 0 0;
  padding: 9px 15px;
}
.modal_header h3 { display: inline-block;font-size: 20px;opacity: 0.6; }
.wk_close {    
    color: #000000;    
    cursor: pointer;    
    float: right;    
    font-size: 20px;    
    font-weight: bold;    
    line-height: 20px;    
    opacity: 0.2;    
    text-shadow: 0 1px 0 #FFFFFF;
}
.wk_close:hover,
.wk_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal_footer:before, .modal_footer:after { content: "";display: table;line-height: 0; }
.modal_footer:before, .modal_footer:after { content: "";display: table;line-height: 0; }
.modal_footer {    
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.error_border { border-color: #FF0000 !important; }
.mail_procss { cursor: wait;opacity: 0.5; }
.wk_mp_btn{
    float: right;
    margin-left: 5px!important;
}

.wk_btn_default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.wk_btn_default:hover,
.wk_btn_default:focus,
.wk_btn_default.focus,
.wk_btn_default:active,
.wk_btn_default.active,
.open > .dropdown-toggle.wk_btn_default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.wk_btn_default:active,
.wk_btn_default.active,
.open > .dropdown-toggle.wk_btn_default {
  background-image: none;
}
.wk_btn_default.disabled,
.wk_btn_default[disabled],
fieldset[disabled] .wk_btn_default,
.wk_btn_default.disabled:hover,
.wk_btn_default[disabled]:hover,
fieldset[disabled] .wk_btn_default:hover,
.wk_btn_default.disabled:focus,
.wk_btn_default[disabled]:focus,
fieldset[disabled] .wk_btn_default:focus,
.wk_btn_default.disabled.focus,
.wk_btn_default[disabled].focus,
fieldset[disabled] .wk_btn_default.focus,
.wk_btn_default.disabled:active,
.wk_btn_default[disabled]:active,
fieldset[disabled] .wk_btn_default:active,
.wk_btn_default.disabled.active,
.wk_btn_default[disabled].active,
fieldset[disabled] .wk_btn_default.active {
  background-color: #fff;
  border-color: #ccc;
}
.wk_btn_default .badge {
  color: #fff;
  background-color: #333;
}
.wk_btn_primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.wk_btn_primary:hover,
.wk_btn_primary:focus,
.wk_btn_primary.focus,
.wk_btn_primary:active,
.wk_btn_primary.active,
.open > .dropdown-toggle.wk_btn_primary {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
.wk_btn_primary:active,
.wk_btn_primary.active,
.open > .dropdown-toggle.wk_btn_primary {
  background-image: none;
}
.wk_btn_primary.disabled,
.wk_btn_primary[disabled],
fieldset[disabled] .wk_btn_primary,
.wk_btn_primary.disabled:hover,
.wk_btn_primary[disabled]:hover,
fieldset[disabled] .wk_btn_primary:hover,
.wk_btn_primary.disabled:focus,
.wk_btn_primary[disabled]:focus,
fieldset[disabled] .wk_btn_primary:focus,
.wk_btn_primary.disabled.focus,
.wk_btn_primary[disabled].focus,
fieldset[disabled] .wk_btn_primary.focus,
.wk_btn_primary.disabled:active,
.wk_btn_primary[disabled]:active,
fieldset[disabled] .wk_btn_primary:active,
.wk_btn_primary.disabled.active,
.wk_btn_primary[disabled].active,
fieldset[disabled] .wk_btn_primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.wk_btn_primary .badge {
  color: #428bca;
  background-color: #fff;
}
.wk_btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
}
.form-control {
width: 315px;
padding: 6px 12px;
margin-bottom: 10px;
font-size: 14px;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.modal-body {
position: relative;
padding: 15px;
width: 94%;
}
.form-control:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
/*end modal box*/
.wk_mp_btn{
    float: right;
    margin-left: 5px!important;
}
.wk_mp_design .form-list .input-box {width: 100%;}
.wk_mp_design .form-list .field { width:100%; }
.wk_mp_design .form-list input.input-text { width:99%; }
.wk_mp_design .form-list textarea { width:99%;max-width: 99%;}
.wk_mp_design .form-list select { width:100%; }
.wk_mp_design .form-list li.wide .input-box { width:100%; }
.wk_mp_design .form-list li.wide input.input-text { width:99%; }
.wk_mp_design .form-list li.wide textarea { width:100%; }
.wk_mp_design .form-list li.wide select { width:100%; }
.wk_mp_design .form-list .input-range input.input-text { width:99%; }
.wk_mp_design .form-list-narrow li.wide .input-box { width:100%; }
.wk_mp_design .form-list-narrow li.wide input.input-text,
.wk_mp_design .form-list-narrow li.wide textarea { width:99% }
.wk_mp_design .form-list-narrow li.wide select { width:100%; }
#wantptr{display:none;}.profileurl .input-box {float: left;}
.unavailable,.available {    
    background-color: transparent;
    background-position: 7px 2px !important;
    border: medium none !important;
    float: left;
    margin-left: 10px;
    padding: 0 30px !important;
    text-transform: capitalize;
}
#wk_load_conf {
    left: 40%;
    top: 394px;
    position: absolute;
    display: none;
} 
#skuavail, #skunotavail { 
    display: none;
    float:left; 
}
.skuavailable{
    background-color: rgba(0, 0, 0, 0);
    background-position: 10px 0 !important;
    border: medium none !important;
    float: left;
    min-height: 11px !important;
    padding: 0 3px 0 30px !important;
    text-transform: capitalize;
}
.skunotavailable{
    background-color: rgba(0, 0, 0, 0);
    background-position: 10px 0 !important;
    border: medium none !important;
    float: left;
    min-height: 11px !important;
    padding: 0 3px 0 30px !important;
    text-transform: capitalize;
}
/*#skuavail img, #skunotavail img {
    margin-right: 5px; 
    vertical-align: middle; 
    width: 12px; 
}
#skunotavail img { 
    float: left; height: 20px; 
}*/
.wk_category{
    max-height: 200px;
    overflow: auto;
    clear: both;
    display: block;
}
#wk_category_label{
    background: #B8E8B7;
    border: 1px solid #008000;
    border-radius: 7px;
    padding: 0 4px;
    display: inline-block;
}
.wk_cat_container{
    position: relative;
}
.wk_plus{
    background: url("../images/elbow-plus.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 18px;
    width: 15px;
    float:left;
    cursor:pointer;
}
.wk_plusend{    background: url("../images/elbow-end-plus.gif") no-repeat scroll 0 0 transparent;    display: block;    height: 18px;    width: 15px;    float:left;    cursor:pointer;}
.wk_minus,
.wk_minusend{
    background: url("../images/elbow-end-minus.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 18px;
    width: 15px;
    float:left;
    cursor:pointer;
}
.wk_no{
    background: url("../images/elbow-end.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 18px;
    width: 15px;
    float:left;
}
.wk_foldersign{
    background: url("../images/leaf.gif") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-top: 3px;
    width: 16px;
}
.wk_node_loader{
    background: url("../images/loading.gif") no-repeat scroll 0 0 #FFFFFF;
    display: block;
    height: 17px;
    left: 15px;
    position: absolute;
    width: 17px;
}
.nicEdit-wk_nice_textarea{
    box-shadow: 0 0 1px 1px #CCCCCC inset;
}
.wk_elements{
    margin-left:5px;
}
.wk_cat_name{
    float:left;
}
.image_set .setimage{
    padding:5px;
    float:left;
    position: relative;
}
.wk_imagedelete {
    font-weight: 900;
    left: 46px;
    position: absolute;
    top: 0;
    display: inline-block;
    cursor: pointer;
}
.wk_imagedelete img{
width: 20px;
}
.wk_imagedeleteload {
    font-weight: 900;
    left: 24px;
    position: absolute;
    top: 22px;
    cursor: pointer;
}
.wk_link_title {
    float: left;
}
/*downloadable start*/
.wk_mp_link_delete{    
    background: url("../images/icon-trash.png") repeat scroll center center rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 14px;
}
.wk_mp_link_body input[type=checkbox]{
    margin-right: 5px;
}
.wk_mp_link_title{
    width: 95%;
}
.wk_mp_link_price{
    width: 45px;
}
.wk_mp_link_download{
    width: 70px;
}
.wk_mp_link_body td{
    text-align: center;
    padding: 2px 4px;
    border-color: #DADFE0;
    border-style: solid;
    border-width: 0 1px 1px 0;
    background: none repeat scroll 0 0 #FFFFFF !important;
}
.wk_mp_sample_body input[type=checkbox]{
    margin-right: 5px;
}
.wk_mp_sample_body td{
    text-align: center;
    padding: 2px 4px;
    border-color: #DADFE0;
    border-style: solid;
    border-width: 0 1px 1px 0;
    background: none repeat scroll 0 0 #FFFFFF !important;
}
#wk_mp_links{
    background: #6F8992;
    line-height: 21px;
    padding-left: 10px;
}
#wk_mp_links span{
    color: #FFFFFF;
    font-weight: bold;
}
#wk_mp_links_container{
    border: 1px solid #D6D6D6;
    min-height: 100px;
}
.wk_mp_link_label {
    width: 50%;
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
}
.wk_mp_link_value {
    padding: 5px;
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
}
.wk_mp_links_topbody{
    clear: both;
}
.wk_mp_design .validation-advice{
    text-align: left;
}
.wk_mp_link_titleblock{
    width: 75%;
}
/*downloadable end*/
/*configurable start*/
.wk_mp_headcus{
    clear: both;
    display: inline-block;
    width: 100%;
    background: none repeat scroll 0 0 #E7EFEF;    
}
.wk_mp_headcus input{
    width: 98%;
}
.wk_mp_headcus > li {
    float: left;
    text-align: center;
    padding: 5px 3px;
    margin: 0;
    width: 19%;
}
.wk_mp_option-box {
    border: 1px solid #CDDDDD;
}
.wk_mp_headcus.ul_first {
    background: none repeat scroll 0 0 #CFDDDC;
    font-weight: bold;
}
.mp_edit_associate_ul{
    border: 1px solid #ccc;
    margin-top: 15px;
    background-color: #ededed;
}
.mp_edit_associate_div1{
    padding: 5px;
}
.mp_edit_associate_div2{
    width: 20%;float: left;
}
/*view order page*/
.wk_mp_order-info-box{
    background: #fff;
    border: 1px solid #d0cbc1;
    padding: 12px 15px;
    margin: 0 0 15px;
}
.wk_mp_order-info-box h2 {
font-weight: bold;
font-size: 13px;
}
/*seller profile page*/
.input-box .prev_img {position: relative;width: 15%;}
.input-box .wk_banner {position: relative;width: 100%;padding: 5px 0;}
.profile .input-box-notification {font-size: 12px;font-weight: 400;color:red;}
.country_img_prev {vertical-align: middle;width: 5%;}
#countrypic{width: 94.5%!important;}
.color_pick {    
    border: 3px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    width: 30px;
    margin-top: 5px;
}
.btn_primary {
    background-color: #0C79D8;
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 4px 4px;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    display: inline-block;
    opacity: 0.8;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    text-transform: uppercase;
    padding: 6px 12px;
    font-weight: bold;
    font-size: 13px;
    width: 86%;
}
.btn_primary:hover { opacity: 1!important; }
.wk_profile_links{
    display: inline-block;
    padding: 10px 0;
    width: 30%;
}
.wk_profile_links a:hover{
    text-decoration: none;
}
.wk_mp_fieldset .cat_menu a.current {
    color: #000;
}
.wk_mp_fieldset .cat_menu a {
    color : #1e7ec8;
}
.wk_logo_block{
    padding-bottom: 10px;
}
.storename span{

}
.profileimage_set .setimage{
    padding:5px;
    float:left;
    position: relative;
    width: 97%;
}
.profileimage_set .wk_profileimagedelete {
    font-weight: 900;
    right: -3px;
    position: absolute;
    top: 5px;
    display: inline-block;
    cursor: pointer;
}
.logoimage_set .setimage{
    padding:5px;
    float:left;
    position: relative;
    width: 97%;
}
.logoimage_set .wk_logoimagedelete {
    font-weight: 900;
    left: 89px;
    position: absolute;
    top: 0;
    display: inline-block;
    cursor: pointer;
}
#wk_mp_header {border-bottom: 1px solid #D7D7D4;color: #666666;margin: 18px -10px 0;padding: 18px 0;text-align: center;}
#wk_mp_header h1 {font-family: "Guardian-EgypTT",Georgia,serif;font-size: 32px;color: #666666;line-height: 42px;margin-bottom: 9px;}
#wk_mp_header p { margin-bottom: 0; }
.wk_profiledata{ margin-top:10px; }
.list_seller_product {border: 1px solid #CCCCCC;display: inline-block;padding: 10px;width: 98%;margin-top: 10px;}
.list_seller_product a  img {border: 1px solid #CCCCCC;margin: 0.4%;/*width: 11.1%;*/width: 99px;
height: 94px;}
.list_seller_product .label{ color: #666666;font-family: "Guardian-EgypTT",Georgia,serif;font-size: 16px;letter-spacing: 0.5px;}
.list_seller_product a  img:hover {opacity:0.8;}
.list_seller_product a{text-decoration:none;position: relative;}
.mp_landing_hover{   background: url("../images/background.png") repeat scroll 0 0 rgba(0, 0, 0, 0);    color: #FFFFFF;    display: none;    font-weight: bold;    height: 53px;    left: 4px;    opacity: 1;    padding-top: 43px;    position: absolute;    text-align: center;    text-transform: uppercase;    top: 1px;    width: 99px;}
.list_seller_product a:hover .mp_landing_hover{display:block;}
.button-large:hover { background-color:#3a9191; }
.button-large {
    background-color: #39AAC5;
    border-color: #67BDD4 #4AB1CC #359BBD;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 33px !important;
    margin-bottom: 9px;
    padding: 0 11px;
    text-decoration: none;
    width: auto;
}