<?php $customer = $this->getCustomer(); ?>
<?php $password = $customer->getPassword() ?>
<?php if($password): ?>
<?php $pinHelper = Mage::helper('bodacustomer/pin') ?>
<?php $pinImages = $pinHelper->getPINImages()?>
<?php $password = str_split($password) ?>
<div class="reset-pin1-images" id="reset-pin1-images">
    <table>
            <tr>
        <?php foreach($password as $p): ?>
            <td><img src="<?php echo $pinImages[$p] ?>" alt="<?php echo $p ?>" width="50" height="50"></td>
        <?php endforeach ?>
                </tr>
                        <tr>
        <?php foreach($password as $p): ?>
            <td align="center"><b><?php echo $p ?></b></td>
        <?php endforeach ?>
                <tr>
    </table>
</div>
<?php endif ?>
