.grabzit-preview-container
{
	color:#FFF;
	border:1px solid #000;
	padding:0.5em;
	background-color:#34282C;
}

.grabzit-preview-caption
{
	padding-top:0.5em;
	font-weight:bold;	
}

.grabzit-preview-loader, .grabzit-preview-screenshot
{
	background-color:#FFF;
}

.grabzit-preview-screenshot-frame
{
}

.grabzit-preview-error
{
}