<?php $data =$this->getinputdata(); ?>
<?php 
    
      $order        =$this->getorderdetail($data['order_id']);
      $sending_money=$data['sending_money'];
      $sub_total    =$data['sub_total'];
      $boda_fee     =$data['boda_fee'];     
      $payment     =$order->getPayment();
     
      $email       =$payment->getData("puser");
      $receiveremail=$data['receive'];
      $receive     =$this->checkcustomer($receiveremail);
       
 ?>
 <script type="text/javascript">
  function cancelorder()
  {
    var url ='<?php echo $this->getUrl('gatewaywithdrawbodamoney/processing/cancel', array('transaction_id' =>$data['order_id']));?>';
    window.location.replace(url);
  }
  </script>
<div class="page-title">
        <h1><?php echo $this->__('PAYMENT CONFIRMATION') ?></h1>
    </div>
   
    <form action="<?php echo $this->getUrl("gatewaywithdrawbodamoney/processing/doWithdraw"); ?>" method="post"  name="payment-form" id="step4-form">
      <input  type="hidden" value="<?php echo $data['order_id']?>" name="transaction_id"/>
        <?php echo $this->getBlockHtml('formkey'); ?>
        <div class="col2-set">
            <div class="col-3 ">
                <div class="content">
                        <h2>
                         Are you sure you wish to withdraw:
                        </h2>
                      <?php $totalPrice = Mage::helper('core')->currency($sub_total, true, false); ?>
                        <h2>                       
                         <strong>1.<?php echo $totalPrice; ?>  and send same amount to <?php echo  $this->getAffilineEmail($order); ?></strong>
                        </h2>
                         <?php $totalPrice = Mage::helper('core')->currency($boda_fee, true, false); ?>
                        <h2>
                        <strong>2.<?php echo $totalPrice; ?> bodamoney fees to <?php echo $this->getMainEmail($order); ?></strong>
                        </h2>
                            <div class="buttons-set">     
                                                                    
                                <button onclick="javascript:cancelorder();" type="button"  class="button" title="<?php echo $this->__('No') ?>" name="back" id="back"><span><span><?php echo $this->__('No') ?></span></span></button> 
                                <button type="submit" class="button" title="<?php echo $this->__('Yes') ?>" name="payment" id="payment"><span><span><?php echo $this->__('Yes') ?></span></span></button>
                            </div>
                      <!--end if !-->            
                </div>
            </div>

        </div>
    </form>
      