<?php $data =$this->getinputdata(); ?>
<?php 
    
      $order        =$this->getorderdetail($data['order_id']);
      $sending_money=$data['sending_money'];
      $sub_total    =$data['sub_total'];
      $boda_fee     =$data['boda_fee'];     
      $payment     =$order->getPayment();
     
      $email       =$payment->getData("puser");
      $receiveremail=$data['receive'];
      $receive     =$this->checkcustomer($receiveremail);
       
 ?>
<div class="page-title">
    <h1><?php echo $this->__('WITHDRAW ORDER SUMMARY') ?></h1>
</div>  
<form action="<?php echo $this->getUrl("gatewaywithdrawbodamoney/processing/confirm"); ?>" method="post"  name="payment-form" id="step3-form">
        <?php ///echo $this->getBlockHtml('formkey'); ?>
<div class="col2-set"> 
            <div class="col-3">
                <div class="content">
                     <div  class="body clearfix" id="miniCartContent">
							<div id="miniCart" class="">																						
                                                 <div class="small head wrap">
												Withdrawer&#39;s account
                                                    <span class="amount">Gender</span>
												</div>
                                               	<ol class="small wrap items limit-a">
												
                                                        	<li id="multiitem1" class="itmdet">
                                                                <ul class="item1">
															         <li class="dark">
                                                                        	<span class="name">
                                                                                    <strong><?php echo  $this->getReceiveEmail($order); ?></strong>
                                                                            </span>
                                                                            <span  class="amount">
                                                                                <strong><?php echo $this->getReceiveGender($order); ?></strong>
                                                                            </span>
                                                                     </li>                                                                     
                                                                </ul>
                                                            </li>
												
                                                </ol>
                                                <div style="clear: both;">&nbsp;</div>
                                                 <div class="small head wrap">
												Withdrawer's Name
                                                    <span class="amount">Identity card Number</span>
												</div>
                                                <ol class="small wrap items limit-a">
												
                                                        	<li id="multiitem1" class="itmdet">
                                                                <ul class="item1">
															         <li class="dark">
                                                                        	<span class="name">
                                                                                   <strong> <?php echo  $this->getReceiveName($order); ?></strong>
                                                                            </span>
                                                                            <span  class="amount">
                                                                                <strong><?php echo @$receive->getData("id_number"); ?></strong>
                                                                            </span>
                                                                     </li>                                                                     
                                                                </ul>
                                                            </li>
												
                                                </ol>
                                              
                                                <div style="clear: both;">&nbsp;</div>
                                                 <div class="small head wrap">
												Affiliate Name
                                                    <span class="amount">Order Number/reference</span>
												</div>
                                                 <ol class="small wrap items limit-a">
												
                                                        	<li id="multiitem1" class="itmdet">
                                                                <ul class="item1">
															         <li class="dark">
                                                                        	<span class="name">
                                                                                <?php echo  $this->getAffilineName($order); ?>
                                                                            </span>
                                                                            <span  class="amount">
                                                                                 <?php echo  $order->getIncrementId($order); ?>
                                                                            </span>
                                                                     </li>                                                                     
                                                                </ul>
                                                            </li>
												
                                                </ol>
                                                 <div style="clear: both;">&nbsp;</div>
                                                  <div class="small head wrap">
											    To be send to account
                                                   
												</div>
                                                <ol class="small wrap items limit-a">
												
                                                        	<li id="multiitem1" class="itmdet">
                                                                <ul class="item1">
															         <li class="dark">
                                                                        	<span class="name">
                                                                                    <strong><?php echo  $this->getAffilineEmail($order); ?></strong>
                                                                            </span>
                                                                           
                                                                     </li>                                                                     
                                                                </ul>
                                                            </li>
												
                                                </ol>
                                               
                                                <div style="clear: both;"></div>
                                                 <div class="small head wrap">
											    Due Time
                                                     <span class="amount">Payment Ammount</span>
												</div>
                                                 <ol class="small wrap items limit-a">
												
                                                        	<li id="multiitem1" class="itmdet">
                                                                <ul class="item1">
															         <li class="dark">
                                                                        	<span class="name">
                                                                                    <strong><?php echo  date("d.m.Y"); ?></strong>
                                                                            </span>
                                                                            <?php $totalPrice = Mage::helper('core')->currency( $sending_money, true, false); ?>
                                                                             <span  class="amount">
                                                                                <strong> <?php echo  $totalPrice; ?></strong>
                                                                            </span>
                                                                     </li>                                                                     
                                                                </ul>
                                                            </li>												
                                                </ol>
											   <div style="clear: both;"></div>                                                                                                    
											</div>                                   
							</div>    
                  
                    <div class="buttons-set">                                          
                        <button type="submit" class="button btn next-step"  title="<?php echo $this->__('Accept') ?>" name="payment" id="payment"><span><span><?php echo $this->__('Accept') ?></span></span>
                    </div>
            </div>
        </div>
</div>
<script type="text/javascript">

                            var formId = 'step3-form';
                            var dataForm = new VarienForm('step3-form', true);
                            function step3Ajax(){
                            if (dataForm.validator.validate()) {
                                var $form = jQuery("#step3-form");
                                var url = $form.attr('action');                                    
                                jQuery("#login-please-message").html("");
                                jQuery("#login-please-message").hide();
                                jQuery('#payment').attr('disabled', 'disabled');
                                jQuery('#step3-form #payment').addClass('disabled').fadeTo(0.5);        
                                new Ajax.Updater(
                                        { 
                                            success:'formSuccess' },url, {
                                            method:'post',
                                            asynchronous:true,
                                            evalScripts:false,
                                            onComplete:function(transport) {
                                                jQuery('#step3-form #payment').removeAttr('disabled'); 
                                                var response = transport.responseText.evalJSON();
                                                jQuery('#step3-form #payment').removeClass('disabled').fadeTo(1);    
                                                 if (response.error) {
                                                     jQuery('#login-please-wait').hide();
                                                     jQuery("#login-please-message").show();
                                                     jQuery("#login-please-message").html(response.message);                                                                  
                                                    return;
                                                }
                                                if(response.content){
                                                   jQuery('#login-please-wait').hide();
                                                   jQuery("#withdrawmoney").empty();
                                                   jQuery("#withdrawmoney").html(response.content);
                                                   
                                                }                                                
                                            },
                                            onLoading:function(request, json){
                                                jQuery('#login-please-wait').show();
                                            },
                                            parameters:$(formId).serialize(true),
                                        }
                                    );
                            }
                        }
                        new Event.observe(formId, 'submit', function(e){
                            e.stop();
                            step3Ajax();
                        });    
</script>                           
 </form>                 