        <div class="page-title" id="login-header">
             <h1><?php echo $this->__('CONFIRM PAYMENT') ?></h1>
        </div>        
        <form action="<?php echo $this->getUrl("gatewaywithdrawbodamoney/processing/vertifycode"); ?>" method="post" id="step2-form">
                                <div class="content">                                 
                                    <ul class="form-list note-msg ">
                                         <li>
                                             <h2><?php echo $this->__('Enter verification code sent to your email, whatsapp or Telegram.');?></h2>
                                            <p><label for="email" class="required"><em>*</em><?php echo $this->__('Your Confirmation code') ?></label></p>
                                              <div class="input-box">
                                                <input autocomplete="off" type="text" name="login[code]" value="" id="code" class="input-text required-entry" title="<?php echo $this->__('Your confirm code') ?>" />
                                            </div>
                                             
                                            <p style=" clear: both;"></p>
                                            <p><?php echo $this->__("Didn't receive the text mesage?");?></p>
                                            <p><?php echo $this->__('- Check your email account.');?></p>
                                            <p><?php echo $this->__('- If you are using phone number account, check whatsapp or Telegram')?></p>
                                            
                                          
                                        </li>
                                    </ul>                                                    
                                     <span class="please-wait" id="login-please-wait" style="display:none;">
                                             <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" class="v-middle" alt=""/>
                                    </span>
                                     <div class="buttons-set">     
                                        <button type="submit" class="button" title="<?php echo $this->__('Confirm') ?>" name="btn-confirm" id="login"><span><span><?php echo $this->__('Confirm') ?></span></span></button>
                   
                                    </div> 
                                     <span class="please-wait" id="login-please-message" style="display:none;float: left;"></span> 
                    </div>
                 <!---  !--->
                <script type="text/javascript">
                            //<![CDATA[
                            var formId = 'step2-form';
                            var dataForm = new VarienForm('step2-form', true);
                            function step2Ajax(){
                            if (dataForm.validator.validate()) {
                                var $form = jQuery("#step2-form");
                                var url = $form.attr('action');
                              
                                jQuery("#login-please-message").html("");
                                jQuery("#login-please-message").hide();
                                jQuery('#send2').attr('disabled', 'disabled');
                                jQuery('#step2-form #send2').addClass('disabled').fadeTo(0.5);        
                                new Ajax.Updater(
                                        { 
                                            success:'formSuccess' },url, {
                                            method:'post',
                                            asynchronous:true,
                                            evalScripts:false,
                                            onComplete:function(transport) {
                                                jQuery('#step2-form #send2').removeAttr('disabled'); 
                                                var response = transport.responseText.evalJSON();
                                                jQuery('#step2-form #send2').removeClass('disabled').fadeTo(1);    
                                                 if (response.error) {
                                                     jQuery('#login-please-wait').hide();
                                                     jQuery("#login-please-message").show();
                                                     jQuery("#login-please-message").html(response.message);
                                                     jQuery("#step2-form #code").val("");                        
                                                    return;
                                                }
                                                if(response.content){
                                                   jQuery('#login-please-wait').hide();
                                                   jQuery("#withdrawmoney").empty();
                                                   jQuery("#withdrawmoney").html(response.content);
                                                   
                                                }
                                                
                                            },
                                            onLoading:function(request, json){
                                                jQuery('#login-please-wait').show();
                                            },
                                            parameters:$(formId).serialize(true),
                                        }
                                    );
                            }
                        }
                        new Event.observe(formId, 'submit', function(e){
                            e.stop();
                            step2Ajax();
                        });    
                            //]]>
                        </script>                           
            </form> 