    

<?php $_buyer = $this->getBuyer(); ?>

<?php $_carts = $this->getBodacart(); ?>

<style>
    .totalpanel {
        border: 1px solid #ccc;
        background: black;
        text-align: center;
        color: #fff;
        padding: 16px 6px;
        font-size: 22px;
        margin-bottom: 20px;
    }
</style>

<div class="col-main">
    <div class="cart">
        <div class="page-title title-buttons">
            <h1><?php echo $this->__('Pay Bill'); ?></h1>
        </div>
        <div class="clear"></div>
        <div class="totalpanel"><?php echo Mage::helper('core')->currency($this->getGrandTotal(), true, true); ?></div>
        <div class="clear"></div>
        <?php echo $this->getBlockHtml('formkey'); ?>
        <input type="hidden" name="product_id" value="<?php //echo $_product->getId();              ?>" />

        <div class="cart-left">
            <div class="b-bottom"> 
                <?php /* <a href="javascript:void(0)" class="btn-1"><i class="fa fa-plus"></i> Add Item</a> 
                  <a href="javascript:void(0)" class="btn-2"><i class="fa fa-plus"></i> Scan Item</a>
                  <a href="javascript:void(0)" class="btn-3">Discount Order</a> */ ?>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <table width="100%" border="1" class="data-table cart-table">
                <tr>
                    <td class="width_1"><?php echo $this->__('Product'); ?></td>
                    <td class="width_2">&nbsp;</td>
                    <td class="width_1"><?php echo $this->__('Qty'); ?></td>
                    <td class="width_3"><?php echo $this->__('Price'); ?></td>
                    <td class="width_4"><?php echo $this->__('Total'); ?></td>
                    <td class="width_1"><?php echo $this->__('Action'); ?> </td>
                </tr>
                <?php foreach ($_carts as $_cart) { //var_dump($_cart);?>

                    <?php $prod = Mage::getModel('catalog/product')->load($_cart->getProductId()); ?>
                    <form name="bodacartItem" method="post" action="<?php echo $this->getUrl('bodacart/cart/rowUpdate') ?>" >
                        <input type="hidden" name="cartId" value="<?php echo $_cart->getEntityId(); ?>">
                        <input type="hidden" name="buyerid" value="<?php echo $_cart->getBuyerId(); ?>">
                        <tr>
                            <td class="width_1">
                                <img src="<?php echo Mage::helper('catalog/image')->init($prod, 'small_image')->resize(50, 50); ?>" alt="<?php echo $prod->getName(); ?>"/></td>
                            <td class="width_2"><h2 class="product-name"><a href="#"><?php echo $prod->getName(); ?></a></h2>
                                <h2 class="product-name"><?php echo $this->__('SKU'); ?>: <?php echo $_cart->getProductSku(); ?></h2>
                            </td>
                            <td class="width_1"><input type="number" name="qty" value="<?php echo $_cart->getProductQty(); ?>" class="qty-input"/></td>
                            <td class="width_3"><span><?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol(); ?></span>
                                <?php $finalPrice = $_cart->getProductPrice(); ?>


                                <input type="text" value="<?php echo number_format($_cart->getProductPrice(), 2); ?>" name="price" class="price-input"/></td>
                            <td class="width_4"><h2 class="product-name"><strong ><?php echo Mage::helper('core')->currency($_cart->getProductPrice(), true, false); ?></strong></h2></td>
                            <td class="width_1"><button type="submit" name="itemUpdate">Update</button></td>
                        </tr>
                    </form>
                <?php } ?>

            </table>
        </div>
        <div class="total-right">
            <div class="amount"> 
                <?php echo $this->__('Buyer : '); ?>
                <span><?php echo $_buyer->getName(); ?></span>
                <br/>
                <?php echo $this->__('Seller : '); ?>
                <span><?php echo $customer = Mage::getSingleton('customer/session')->getCustomer()->getName(); ?></span>
            </div>
            <div class="clear"></div>
            <br/>
            <div class="amount">
                <h1><?php echo $this->__('Amount Due') ?>: <?php echo Mage::helper('core')->currency($this->getGrandTotal(), true, true); ?></h1>
                <h4><?php echo $this->__('Sub-Total:'); ?> <?php echo Mage::helper('core')->currency($_cart->getItemTotal(), true, true); ?></h4>
                <h4>Discount:-<?php echo Mage::helper('core')->currency(0, true, true); ?></h4>
                <h4>Tax: (DC) <?php echo Mage::helper('core')->currency(0, true, true); ?></h4>

                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="pay-area"> 
                <!--<a href="javascript:void(0)" class="btn-a active">Cash</a> 
                <a href="javascript:void(0)" class="btn-a">Credit Card</a> 
                <a href="javascript:void(0)" class="btn-a">Split</a> -->
                <div class="pay-body">
                    <h4>Pay Width Cash</h4>
                    <div class="c-center"><span><strong>Cash Amount: <?php echo $currencySymbol; ?></strong></span>
                        <input type="text" name="cash_amt" value="0.00" class="price-input"/>
                    </div>
                    <a href="javascript:void(0)">Change:<?php echo Mage::helper('core')->currency(0, true, true); ?></a> </div>
            </div>
            <div class="clear"></div>
            <form name="bodacustomerAddCartForm" id="bodacustomerAddCartForm" method="post" action="<?php echo Mage::getUrl('bodacart/cart/add'); ?>">
                <input type="hidden" name="buyer_id"  value="<?php echo $_cart->getBuyerId() ?>" /> 
                <input type="hidden" name="seller_id"  value="<?php echo $_cart->getSellerId() ?>" /> 
                <input type="hidden" name="price"  value="<?php echo $_cart->getProductPrice(); ?>" />
                <button type="submit" class="order-btn"><?php echo $this->__('Process Order'); ?></button>
            </form>
            <div class="clear"></div>
        </div>
        </form>
        <div class="clear"></div>
    </div>
</div>

<?php /*

  <form id="customProductForm" name="customProductForm" method="post" action="<?php echo Mage::getUrl('bodacart/cart/add');?>">
  <input type="hidden" name="id" value="<?php echo $_product->getId(); ?>">
  <input type="text" name="qty" value="0"> <br/>
  <input type="text" name="price" value="<?php echo $_product->getPrice()?>"><br/>

  <button type="submit" name="addToCart"> Add To Cart </button>
  </form>
 */ ?>
<!-- https://www.youtube.com/watch?v=d2jKLzvhrpY&nohtml5=False
Hot
https://www.youtube.com/watch?v=YRhEpiKm1Qw
https://www.youtube.com/watch?v=RLg-iB4h-gw&nohtml5=False

-->
