<?php
    $hlr = $this->helper("amscheckout");
    
    $_areas = $hlr->getAreas();
    
    //Visual Options
    $themeColor = $hlr->getThemeColor();
    $textColor = $hlr->getTextColor();
    $backgroundColor = '#FFF'; //bg
    $buttonColor = $hlr->getButtonColor();
    
    $fontFamily = $hlr->getFontFamily();
    
    $themeColorFrom = $hlr->colourBrightness($themeColor, 0.9);
    $themeColorTo = $hlr->colourBrightness($themeColor, -0.7);
    
    $buttonBorderColor = $hlr->colourBrightness($buttonColor, -0.8);
    
    $buttonColorFrom = $hlr->colourBrightness($buttonColor, -0.8);
    $buttonColorTo = $hlr->colourBrightness($buttonColor, 1);
    
    $buttonColorActiveFrom = $hlr->colourBrightness($buttonColor, 1);
    $buttonColorActiveTo = $hlr->colourBrightness($buttonColor, -0.8);
    
    $buttonColorHoverFrom = $hlr->colourBrightness($buttonColorFrom, 0.9);
    $buttonColorHoverTo = $hlr->colourBrightness($buttonColorTo, 0.9);
?>
<script type="text/javascript" src="<?php echo $this->getJsUrl('varien/accordion.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/opcheckout.js') ?>"></script>
<?php
    if ($hlr->isCustomerMustBeLogged() && !$this->isCustomerLoggedIn()){
        ?>
        <ol class="opc" id="checkoutSteps">
            <li id="opc-login" class="section allow active">
                <div class="step-title">
                    <span class="number">1</span>
                    <h2>Checkout Method</h2>
                    <a href="#">Edit</a>
                </div>
                <div id="checkout-step-login" class="step a-item">
                    <?php echo $this->getChildHtml("login_default");?>
                </div>
            </li>
        </ol>
        <?php
        
    } else {
?>
<style>
    .amscheckout-main {
        border: 2px solid <?php print $themeColor?>;
        background-color: <?php print $backgroundColor?>;
        color: <?php print $textColor?>;
    }
    <?php if (!empty($fontFamily)) { ?>
    .amscheckout-main,
    .amschekcout_title,
    .amschekcout_content{
        font-family: <?php print $fontFamily;?>;
    }
    <?php } ?>
    .amscheckout-login-table label,
    .amscheckout .form-list label, 
    .amscheckout .amscheckout-label{
        color: <?php print $textColor?>;
    }
    
    .amscheckout-main a,
    .amscheckout-main a:active,
    .amscheckout-main a:hover,
    .amscheckout-login a,
    .amscheckout-login a:active,
    .amscheckout-login a:hover{
        color: <?php print $themeColor?>;
    }
    
    .amscheckout textarea:focus,
    .amscheckout select:focus,
    .amscheckout-login input[type="text"]:focus,
    .amscheckout input[type="text"]:focus,
    .amscheckout select:focus:hover,
    .amscheckout-login input[type="text"]:focus:hover,
    .amscheckout textarea:focus:hover,
    .amscheckout input[type="text"]:focus:hover{
        box-shadow: 0px 0px 5px <?php print $themeColor?>;
        border:1px solid <?php print $themeColor?>;
    }
    
    .amscheckout .form-list label.required em,
    .amscheckout .amscheckout-label em{
        color: <?php print $themeColor?>;
    }
    
    .amscheckout-login{
        border: 2px solid <?php print $themeColor?>;
        background-color: <?php print $backgroundColor?>;
        padding: 10px;
    }
    
    .amscheckout-img{
        background-color: <?php print $themeColor;?>;
        background-image: -webkit-linear-gradient(bottom, <?php print $themeColorFrom;?>, <?php print $themeColorTo;?>);
        background-image: -moz-linear-gradient(bottom, <?php print $themeColorFrom;?>, <?php print $themeColorTo;?>);
        background-image: -o-linear-gradient(bottom, <?php print $themeColorFrom;?>, <?php print $themeColorTo;?>);
        background-image: linear-gradient(to top, <?php print $themeColorFrom;?>, <?php print $themeColorTo;?>);
    }
    
    .amschekcout_title{
        background-color: <?php print $themeColor;?>;
        background-image: -webkit-linear-gradient(bottom, <?php print $themeColorFrom;?>, <?php print $themeColorTo;?>);
        background-image: -moz-linear-gradient(bottom, <?php print $themeColorFrom;?>, <?php print $themeColorTo;?>);
        background-image: -o-linear-gradient(bottom, <?php print $themeColorFrom;?>, <?php print $themeColorTo;?>);
        background-image: linear-gradient(to top, <?php print $themeColorFrom;?>, <?php print $themeColorTo;?>);
    }
    
    .amscheckout-img-shadow{
        background-color: <?php print $backgroundColor?>;
        background-image: -webkit-linear-gradient(-9deg, #000, <?php print $backgroundColor?>);
        background-image: -moz-linear-gradient(-9deg, #000, <?php print $backgroundColor?>);
        background-image: -o-linear-gradient(-9deg, #000, <?php print $backgroundColor?>);
        background-image: linear-gradient(99deg, #000,<?php print $backgroundColor?>);
    }
    
    .amscheckout-dologin:active span,
    .amscheckout-submit:active span,
    .amscheckout-apply:active span
    {
        background-color: <?php print $buttonColor?>;
/*        -webkit-box-shadow: 0 3px 3px rgba(255,255,255,.8), inset 0 3px 4px rgba(193,66,29,.6);
        -moz-box-shadow: 0 3px 3px rgba(255,255,255,.8), inset 0 3px 4px rgba(193,66,29,.6);
        box-shadow: 0 3px 3px rgba(255,255,255,.8), inset 0 3px 4px rgba(193,66,29,.6);*/
        border: solid 1px <?php print $buttonBorderColor;?>;
background-image: -webkit-linear-gradient(bottom, <?php print $buttonColorActiveFrom;?>, <?php print $buttonColorActiveTo;?>);
        background-image: -moz-linear-gradient(bottom, <?php print $buttonColorActiveFrom;?>, <?php print $buttonColorActiveTo;?>);
        background-image: -o-linear-gradient(bottom, <?php print $buttonColorActiveFrom;?>, <?php print $buttonColorActiveTo;?>);
        background-image: linear-gradient(to top, <?php print $buttonColorActiveFrom;?>, <?php print $buttonColorActiveTo;?>);
    }



    .amscheckout-dologin:hover span,
    .amscheckout-submit:hover span,
    .amscheckout-apply:hover span
    {
        background-color: <?php print $buttonColor?>;
        -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.25), inset 0 0 3px rgba(255,255,255,.89);
        -moz-box-shadow: 0 3px 3px rgba(0,0,0,.25), inset 0 0 3px rgba(255,255,255,.89);
        box-shadow: 0 3px 3px rgba(0,0,0,.25), inset 0 0 3px rgba(255,255,255,.89);
        border: solid 1px <?php print $buttonBorderColor;?>;
        background-image: -webkit-linear-gradient(bottom, <?php print $buttonColorHoverFrom;?>, <?php print $buttonColorHoverTo;?>);
        background-image: -moz-linear-gradient(bottom, <?php print $buttonColorHoverFrom;?>, <?php print $buttonColorHoverTo;?>);
        background-image: -o-linear-gradient(bottom, <?php print $buttonColorHoverFrom;?>, <?php print $buttonColorHoverTo;?>);
        background-image: linear-gradient(to top, <?php print $buttonColorHoverFrom;?>, <?php print $buttonColorHoverTo;?>);
    }



    .amscheckout-dologin span,
    .amscheckout-submit span,
    .amscheckout-apply span
    {
        background-color: <?php print $buttonColor?>;
        -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.25), inset 0 0 3px rgba(255,255,255,.89);
        -moz-box-shadow: 0 3px 3px rgba(0,0,0,.25), inset 0 0 3px rgba(255,255,255,.89);
        box-shadow: 0 3px 3px rgba(0,0,0,.25), inset 0 0 3px rgba(255,255,255,.89);
        border: solid 1px <?php print $buttonBorderColor;?>;
        background-image: -webkit-linear-gradient(bottom, <?php print $buttonColorFrom;?>, <?php print $buttonColorTo;?>);
        background-image: -moz-linear-gradient(bottom, <?php print $buttonColorFrom;?>, <?php print $buttonColorTo;?>);
        background-image: -o-linear-gradient(bottom, <?php print $buttonColorFrom;?>, <?php print $buttonColorTo;?>);
        background-image: linear-gradient(to top, <?php print $buttonColorFrom;?>, <?php print $buttonColorTo;?>);
    }
        
    #co-payment-form{
        width: 100%;
    }
    .amscheckout .product-name img{
        float: left;
    } 
    .amscheckout .product-name{
        line-height: 16px;
    }
        
</style>
<script>
    var amContentWin = null
    var billingForm = new VarienForm('amscheckout-onepage');
    var amQtyClick = []
    var amQtyClickTimeout = 2000;
    var checkoutRunning = false;

    function updateReview(){
        ajaxUpdate('<?php print $hlr->getCartUrl();?>');
    }

    function reviewEvents(){

        $$('[id="review-qty"]').each(function(input){

            function inputQtyHandler(){
                for(var ind in amQtyClick){
                    var t = amQtyClick[ind];
                    if (typeof(t) != 'function'){
                        clearTimeout(t);
                    }
                }

                if (this.getAttribute('prev_val') != this.value){
                    updateReview();
                    this.setAttribute('prev_val', this.value);
                }
            }

            input.observe("blur", inputQtyHandler);

            input.observe("keyup", function(){
                amQtyClick.push(setTimeout(inputQtyHandler.bind(this), amQtyClickTimeout))
            })
        });
    }

    function cartEvents(){
        $$('#update_cart_qty').each(function(input){
            input.observe("click", function(){
                $('update_cart_action').value = 'update_qty';
                ajaxUpdate('<?php print $hlr->getCartUrl();?>', null);
                return false;
            })
        })

        $$('#empty_cart_button').each(function(input){
            input.observe("click", function(){
                $('update_cart_action').value = 'empty_cart';
                ajaxUpdate('<?php print $hlr->getCartUrl();?>', null);
                return false;
            })
        })

        $$('[name="amcheckout-delete"]').each(function(input){
            input.observe("click", function(){
                $('delete_cart_id').value = this.getAttribute('data-id');
                ajaxUpdate('<?php print $hlr->getDeleteUrl();?>', null);
                return false;
            })
        })



    }

    function ajaxUpdate(url, after){

        showLoading();

        new Ajax.Request(url, {
            method: 'post',
            parameters: $('amscheckout-onepage').serialize(true),
            onSuccess: function(response) {
                var config = response.responseText.evalJSON();

                if (config.html){
                    if (config.html.shipping_method)
                        $('checkout-shipping-method-load').update(config.html.shipping_method);

                    if (config.html.payment_method){
                        $('co-payment-form-update').update(config.html.payment_method);

                        if (payment.initWhatIsCvvListeners)
                            payment.initWhatIsCvvListeners();
                    }
                    
                    if (config.html.review){
                        $('checkout-review-load').update(config.html.review);
                        reviewEvents();
                    }

                    if (config.html.cart){
                        $('amscheckout-cart').update(config.html.cart);
                        cartEvents();
                    }
                }

                if (typeof(after) == 'function'){
                    after(config)
                }

                hideLoading(); 
            },
            on403: function(){
                document.location.reload();
            } 
        });
    }

    function updateCheckout(){
        ajaxUpdate('<?php print $hlr->getUpdateUrl();?>');
    }

    function createAccountClick(){
        var ch = $('billing:create_account');
        var hidden = $('billing:method');
        $$(".amscheckout-password").each(function(div){
            if (ch.checked) { 
                div.show()
                hidden.value = 'register';
            }
            else {
                div.hide();
                hidden.value = 'guest';
            } 
        });
    }

    function amShowDialog(){
          if (!amContentWin){
            amContentWin = new Window({
                draggable: true,
                resizable: true,
                closable: true,
                className: "amschekcout",
                windowClassName: "popup-window",
                title: '<?php print $this->__("Log in")?>',
                width: 520,
                height:"auto",
                zIndex: 99999,
                recenterAuto: true,
                hideEffect: Element.hide,
                showEffect: Element.show,
                id: 'viewDialog'
            });
            amContentWin.setContent('amscheckout-login');

        }
        amContentWin.showCenter(true);
        loginForm = new VarienForm('login-form', true);
    }

    function showLoading(){
        $("amscheckout-processing").show();
        $("amscheckout-loading").show();
        $$("#shopping-cart-table input,#shopping-cart-table button").each(function(input){
            input.setAttribute("readonly", "readonly");
        })

        $$("#shopping-cart-table button").each(function(input){
            input.setAttribute("disabled", "disabled");
        })

    }

    function hideLoading(){
        $("amscheckout-processing").hide();
        $("amscheckout-loading").hide();


        $$("#shopping-cart-table input,#shopping-cart-table button").each(function(input){
            input.removeAttribute("readonly");
            input.removeAttribute("disabled");
        })
    }

    function initUpdatableFieldEvent(field){
            $$("[id='" + field + "']").each(function(input){
                var event = input.tagName.toLowerCase() == 'select' ? 'change' : 'blur';

                input.observe(event, function(){
                    if (this.tagName.toLowerCase() == 'input'){
                          if (this.getAttribute('prev_val') != this.value){
                              updateCheckout();
                              this.setAttribute('prev_val', this.value);
                          }

                    } else {
                        updateCheckout();
                    }
                });


                $('billing:use_for_shipping_yes').observe("click", updateCheckout);
                $('billing:use_for_shipping_no').observe("click", updateCheckout);

                if (input.tagName.toLowerCase() == 'input'){
                    input.setAttribute('prev_val', input.value);
                }
            })
            
        }
        
</script>
<script>
        var accordion = new Accordion('checkoutSteps', '.step-title', true);
        
        var checkout = new Checkout(accordion,{
            progress: '<?php echo $this->getUrl('checkout/onepage/progress') ?>',
            review: '<?php echo $this->getUrl('checkout/onepage/review') ?>',
            saveMethod: '<?php echo $this->getUrl('checkout/onepage/saveMethod') ?>',
            failure: '<?php echo $this->getUrl('checkout/cart') ?>'}
        );
</script>
<?php
    if (!$this->isCustomerLoggedIn()){
?>
    <div style="display: none;">
        <?php echo $this->getChildHtml("login_amasty") ?>
    </div>
<?php } ?>
<?php echo $this->getChildHtml("order_before") ?>
<form method="post" id="amscheckout-onepage">
    <?php if ($hlr->isShoppingCartOnCheckout() && !$hlr->isMergeShoppingCartCheckout()) {?>
    <div id="amscheckout-cart">
        <?php echo $this->getChildHtml("cart") ?>
    </div>
    <?php }?>

    <div class="amscheckout-extra" id="amscheckout-extra"></div>
    <div class="amscheckout-main" id="amscheckout-main">
        <div id="amscheckout-processing" class="amscheckout-processing" style="display: none;">&nbsp;</div>
        <div id="amscheckout-loading" class="amscheckout-loading" style="display: none;">&nbsp;</div>

        <div class="amscheckout-header">
            <div class="lane"><?php echo $this->__("Express checkout lane")?></div>
            <div class="lane2"><?php echo $this->__("Please enter your details below to complete your purchase")?></div>
            <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
            <?php
                if (!$this->isCustomerLoggedIn()){
            ?>
            <div>
                <a class="am_login_link" <?php echo $hlr->isMobile() ? "href='".Mage::getUrl("customer/account/login")."'" : 'href="#" onclick="amShowDialog(); return false;"'; ?>><?php echo $this->__('Already registered? Click here to login.');?></a>
            </div>
            <?php
                }
            ?>
        </div>

        <div class="separator">
            <div></div>
            <div></div>
        </div>



        <input type="hidden" name="form_key" value="<?php print Mage::getSingleton('core/session')->getFormKey();?>"/>
        
        <div class="amscheckout">
        <?php
            switch($hlr->getLayoutType()){
                case "three_columns":
        ?>
        <table class="three-columns">
            <tr>
                <td class="first-column">
                    <div>
                        <div class="area-header">
                            <div class="amscheckout-img-shadow">
                                <div class="amscheckout-img">1</div>
                            </div>
                            <?php echo $this->htmlEscape($_areas['billing']['area_label'])?>
                        </div>
                        <div class="billing">
                            <?php echo $this->getChildHtml("billing") ?>
                        </div>
                    </div><br/>
                    <div id="shipping_area">
                        <div class="area-header">
                            <div class="amscheckout-img-shadow">
                                <div class="amscheckout-img">
                                    <div class="amscheckout-shipping">&nbsp;</div>
                                </div>
                            </div>
                            <?php echo $this->htmlEscape($_areas['shipping']['area_label'])?>
                        </div>
                        <div class="shipping">
                            <?php echo $this->getChildHtml("shipping") ?>
                        </div>
                    </div>
                </td>
                <td class="second-column">
                    <div>
                        <div class="area-header">
                            <div class="amscheckout-img-shadow">
                                <div class="amscheckout-img">2</div>
                            </div>
                            <?php echo $this->htmlEscape($_areas['shipping_method']['area_label'])?>
                        </div>
                        <div class="shipping-method">
                            <?php echo $this->getChildHtml("shipping_method") ?>
                        </div>
                    </div><br/>
                    <div>
                        <div class="area-header">
                            <div class="amscheckout-img-shadow">
                                <div class="amscheckout-img">3</div>
                            </div>
                            <?php echo $this->htmlEscape($_areas['payment']['area_label'])?>
                        </div>
                        <div class="payment-method">
                            <?php echo $this->getChildHtml("payment") ?>
                        </div>

                    </div><br/>
                    <div>
                        <div class="area-header">
                            <div class="amscheckout-img-shadow">
                                <div class="amscheckout-img">%</div>
                            </div>
                            <?php echo $this->__("Discount Codes")?>
                        </div>
                        <div class="coupon"  id="checkout-coupon">
                            <?php echo $this->getChildHtml("coupon") ?>
                        </div>
                    </div>
                </td>
                <td class="third-column">
                    <div>
                        <div class="area-header">
                            <div class="amscheckout-img-shadow">
                                <div class="amscheckout-img">
                                    <div class="amscheckout-review">&nbsp;</div>
                                </div>
                            </div>
                            <?php echo $this->htmlEscape($_areas['review']['area_label'])?>
                        </div>
                        <?php echo $this->getChildHtml("review") ?>
                    </div>
                </td>
            </tr>
        </table>
        <?php
        
                break;
                case "two_columns":
        ?>
        <table class="two-columns">
            <tr>
                <td class="first-column">
                    <div>
                        <div class="area-header">
                            <div class="amscheckout-img-shadow">
                                <div class="amscheckout-img">1</div>
                            </div>
                            <?php echo $this->htmlEscape($_areas['billing']['area_label'])?>
                        </div>
                        <div class="billing">
                            <?php echo $this->getChildHtml("billing") ?>
                        </div>
                    </div><br/>
                    <div id="shipping_area">
                        <div class="area-header">
                            <div class="amscheckout-img-shadow">
                                <div class="amscheckout-img">
                                    <div class="amscheckout-shipping">&nbsp;</div>
                                </div>
                            </div>
                            <?php echo $this->htmlEscape($_areas['shipping']['area_label'])?>
                        </div>
                        <div class="shipping">
                            <?php echo $this->getChildHtml("shipping") ?>
                        </div>
                    </div>
                </td>
                <td class="second-column">
                    <div>
                        <div class="area-header">
                            <div class="amscheckout-img-shadow">
                                <div class="amscheckout-img">2</div>
                            </div>
                            <?php echo $this->htmlEscape($_areas['shipping_method']['area_label'])?>
                        </div>
                        <div class="shipping-method">
                            <?php echo $this->getChildHtml("shipping_method") ?>
                        </div>
                    </div><br/>
                    <div>
                        <div class="area-header">
                            <div class="amscheckout-img-shadow">
                                <div class="amscheckout-img">3</div>
                            </div>
                            <?php echo $this->htmlEscape($_areas['payment']['area_label'])?>
                        </div>
                        <div class="payment-method">
                            <?php echo $this->getChildHtml("payment") ?>
                        </div>

                    </div><br/>
                    <div>
                        <div class="area-header">
                            <div class="amscheckout-img-shadow">
                                <div class="amscheckout-img">%</div>
                            </div>
                            <?php echo $this->__("Discount Codes")?>
                        </div>
                        <div class="coupon"  id="checkout-coupon">
                            <?php echo $this->getChildHtml("coupon") ?>
                        </div>
                    </div>
                    <div>
                        <div class="area-header">
                            <div class="amscheckout-img-shadow">
                                <div class="amscheckout-img">
                                    <div class="amscheckout-review">&nbsp;</div>
                                </div>
                            </div>
                            <?php echo $this->htmlEscape($_areas['review']['area_label'])?>
                        </div>
                        <?php echo $this->getChildHtml("review") ?>
                    </div>
                </td>
            </tr>
        </table>
        <?php
                break;
                case "one_column":
        ?>
        <table class="one-columns">
            <tr>
                <td class="first-column">
                    <div>
                        <div class="area-header">
                            <div class="amscheckout-img-shadow">
                                <div class="amscheckout-img">1</div>
                            </div>
                            <?php echo $this->htmlEscape($_areas['billing']['area_label'])?>
                        </div>
                        <div class="billing">
                            <?php echo $this->getChildHtml("billing") ?>
                        </div>
                    </div><br/>
                    <div id="shipping_area">
                        <div class="area-header">
                            <div class="amscheckout-img-shadow">
                                <div class="amscheckout-img">
                                    <div class="amscheckout-shipping">&nbsp;</div>
                                </div>
                            </div>
                            <?php echo $this->htmlEscape($_areas['shipping']['area_label'])?>
                        </div>
                        <div class="shipping">
                            <?php echo $this->getChildHtml("shipping") ?>
                        </div>
                    </div>
                    <div>
                        <div class="area-header">
                            <div class="amscheckout-img-shadow">
                                <div class="amscheckout-img">2</div>
                            </div>
                            <?php echo $this->htmlEscape($_areas['shipping_method']['area_label'])?>
                        </div>
                        <div class="shipping-method">
                            <?php echo $this->getChildHtml("shipping_method") ?>
                        </div>
                    </div><br/>
                    <div>
                        <div class="area-header">
                            <div class="amscheckout-img-shadow">
                                <div class="amscheckout-img">3</div>
                            </div>
                            <?php echo $this->htmlEscape($_areas['payment']['area_label'])?>
                        </div>
                        <div class="payment-method">
                            <?php echo $this->getChildHtml("payment") ?>
                        </div>

                    </div><br/>
                    <div>
                        <div class="area-header">
                            <div class="amscheckout-img-shadow">
                                <div class="amscheckout-img">%</div>
                            </div>
                            <?php echo $this->__("Discount Codes")?>
                        </div>
                        <div class="coupon"  id="checkout-coupon">
                            <?php echo $this->getChildHtml("coupon") ?>
                        </div>
                    </div>
                    <div>
                        <div class="area-header">
                            <div class="amscheckout-img-shadow">
                                <div class="amscheckout-img">
                                    <div class="amscheckout-review">&nbsp;</div>
                                </div>
                            </div>
                            <?php echo $this->htmlEscape($_areas['review']['area_label'])?>
                        </div>
                        <?php echo $this->getChildHtml("review") ?>
                    </div>
                </td>
            </tr>
        </table>
        <?php
                break;
            }
        ?>
        </div>

    </div>
</form>
<script>  
        var amscheckoutForm = new VarienForm('amscheckout-onepage');
        
        $('billing:use_for_shipping_yes').observe("click", function(){
            $('shipping_area').hide();
        });

        $('billing:use_for_shipping_no').observe("click", function(){
            $('shipping_area').show();
        });

        $('shipping:same_as_billing').observe("click", function(){
            $('billing:use_for_shipping_yes').click();
        });

        discountForm.submit = function (isRemove) {
            if (isRemove) {
                 $('remove-coupone').value = "1";
             } else {
                 $('remove-coupone').value = "0";
             }
             
            if ($('coupon_code').value != "") 
                ajaxUpdate('<?php print $hlr->getCouponUrl();?>', applyCoupon);
        }
        
        function sagePayComplete(response){
            $('sagepayserver-dummy-link').writeAttribute('href', response.redirect);

            var rbButtons = $('review-buttons-container');

            var lcont = new Element('div',{
                className: 'lcontainer'
            });
            var heit = parseInt(SuiteConfig.getConfig('server','iframe_height'));
            if(Prototype.Browser.IE){
                heit = heit-65;
            }

            var wtype = SuiteConfig.getConfig('server','payment_iframe_position').toString();
            if(wtype == 'modal'){

                var wm = new Control.Modal('sagepayserver-dummy-link',{
                    className: 'modal',
                    iframe: true,
                    closeOnClick: false,
                    insertRemoteContentAt: lcont,
                    height: SuiteConfig.getConfig('server','iframe_height'),
                    width: SuiteConfig.getConfig('server','iframe_width'),
                    fade: true,
                    afterOpen: function(){
                        if(rbButtons){
                            rbButtons.addClassName('disabled');
                        }
                        $$('body')[0].scrollTo();
                    },
                    afterClose: function(){
                        if(rbButtons){
                            rbButtons.removeClassName('disabled');
                        }
                    }
                });
                wm.container.insert(lcont);
                wm.container.down().setStyle({
                    'height':heit.toString() + 'px'
                    });
                wm.container.down().insert(this.getServerSecuredImage());
                wm.open();

            }else if(wtype == 'incheckout') {

                var iframeId = 'sagepaysuite-server-incheckout-iframe';
                var paymentIframe = new Element('iframe', {
                    'src': response.redirect,
                    'id': iframeId
                });
                
                
                if ($('shopping-cart-table'))
                    $('shopping-cart-table').hide();

                $('amscheckout-main').hide();

                $('amscheckout-extra').update(paymentIframe);
                hideLoading(); 

            }else if(wtype == 'full_redirect') {
                setLocation(response.redirect);
                return;
            }
        }
        
        function completeCheckout(){
            if (amscheckoutForm.validator.validate() && !checkoutRunning){
                showLoading();
                checkoutRunning = true;
                
                new Ajax.Request('<?php print $hlr->getCheckoutUrl();?>', {
                    method: 'post',
                    parameters: $('amscheckout-onepage').serialize(true),
                    onSuccess: function(response) {
                        checkoutRunning = false;
                        var config = response.responseText.evalJSON();

                        if (config.redirect_url){
                            document.location.href = config.redirect_url;
                        } else if (config.redirect){ 
                            
                            if (config.redirect.indexOf("sagepay") != -1 ||
                                    config.redirect.indexOf("sgps") != -1){
                                    
                                $$('body')[0].scrollTo();
                                sagePayComplete.bind(SageServer)(config);
                            } else {
                            document.location.href = config.redirect;
                        }
                            
                        }
                        else if (config.ajax_url){
                             
                             new Ajax.Request(config.ajax_url, {
                                 onSuccess: function(response) {
                                     var config = response.responseText.evalJSON();
                                    if (config.response_status == "INVALID" && 
                                        config.response_status_detail
                                        ) {
                                        alert(config.response_status_detail);
                                        hideLoading();
                                    }else if (config.response_status == "OK" &&
                                             config.next_url
                                    ){
                                        document.location.href = config.next_url;
                                    } else if (config.redirect){
                                        document.location.href = config.redirect;
                                    }
                                 }
                             })
                        }
                        else if (config.status == "ok" || (
                            config.response_status &&
                            config.response_status.toLocaleLowerCase() == "ok"
                        )){
                            if (config.success === false && config.update_section) { //extra section
                                
                                if ($('shopping-cart-table'))
                                    $('shopping-cart-table').hide();
                                
                                $('amscheckout-main').hide();
                                
                                $('amscheckout-extra').update(config.update_section.html);
                                
                                if ($('hss-iframe'))
                                    $('hss-iframe').show();
                                
                                hideLoading(); 
                                
                            } else {
                            document.location.href = '<?php print $hlr->getSuccessUrl();?>'
                            }
                        } else {
                            alert(config.errors);
                            hideLoading(); 
                        }

                        

                    },
                    on403: function(){
                        document.location.reload();
                    }
                })
            }

        }

        <?php
            if (!$hlr->isAllowGuestCheckout()){
        ?>
            if ($('billing:create_account')) {
            $('billing:create_account').click();
            
            $('billing:create_account').up('.amscheckout-row').hide();
            }
            
            
            
        <?php
            }
        ?>
        if (payment.initWhatIsCvvListeners)
            payment.initWhatIsCvvListeners();
        
        
        if ($('billing:create_account')){
            $('billing:create_account').observe('click', createAccountClick);
            createAccountClick();
        }
        
        
        
        <?php 
        foreach($hlr->getBillingUpdatable() as $id){
        ?>
            initUpdatableFieldEvent('<?php print $id;?>')
        <?php
        }
        ?>
            
        <?php 
        foreach($hlr->getShippingUpdatable() as $id){
        ?>
            initUpdatableFieldEvent('<?php print $id;?>')
        <?php
        }
        ?>
            
        if (payment && payment.initWhatIsCvvListeners)
            payment.initWhatIsCvvListeners();

        if ($('billing-address-select'))
            $('billing-address-select').observe('change', updateCheckout);
        
        if ($('shipping-address-select'))
            $('shipping-address-select').observe('change', updateCheckout);

        reviewEvents();
        cartEvents();
</script>

<?php }?>


        
