<?php 
/*
 * Developer: Rene Voorberg
* Team site: http://cmsideas.net/
* Support: http://support.cmsideas.net/
*
*
*/

$_option = $this->getOption();
date_default_timezone_set(Mage::app()->getStore()->getConfig('general/locale/timezone'));

//Code added - HomeConnect
//To get the attribute no_days and add it to the current date for restricting
//booking of product / service to the pre-defined number of days
/*$model=Mage::getModel('catalog/product');
$_product=$model->load($_option->getId());
$nodays=$_product['no_days'];*/

//Calculate the date based on the number of days and display the JQ Calender
$mind = str_replace(" ", " ", ($this->getProduct()->getData('bookable_from'))? $this->getProduct()->getData('bookable_from') : (date('Y/m/d'/*,strtotime('+'.$nodays.'days')*/)));
//Calculate the date based on the number of days and display the JQ Calender
$mind = (strtotime(date('Y/m/d')) >  strtotime($mind))? date('Y/m/d'/*,strtotime('+'.$nodays.'days')*/) : $mind;
$mind = date('Y/m/d', strtotime($mind));
$maxd = ($this->getProduct()->getData('bookable_to'))? date('Y/m/d', strtotime($this->getProduct()->getData('bookable_to'))) : '2100/01/01';
?>
<dt><label<?php if ($_option->getIsRequire()) echo ' class="required"' ?>><?php if ($_option->getIsRequire()) echo '<em>*</em>' ?>
<?php 
	echo  $this->htmlEscape($_option->getTitle()) ?></label>
	<br /><p style="float: right"><strong><?php
	if($this->getProduct()->getAttributeText('display_timezone') == 'enabled')
	{
		$hour = date('Z') / 60 / 60;
		echo 'Our timezone: '.Mage::app()->getStore()->getConfig('general/locale/timezone').' [UTC'.(($hour > 0)? '+'.$hour : $hour).']';
	}
	?></strong></p>
    <?php echo $this->getFormatedPrice() ?></dt>
<dd<?php if ($_option->decoratedIsLast){?> class="last"<?php }?>>
    <div class="input-box" style="height: 270px">
        <input type="hidden"
               id="options_<?php echo $_option->getId() ?>_multidate"
               class="input-text <?php echo $_option->getIsRequire() ? ' required-entry' : '' ?> product-custom-option"
               name="options[<?php echo $_option->getId() ?>][val]"
               value="<?php echo $this->escapeHtml($this->getDefaultValue()) ?>"
               onchange="displayInfo()" />
         <input type="hidden"
               id="options_multidate_offset"
               name="options[<?php echo $_option->getId() ?>][offset]"
               value="" />
         
         <input type="hidden" id="cmsideasday_max_qty" name="cmsideasday_max_qty" value="0" onchange="addMaxQty()"/>
		 <div id="cmsideasday_element">
         	
				    <script type="text/javascript">
				    //<![CDATA[
				    //var opConfig = new Product.Options({"8":{"price":100,"oldPrice":100,"priceValue":"100.0000","type":"fixed","excludeTax":100,"includeTax":100}});
				   
				    var dayfrom = new Date('<?php echo $mind ?>');
				    dayfrom.setHours(0); dayfrom.setMinutes(0); dayfrom.setSeconds(0); dayfrom.setMilliseconds(0);
				    
				    var dayto = new Date('<?php echo $maxd ?>');
				    dayto.setHours(0); dayto.setMinutes(0); dayto.setSeconds(0); dayto.setMilliseconds(0);
				    
				    var picker = new Pikaday(
				    {
					   field: document.getElementById('options_<?php echo $_option->getId()?>_multidate'),
					   stillShown : true,
				        firstDay: 1,
				        minDate: dayfrom,
						maxDate: dayto,
				        id: <?php echo $this->getProduct()->getId() ?>,
				        yearRange: [2014,2100],
				        type : '<?php echo $this->getProduct()->getAttributeText('billable_period') ?>',
				        optionId : <?php echo $this->getOption()->getId() ?>,
						basePrice : <?php echo $this->getProduct()->getFinalPrice()?>,
						sessions : [],
						reloadp : true,
						baseUrl : '<?php echo (Mage::app()->getStore()->isCurrentlySecure())? Mage::getStoreConfig('web/secure/base_url').'index.php/' : Mage::getStoreConfig('web/unsecure/base_url') ?>'
				    });

			    	picker.show();
			    	
			    	
				    $('options_multidate_offset').value = jstz.determine().name();
				    
				    var displayInfo = function(){
						var value = $('options_<?php echo $_option->getId() ?>_multidate').value;
						var text = '';
						var title = '';
						var type = '<?php echo $this->getProduct()->getAttributeText('billable_period') ?>';
						
						if(value == ''){
							if(type == 'Session'){
				 				title = '<?php echo Mage::helper('booking')->__('No selected session.')?>';
								text = '<?php echo Mage::helper('booking')->__('Please select date and session to book this product.')?>';
								$('cmsideasday_info_text_qty').innerHTML = '';	
							}else{
								title = '<?php echo Mage::helper('booking')->__('No selected date.')?>';
								text = '<?php echo Mage::helper('booking')->__('Please select date or day range to book this product.')?>';
								$('cmsideasday_info_text_qty').innerHTML = '';	
							}
						}else{
							if(type == 'Session'){
								title = '<?php echo Mage::helper('booking')->__('Your selected session:')?>';
								var arr = value.split(",");
								for(var index = 0; index < arr.length - 1; index++){
									if(index > 4)
									{
										text += "...<br />";
										break;
									}
									var date = new Date(parseInt(arr[index], 10));
									text += date.toLocaleDateString()+" "+date.toLocaleTimeString()+"<br />";	
								}
							}else{
								title = '<?php echo Mage::helper('booking')->__('Your selected dates:')?>';
								var arr = value.split(",");
								text += 'From : ';
								text += new Date(parseInt(arr[0], 10)).toLocaleDateString()+"<br />";
								text += 'To : ';
								text += new Date(parseInt(arr[arr.length - 2], 10)).toLocaleDateString()+"<br />";
							}
						}
						
						$('cmsideasday_info_title').innerHTML = title;
						$('cmsideasday_info_text').innerHTML = text;
						$('cmsideasday_info').className = 'notice-msg';
					};

					var addMaxQty = function(){
						if($('options_<?php echo $_option->getId() ?>_multidate').value != '')
							$('cmsideasday_info_text_qty').innerHTML = '<br /><?php echo Mage::helper('booking')->__('Maximal bookable quantity: ')?>'+ $('cmsideasday_max_qty').value;
					}
				    //]]>
				    </script>

        		</div>
        		<div id="cmsideasday_info" class="notice-msg no-display" style="float: right; <?php echo ($this->getProduct()->getAttributeText('billable_period') == 'Session')? 'width: 165px' : 'width: 300px'?>">
        			<p><span><div id="cmsideasday_info_title" style="margin-left: 10px"></div></span></p>
        			<div id="cmsideasday_info_text" style="margin-left: 10px"></div>
        			<div id="cmsideasday_info_text_qty" style="margin-left: 10px"></div>
        		</div>
        		

    </div>
    

<?php if($this->getProduct()->getData('price_rule')): ?>
    	<?php $booking = Mage::helper('booking');?>
    	<div id="cmsideasday_info" class="notice-msg">
    		<?php echo $booking->__('Availible discounts for checkout: ').'<br />'?>
        	<?php foreach ($this->getProduct()->getData('price_rule') as $rule): ?>
        	<?php 
         	$out = '';
         	$value = $rule['value'];
         	
        	if($rule['type'] != 3)
        		$value = strtotime(date('Y-m-d')) + Glace_Booking_Model_Product_Type_Booking_Price::getDifferention($rule);
        	 
         	switch ($rule['type']){
         		case '1' : 
         			$out .= $booking->__('For reservations after ') . Mage::helper('core')->formatDate(date('Y-m-d', $value), 'medium', false) . $booking->__(' there is First Moment');
         			break;
         		case '2' : 
         			$out .= $booking->__('For reservations before ') . Mage::helper('core')->formatDate(date('Y-m-d', $value), 'medium', false) . $booking->__(' there is Last Minute');
         			break;
         		case '3' : 
         			$out .= $booking->__('For reservations of more than ') . $value . (($this->getProduct()->getAttributeText('billable_period') == 'Session')? $booking->__(' sessions') : $booking->__(' days')) . $booking->__(' there is ');
         			break;
         	}
         	
         	$out .= (($rule['move'] == 1)? $booking->__(' mark-up by ') : $booking->__(' discount by ')).$rule['amount'];
         	$out .= ($rule['amount_type'] == 1)? '%.' : Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol().'.';
        	echo $out. '<br />';
        	?>
        	
        	
        	<?php endforeach;?>
        </div>
    
    <?php endif;?>
    
    
    
</dd>