<?php $pinHelper = Mage::helper('bodacustomer/pin') ?>
<?php $c = $this->getCode(); ?>
<div class="clearer bodacustomer-pin pin-images-<?php echo $c ?>" id="pin-images-<?php echo $c ?>">
    <ul>
        <?php foreach ($pinHelper->getPINImages() as $k => $v): ?>
        <li style="float:left"><span><?php echo $k ?></span><img class="boda-pin-images boda-pin-images-<?php echo $c ?>" src="<?php echo $v ?>" num="<?php echo $k ?>"/></li>
        <?php endforeach; ?>
    </ul>
    <input type="button" class="deletePin" id="delete-back-<?php echo $c ?>" value="<?php echo $this->__('Remove') ?>" disabled="disabled"/>
</div>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('img.boda-pin-images-<?php echo $c ?>').on('click', function() {
            v = jQuery('#<?php echo $c ?>').val();
            v = v.toString();
            v = v + jQuery(this).attr('num').toString();
            jQuery('#<?php echo $c ?>').val(v);
            jQuery('#delete-back-<?php echo $c ?>').removeAttr('disabled');
        });
        jQuery('#delete-back-<?php echo $c ?>').on('click', function() {
            v = jQuery('#<?php echo $c ?>').val();
            v = v.substr(0,v.length - 1);
            jQuery('#<?php echo $c ?>').val(v);
            if(v.length <= 0){
                jQuery('#delete-back-<?php echo $c ?>').attr('disabled','disabled');
            }
        });
    });
</script>
