<?php
/**
 * @category   Aivomatic
 * @package    Aivomatic_Svmmg
 * @version    ver. 1.5.2 - $Id: form.phtml 1136 2010-01-08 08:11:45Z teemu $
 * @file       $URL: file:///home/teemu/svn/aivomatic/svmmg/trunk/base/app/design/frontend/default/modern/template/svmmg/standard/form.phtml $
 * @copyright  Aivomatic Ltd 2013 (http://www.aivomatic.com)
 * @link       http://www.aivomatic.com/
 * @copyright  Copyright (c) 2004-2007 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<ul id="payment_form_<?php echo $this->getMethodCode(); ?>" style="display:none">
    <li>
        <?php echo $this->__('You will be redirected to website of PGW when you place an order.') ?><br />
    </li>
</ul>