<!--<div id="amscheckout-login" class="amscheckout-login">
    <div>
        <?php echo $this->getChildHtml('login_before')?>
        <div>
            <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
            <form id="login-form" action="<?php echo $this->getUrl("customer/account/loginPost"); ?><?php //echo $this->getPostAction() ?>" method="post">
                <input type="hidden" name="form_key" value="<?php print Mage::getSingleton('core/session')->getFormKey();?>"/>
                <div class="amscheckout-login-container">
                    <table class="amscheckout-login-table">
                        <tr>
                            <td class="cell-label"><label for="login-email" class="required"><?php echo $this->__('Email Address') ?></label></td>
                            <td><input type="text" class="input-text required-entry validate-email" id="login-email" name="login[username]" value="<?php echo $this->escapeHtml($this->getUsername()) ?>" /></td>
                        </tr>
                        <tr>
                            <td class="cell-label"><label for="login-password" class="required"><?php echo $this->__('Password') ?></label></td>
                            <td><input type="password" class="input-text required-entry" id="login-password" name="login[password]" /></td>
                        </tr>
                    </table>
                </div>
                
                <div>
                    <?php echo $this->getChildHtml('form.additional.info'); ?>
                </div>
            </form>
        </div>
    </div>

    <div class="login-buttons">
        <div class="login-button">
            <button type="submit" class="amscheckout-dologin" onclick="onepageLogin(this)"><span><span><?php echo $this->__('Log in') ?></span></span></button>
        </div>
        <a class="amscheckout-forgot" href="<?php echo $this->getUrl('customer/account/forgotpassword') ?>"><?php echo $this->__('Forgot your password?') ?></a>
    </div>
</div>
<?php echo $this->getChildHtml('checkout.onepage.login.extra')?>

    

<script type="text/javascript">
//<![CDATA[
    var loginForm = new VarienForm('login-form', true);
    $('login-email').observe('keypress', bindLoginPost);
    $('login-password').observe('keypress', bindLoginPost);
    function bindLoginPost(evt){
        if (evt.keyCode == Event.KEY_RETURN) {
            loginForm.submit();
        }
    }
    function onepageLogin(button)
    {
        if(loginForm.validator && loginForm.validator.validate()){
            button.disabled = true;
            loginForm.submit();
        }
    }
//]]>
</script>
!-->

    <div id="amscheckout-login" class="amscheckout-login">
        <div class="page-title">
            <span><?php echo $this->__('Login to your Account') ?></span>
        </div>
        <?php
        $login_url = $this->getUrl('amscheckoutfront/onepage/login', array('_secure' => (!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on')));
        
        $http_mode = (!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on');
        if ($http_mode)
            $login_url = str_replace('http:', 'https:', $login_url);
        ?>
        <script type="text/javascript">
         var loginForm = new VarienForm('login-form', true);
    jQuery(document).ready(function() {
        var val=jQuery("#country").val();
        val    ="+"+val;
        jQuery("#country_code").val(val);
        jQuery("#phone_number").removeClass("required-entry");

        /////////
        jQuery("#email").change(function(){
            var val=jQuery(this).val();
            if(val!="")
            {
                jQuery("#phone_number").val("");
                jQuery("#phone_number").removeClass("required-entry");
                jQuery(this).addClass("required-entry");
                jQuery("#usernamehidden").val(val);
            }
        });
        jQuery("#phone_number").change(function(){
            var val=jQuery(this).val();
            if(val!="")
            {
                jQuery("#email").val("");
                jQuery("#email").removeClass("required-entry");
                jQuery(this).addClass("required-entry");
                val   =jQuery("#country_code").val()+val+"@bodamoney.com";
                jQuery("#usernamehidden").val(val);
            }

        });
        //set dot
        jQuery("#country").change(function(){
            var val=jQuery(this).val();
            val    ="+"+val;
            jQuery("#country_code").val(val);
        })
        ///////////////////
        /*jQuery("#login-form").submit(function(event){
             /* stop form from submitting normally */
             //   event.preventDefault();
                //////
            //    jQuery("p#message").html("<img  src='<?php  echo $this->getSkinUrl('images/ajax-loader-tr.gif'); ?>'>");
                
                 /* get some values from elements on the page: */
           //     var $form = jQuery(this),
                    //user=$form.find('input[name="username"]').val(),
             //       //term = $form.find('input[name="password"]').val(),
            //        url = $form.attr('action');
           //          var formData = {
            //            'login[username]'   : $form.find('input[id="usernamehidden"]').val(),
             //           'login[password]'   : $form.find('input[id="pass"]').val(),
           //             'form_key'          :$form.find('input[name="form_key"]').val(),
                        
                      
            //        };
            ///    jQuery('#login-please-wait').show();
             //   jQuery("#login-please-message").html("");
             //   jQuery("#login-please-message").hide();
              ///  jQuery('#send2').attr('disabled', 'disabled');
             //   jQuery('#login-form .buttons-set')[0].addClassName('disabled').setOpacity(0.5);
                /* Send the data using post */
             /*    jQuery.ajax({
                    url: url,
                    data: formData,
                    type: "POST",
                    success: function(response, textStatus, xhr) {
                        jQuery('#login-please-wait').hide();                   
                        jQuery('#send2').removeAttr('disabled');
                        jQuery('#login-form .buttons-set')[0].removeClassName('disabled').setOpacity(1);
                        if(response)
                        {                            
                            var obj = jQuery.parseJSON(response);
                            if(obj.error)
                            {
                                jQuery("#login-please-message").show();
                                jQuery("#login-please-message").html(obj.error);
                                return;
                            }
                            if(obj.code){
                                jQuery('#login-please-wait').show();
                                jQuery.ajax({
                                    url:obj.urlpath,
                                    type: "POST",
                                    data: "coupon_code="+obj.code,
                                    success: function(data) {
                                        if (obj.redirect) {
                                            document.location = obj.redirect;
                                        return
                                        }
                                    }
                                     });
                            }else{
                                if (obj.redirect) {
                                    document.location = obj.redirect;
                                   return
                                }
                            }
                            
                        }                    
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        console.log("error");
                    }
                });
         });
        /////////////
    });
</script>
        <form method="post" id="login-form" action="<?php echo $this->getPostAction();?><?php //echo $login_url ?>" autocomplete="on">
            <input  type="hidden"  value="" id="usernamehidden" name="login[username]"/>
             <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
            <div class="boxcontent form_fields">
                <div class='full'>
                    <label>
                        <?php echo $this->__('Email Address ') ?>
                    </label>
                    <sup>*</sup>
                    <div class="data_area">
                        <input type="text" name="username" value="<?php echo $this->htmlEscape($this->getUsername()) ?>" id="email" class="input-text required-entry validate-email" title="<?php echo $this->__('Email Address ') ?>" />
                    </div>
                </div>
                <div class='full'>
                    <label>
                        <?php echo $this->__('Or') ?>
                    </label>                 
                </div>
                <div style="clear: both;">&nbsp;</div>
        
                <div class='full'>
                    <label>
                        <?php echo $this->__('Enter Mobile Number') ?>
                    </label>
                    <sup>*</sup>
                     <div class="data_area">
                        <div class="input-box">
                                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('block_country')->toHtml() ?>                      
                              <table width="100%">
                                        <tr>
                                            <td><label for="country_code" class="required"><?php echo $this->__('Country code') ?></label></td>
                                            <td><label for="area_code" class="required"><?php echo $this->__('Area code and phone number') ?><em>*</em></label></td>
                                        </tr>
                                        <tr>
                                            <td><input  style="width: 60px;" autocomplete="off" readOnly="readOnly" type="text"  name="country_code" value="<?php  ?>" id="country_code" class="input-text country-code required-entry" title="<?php echo $this->__('Country code') ?>" /></td>
                                            <td><input  autocomplete="off" type="text" name="phone_number"  id="phone_number" class="country-phone required-entry input-text" title="<?php echo $this->__('Area code and phone number') ?>" /></td>
                                        </tr>
                                    </table>
                        </div> 
                </div>
                <!-- !--->
                <div class='full'>
                    <label>
                        <?php echo $this->__('PIN1') ?>
                    </label>
                    <sup>*</sup>
                            <?php $enable = Mage::helper('bodacustomer/pin')->getPINPasswordEnable() ?>
                            <?php if($enable > 0): ?>
                                <?php echo $this->getLayout()->createBlock('core/template')->setCode('pass')->setTemplate('sttl/bodacustomer/pin/images.phtml')->toHtml()  ?>
                            <?php endif ?>                  
                    <div class="input-box">
                        <input style="font-size: 24px;padding: 3px;" <?php if($enable == 1): ?> readonly="readonly"<?php endif ?>  id="pass" type="password" name="login[password]" class="input-text required-entry validate-PIN"  title="<?php echo $this->__('Password') ?>" />
                    </div>
                </div>
            </div>
            <div class="buttons-set">
                <a href="javascript:void(0);" class="f-left onepagecheckout_forgotlink" onclick='open_forgot();'><?php echo $this->__('Forgot Your Password?') ?></a>
                <button type="submit" class="button" title="<?php echo $this->__('Login') ?>" name="send" id="send2"><span><span><?php echo $this->__('Login') ?></span></span></button>
                <span class="please-wait" id="login-please-wait" style="display:none;">
                    <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" class="v-middle" alt=""/>
                </span>
                <span class="please-wait" id="login-please-message" style="display:none;">
                  
                </span>
            </div>
        </form>
        <script type="text/javascript">
            //<![CDATA[
            var loginForm = new VarienForm('login-form',false);
            //]]>
        </script>
    </div>
</div>