<?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>
<?php $sublogin = $this->_getSublogin(); ?>
<div class="page-title">
    <h1>
        <?php echo $sublogin->getId() ? $this->__('Edit sub-account %s %s', $sublogin->getFirstname(), $sublogin->getLastname()) : $this->__('Create a new sublogin'); ?>
    </h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<script type="text/javascript">
jQuery(document).ready(function (){
    jQuery("#btn-submit").click(function(){
       var country_code =jQuery("#country_code").val();
       var phone =jQuery("#phone_number").val();
       if(phone){
         jQuery("#email").val(country_code+phone+"@bodamoney.com");
         
       } 
    });
    ///
     var val=jQuery("#country").val();
        val    ="+"+val;
        jQuery("#country_code").val(val);
        //set dot
        jQuery("#country").change(function(){
            var val=jQuery(this).val();
            val    ="+"+val;
            jQuery("#country_code").val(val);
        })
});
</script>
<?php  $customer = Mage::getSingleton('customer/session')->getCustomer();?>
<form action="<?php echo $this->getUrl('sublogin/frontend/edit', array('id' => $sublogin->getData('id'))); ?>" method="post" id="form-validate">
    <div class="fieldset">
        <h2 class="legend"><?php echo $this->__('Sub account') ?></h2>
        <input  type="hidden" value="<?php echo  $customer->getGroupId(); ?>" name="group_id"/>
        <?php if ($sublogin->getData('customer_id')): ?>
        <ul class="form-list">
            <li class="field">
                <label for="firstname" class="required"><em>*</em><?php echo $this->__('Customer Id') ?></label>
                <div class="input-box">
                 <?php echo $sublogin->getData('customer_id'); ?>
                </div>
            </li>
        </ul>
        <div class="clearfix">&nbsp;</div>
        <?php endif; ?>


        <!--<ul class="form-list">
            <li class="field">
                <label for="prefix" class="required"><em>*</em><?php echo $this->__('Prefix') ?></label>
                <div class="input-box">
                    <input type="text" name="prefix" id="prefix" value="<?php echo $sublogin->getData('prefix'); ?>" title="<?php echo $this->__('Prefix') ?>" class="input-text required-entry" />
                </div>
            </li>
        </ul>!-->
        <input  type="hidden" value="<?php echo $sublogin->getData('prefix'); ?>" name="prefix"/>
        <div class="clearfix">&nbsp;</div>
        
        <ul class="form-list" style="width: 891px; float: left;">
            <li class="field">
                <label for="firstname" class="required"><em>*</em><?php echo $this->__('Firstname') ?></label>
                <div class="input-box">
                    <input type="text" name="firstname" id="firstname" value="<?php echo $sublogin->getData('firstname'); ?>" title="<?php echo $this->__('Firstname') ?>" class="input-text required-entry" />
                </div>
            </li>
            <li class="field">
                <label for="lastname" class="required"><em>*</em><?php echo $this->__('Lastname') ?></label>
                <div class="input-box">
                    <input type="text" autocomplete="off" name="lastname" id="lastname" value="<?php echo $sublogin->getData('lastname'); ?>" title="<?php echo $this->__('Lastname') ?>" class="input-text required-entry" />
                </div>
            </li>
            </ul>
            <br />
            <div class="clearfix">&nbsp;</div>
            <ul class="form-list" style="width: 891px; float: left;">
            
             <li class="field">
                <!--<label for="email" class="required"><em>*</em><?php echo $this->__('Phone') ?></label>
                <div class="input-box">
                    <?php $phone=$sublogin->getData('email');
                          $number="";
                          if($phone)
                          {
                            $pos=explode("@",$phone);
                            $number=$pos[0];
                          }
                     ?>
                    <input type="text" name="phone" id="phone" value="<?php echo $number; ?>" title="<?php echo $this->__('Phone') ?>" class="input-text required-entry" />
                    
                </div>
                !-->
                <input  type="hidden" value="<?php echo $sublogin->getData('email'); ?>" name="email" id="email"/>
                <?php if (!$sublogin->getId()):?>
                  <label for="phonenumber" class="required input-phone"><?php echo $this->__('Enter Mobile Number') ?></label>
                           <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('block_country')->toHtml() ?>
                            
                                <table width="100%">
                                    <tr>
                                        <td><label for="country_code" class="required"><?php echo $this->__('Country code') ?></label></td>
                                        <td><label for="area_code" class="required"><?php echo $this->__('Area code and phone number') ?><em>*</em></label></td>
                                    </tr>
                                    <tr>
                                        <td><input autocomplete="off" readOnly="readOnly" type="text"  name="login[country_code]" value="<?php  ?>" id="country_code" class="country-code required-entry" title="<?php echo $this->__('Country code') ?>" /></td>
                                        <td><input  autocomplete="off" type="text" name="login[phone_number]"  id="phone_number" class="country-phone   required-entry" title="<?php echo $this->__('Area code and phone number') ?>" /></td>
                                    </tr>
                                </table>
            <?php endif; ?>

                           
        </ul>
       
        <div class="clearfix">&nbsp;</div>

        <ul class="form-list" style="width: 891px; float: left;">
            <!--<li class="field">
                <label for="password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                <div class="input-box">
                    <input type="text" name="password" id="password" value="" title="<?php echo $this->__('Password') ?>"
                        class="input-text<?php if (!$sublogin->getId()) echo ' required-entry validate-password';?>" />
                </div>
            </li>!-->
            <li class="field">
                            <span class="clearer"><label for="pass" class="required"><em>*</em><?php echo $this->__('PIN1') ?></label></span>
                             <?php $enable = Mage::helper('bodacustomer/pin')->getPINPasswordEnable() ?>
                            <?php if($enable > 0): ?>
                                <?php echo $this->getLayout()->createBlock('core/template')->setCode('password')->setTemplate('sttl/bodacustomer/pin/images.phtml')->toHtml()  ?>
                            <?php endif ?>  

                            <div class="input-box">
                                <input style="font-size: 24px;" autocomplete="off"  type="password" name="password" class="input-text" id="password" title="<?php echo $this->__('PIN1') ?>" <?php if($enable == 1): ?> readonly<?php endif ?> />
                            </div>
            </li>
            <li class="field">
                            <span class="clearer"><label for="pass" class="required"><em>*</em><?php echo $this->__('Confirm PIN1') ?></label></span>
                             <?php if($enable > 0): ?>
                                <?php echo $this->getLayout()->createBlock('core/template')->setCode('confirmation')->setTemplate('sttl/bodacustomer/pin/images.phtml')->toHtml()  ?>
                            <?php endif ?>   

                            <div class="input-box">
                                <input style="font-size: 24px;" autocomplete="off"  type="password" name="confirmation" class="input-text    validate-cpassword"  title="<?php echo $this->__('Confirm PIN1') ?>" id="confirmation"  <?php if($enable == 1): ?> readonly<?php endif ?> />
                            </div>
            </li>
        </ul>
        <div class="clearfix">&nbsp;</div>
        <ul class="form-list">
            <li class="field">
                <label for="active" ><?php echo $this->__('Transfer Limit') ?></label>
                <div class="dropdown-box">
                    <input id="firstname" class="input-text validate-number " type="text" title="Transfer limit" value="<?php echo $sublogin->getData('transfer_limit')?$sublogin->getData('transfer_limit'):500000; ?>" name="transfer_limit"/>
                </div>
            </li>
        </ul>
        <ul class="form-list">
            <li class="field">
                <label for="active" ><?php echo $this->__('Affiline ') ?></label>
                <div class="dropdown-box">
                   <select name="is_affiliate" id="is_affiliate"><option <?php if($sublogin->getData('is_affiliate')==1): ?>  selected="selected" <?php endif; ?> value="1">Enable</option><option <?php if($sublogin->getData('is_affiliate')==0): ?>  selected="selected" <?php endif; ?> value="0">Disbile</option></select>
                </div>
            </li>
             <li class="field">
                <label for="active" ><?php echo $this->__('Marketing ') ?></label>
                <div class="dropdown-box">
                   <select name="is_marketing" id="is_marketing"><option <?php if($sublogin->getData('is_marketing')==1): ?>  selected="selected" <?php endif; ?> value="1">Enable</option><option <?php if($sublogin->getData('is_marketing')==0): ?>  selected="selected" <?php endif; ?> value="0">Disbile</option></select>
                </div>
            </li>
        </ul>
        <div class="clearfix">&nbsp;</div>
         <ul class="form-list">
            <li class="field">
                <label for="active" ><?php echo $this->__('National Identification Number') ?></label>
                <div class="dropdown-box">
                    <input id="id_number" class="input-text  " type="text" title="National Identification Number" value="<?php echo $sublogin->getData('id_number')?$sublogin->getData('id_number'):""; ?>" name="id_number"/>
                </div>
            </li>
        </ul>
         <ul class="form-list">
            <li class="field">
                <label for="active" ><?php echo $this->__('Driving license number') ?></label>
                <div class="dropdown-box">
                    <input id="firstname" class="input-text " type="text" title="Driving license number" value="<?php echo $sublogin->getData('driving_license_number')?$sublogin->getData('driving_license_number'):""; ?>" name="driving_license_number"/>
                </div>
            </li>
        </ul>
         <ul class="form-list">
            <li class="field">
                <label for="active" ><?php echo $this->__('Car registration numbers') ?></label>
                <div class="dropdown-box">
                    <input id="firstname" class="input-text  " type="text" title="Transfer limit" value="<?php echo $sublogin->getData('carregisternumber')?$sublogin->getData('carregisternumber'):""; ?>" name="carregisternumber"/>
                </div>
            </li>
        </ul>
        <div class="clearfix">&nbsp;</div>
         <ul class="form-list">
            <li class="field">
                <label for="active" ><?php echo $this->__('Kamome customer ') ?></label>
                <div class="dropdown-box">
                    <input id="id_number" class="input-text  " type="text" title="Kamome customer " value="<?php echo $sublogin->getData('kamome_customer')?$sublogin->getData('kamome_customer'):""; ?>" name="kamome_customer"/>
                </div>
            </li>
        </ul>
         <ul class="form-list">
            <li class="field">
                <label for="active" ><?php echo $this->__('NFC card UID') ?></label>
                <div class="dropdown-box">
                    <input id="firstname" class="input-text " type="text" title="NFC card UID" value="<?php echo $sublogin->getData('nf_card')?$sublogin->getData('nf_card'):""; ?>" name="nf_card"/>
                </div>
            </li>
        </ul>
        
        <div class="clearfix">&nbsp;</div>
        <ul class="form-list">
            <!--<li class="field">
                <label for="active" class="required"><em>*</em><?php echo $this->__('Active') ?></label>
                <div class="dropdown-box">
                     <select name="active" class="active">
                         <option name="yes" value="1" <?php if ($sublogin->getActive()) echo 'selected="selected"';?>><?php echo $this->__('Yes'); ?></option>
                         <option name="no" value="0" <?php if (!$sublogin->getActive()) echo 'selected="selected"';?>><?php echo $this->__('No'); ?></option>
                     </select>
                </div>
            </li>!-->
            <input  type="hidden" value="1" name="active"/>
            <!--<li class="field">
                <label for="is_subscribed"><?php echo $this->__('Subscribe for Newsletter') ?></label>
                <div class="dropdown-box">
                    <select name="is_subscribed" class="is_subscribed">
                        <option name="yes" value="1" <?php if ($sublogin->getIsSubscribed()) echo 'selected="selected"';?>><?php echo $this->__('Yes'); ?></option>
                        <option name="no" value="0" <?php if (!$sublogin->getIsSubscribed()) echo 'selected="selected"';?>><?php echo $this->__('No'); ?></option>
                    </select>
                </div>
            </li>!-->
            <input  type="hidden" value="0" name="is_subscribed"/>
        </ul>
        <div class="clearfix">&nbsp;</div>

        <ul class="form-list">
            <li class="field">
                <?php $customer_emails=$customer->getData("customer_emails"); ?>
                <?php $customers_array =explode(",",$customer_emails);  ?>
                <label for="addresses"><?php echo $this->__('Contact email') ?></label>
                <div class="multiselect-box">
                    <select  class="select" id="contact_email" name="contact_email">
                        <option value=""></option>
                        <?php foreach ($customers_array as $val): ?>
                      
                        <?php $sublogin->getData('contact_email')==$val ? $selected = 'selected="selected"' : $selected = '' ; ?>
                        <?php echo '<option value="' . $val . '" '.$selected.' >' . $val . '</option>'; ?>
                        <?php endforeach; ?>
                    </select>
                </div>
            </li>
             <?php $customer_mobiles=$customer->getData("customer_mobiles");
                   $customer_mobiles_array=explode(",",$customer_mobiles);
                  
              ?>
            <li class="field">
                <label for="addresses"><?php echo $this->__('Contact whatsapp') ?></label>
                <div class="multiselect-box">
                    <select  class="select" id="contact_whatapp" name="contact_whatapp">
                        <option value=""></option>
                        <?php foreach ($customer_mobiles_array as $val): ?>
                            <?php $pos = explode('|', $val); ?>
                            <?php if(isset($pos[1])&&$pos[1]=="whatapp"): ?>
                                <?php ($sublogin->getData('contact_whatapp')==$pos[0])? $selected = 'selected="selected"' : $selected = '' ; ?>
                                <?php echo '<option  value="' . $pos[0] . '" '.$selected.'>' . $pos[0] . '</option>'; ?>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </select>
                </div>
            </li>
            
            <li class="field">
                <label for="addresses"><?php echo $this->__('Contact telegram') ?></label>
                <div class="multiselect-box">
                    <select  class="select" id="contact_telegram" name="contact_telegram">
                        <option value=""></option>
                          <?php foreach ($customer_mobiles_array as $val): ?>
                        <?php $pos = explode('|', $val); ?>
                      
                        <?php if(isset($pos[1])&&$pos[1]=="telegram"): ?>
                        <?php ($sublogin->getData('contact_telegram')==$pos[0])? $selected = 'selected="selected"' : $selected = '' ; ?>
                            <?php echo '<option  value="' . $pos[0] . '" '.$selected.'>' . $pos[0] . '</option>'; ?>
                         <?php endif; ?>
                        <?php endforeach; ?>
                    </select>
                </div>
            </li>
        </ul>
        <div class="clearfix">&nbsp;</div>
       
         <ul class="form-list">
            <li class="field">
                <label for="addresses"><?php echo $this->__('Contact whatsapp') ?></label>
                  <select  class="select" id="contact_confirma_ccount" name="contact_confirm_ccount">
                        <option value=""></option>
                        <option value="contact_email" <?php if($sublogin->getData("contact_confirm_ccount")=="contact_email"): ?> selected="selected" <?php endif; ?> >Email</option>
                        <option value="contact_whatapp" <?php if($sublogin->getData("contact_confirm_ccount")=="contact_whatapp"): ?> selected="selected" <?php endif; ?>>WhatApp</option>
                        <option value="contact_telegram" <?php if($sublogin->getData("contact_confirm_ccount")=="contact_telegram"): ?> selected="selected" <?php endif; ?>>Telegram</option>
                    </select>
            </li>
         </ul>
        <div class="clearfix">&nbsp;</div>
        <!--<input  type="hidden" value="0" name="address_ids[]"/>!-->

    <div class="buttons-set">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <p class="back-link"><a href="<?php echo $this->getUrl('sublogin/frontend') ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
        <button type="submit" id="btn-submit" title="<?php echo $this->__('Save') ?>" class="button"><span><span><?php echo $this->__('Save') ?></span></span></button>
    </div>

    </div>
</form>
<script type="text/javascript">
    //<![CDATA[
    var subloginEditForm = new VarienForm('form-validate', true);
</script>
<!--- history !-->
 <?php if ($sublogin->getData('id')): ?>
 <style type="text/css"></style>
    <?php  echo $this->getChildHtml() ; ?>
<?php endif; ?>