<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="page-title">
    <h1><?php echo $this->__('My Sub account') ?></h1>
</div>
<?php if ($this->getCollection()->getSize() > 0): ?>
<?php echo $this->getToolbarHtml() ?>
<style type="text/css">.nobr {
    float: left;
    white-space: nowrap !important;
}</style>
    <table class="data-table" id="my-orders-table">
        <col />
        <col width="1" />
        <col width="1" />
        <col width="1" />
        <col width="1" />
     <thead>
            <tr >
                    <?php if (Mage::helper('core')->isModuleEnabled('MageB2B_CustomerId')): ?>
                        <th><span class="nobr"><?php echo $this->__('Customer Id') ?></span></th>
                    <?php endif; ?>
                    <th width="10"><span class="nobr"><?php echo $this->__('Firstname') ?></span></th>
                    <th><span class="nobr"><?php echo $this->__('Lastname') ?></span></th>
                    <th><span class="nobr"><?php echo $this->__('Phone Number') ?></span></th>
                    <th><span class="nobr"><?php echo $this->__('Active') ?></span></th>
                    <?php if (!Mage::helper('sublogin')->getCurrentSublogin()): ?>
                        <th><span class="nobr"><?php echo $this->__('Actions'); ?></span></th>
                    <?php endif; ?>
            </tr>
     </thead>
        <tbody>
            <?php foreach ($this->getCollection() as $i => $_sublogin): ?>
            <tr   class="<?php echo $i%2?'even':'odd'?>">
                    <?php if (Mage::helper('core')->isModuleEnabled('MageB2B_CustomerId')): ?>
                        <td><span class="nobr"><?php echo $_sublogin->getData('customer_id') ?></span></td>
                    <?php endif; ?>
                    <td ><span class="nobr"><?php echo $_sublogin->getData('firstname') ?></span></td>
                    <td ><span class="nobr"><?php echo $_sublogin->getData('lastname') ?></span></td>
                    <td > <span class="nobr"><?php $subemail=$_sublogin->getData('email');
                                                 echo str_replace("@bodamoney.com","",$subemail);   
                    
                     ?></span></td>
                    <td ><span class="nobr"><?php echo $_sublogin->getData('active') ? $this->__('Yes') : $this->__('No'); ?></span></td>
                    <?php if (!Mage::helper('sublogin')->getCurrentSublogin()): ?>
                        <td ><span class="nobr"></span>
                        <a href="<?php echo $this->getUrl('sublogin/frontend/edit/', array('id' => $_sublogin->getData('id'))); ?>"><img style="width:15px ;" width="15px" src="<?php echo $this->getSkinUrl('images/sublogin/edit.png'); ?>" alt="edit" /></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="<?php echo $this->getUrl('sublogin/frontend/delete/', array('id' => $_sublogin->getData('id'))); ?>"><img  style="width:15px ;" width="15px" src="<?php echo $this->getSkinUrl('images/sublogin/delete.png'); ?>" alt="delete" /></a>
                        </td>
                    <?php endif;?>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<?php else: ?>
    <p><?php echo Mage::helper('sublogin')->__('No sub-account created for your account yet. Just click on create new sublogin to create a new one.'); ?></p>
<?php endif; ?>
<?php echo $this->getToolbarHtml() ?>
<div class="buttons-set">
    <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
    <?php if ($this->noticeOnMaxSublogin()): ?>
        <p style="color:red;"><?php echo Mage::helper('sublogin')->__('You have reached the maximum sublogins you are able to create.'); ?></p>
    <?php endif; ?>
    <?php if ($this->accessNewSubloginButton()): ?>
        <button type="button" onclick="window.location='<?php echo $this->getUrl('sublogin/frontend/create/') ?>';" title="<?php echo $this->__('Create new sublogin') ?>" class="button"><span><span><?php echo $this->__('Create new Sub account') ?></span></span></button>
    <?php endif; ?>
</div>
