doctype 5
html
  head
    title GrabzIt Demo
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='/javascripts/ui.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content