<fieldset class="form-list">
	<?php $_code=$this->getMethodCode() ?>
</fieldset>
<div id="payment_form_<?php echo $_code ?>" style="display:none;">
    <p class="trustly_title" style="padding-left: 20px; padding-top: 8px; ">
        <?php echo $this->helper('trustly')->__('Instant online banking payment. Supports all banks. Free of charge. Use your regular bank login.') ?>
    </p>
</div>
