<img src="https://static.trustly.com/logotype/checkout/trustly_73.png" alt="<?php echo Mage::helper('trustly')->__('Trustly') ?>" class="v-middle" />&nbsp;
<span style="position: relative; top: 3px;">
	<?php echo $this->__('Instant bank payment. Free. No registration.') ?>
	<a style="margin-left: 5px;" href="<?php echo $this->getPaymentAcceptanceMarkHref()?>" onclick="javascript:window.open('<?php echo $this->getPaymentAcceptanceMarkHref()?>','whatistrustly','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, ,left=0, top=0, width=970, height=725'); return false;"><?php echo Mage::helper('trustly')->__('What is Trustly?') ?></a>
</span>
