<?php
    if ($this->isCustomerMustBeLogged() && !$this->helper('customer')->isLoggedIn()){
    ?>
    <ol class="opc">
        <li class="section allow active">
            <div class="step-title">
                <h2><?php echo $this->__('Login') ?></h2>
                <a href="#"><?php echo $this->__('Edit') ?></a>
            </div>
            <div class="step a-item" >
                <?php echo $this->getChildHtml('login'); ?>
            </div>
        </li>
    </ol>
<script type="text/javascript" src="<?php echo $this->getJsUrl('varien/accordion.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/opcheckout.js') ?>"></script>

<script type="text/javascript">
//<![CDATA[
    var accordion = new Accordion('checkoutSteps', '.step-title', true);
    <?php if($this->getActiveStep()): ?>
    accordion.openSection('opc-<?php echo $this->getActiveStep() ?>');
    <?php endif ?>
    var checkout = new Checkout(accordion,{
        progress: '<?php echo $this->getUrl('checkout/onepage/progress') ?>',
        review: '<?php echo $this->getUrl('checkout/onepage/review') ?>',
        saveMethod: '<?php echo $this->getUrl('checkout/onepage/saveMethod') ?>',
        failure: '<?php echo $this->getUrl('checkout/cart') ?>'}
    );
//]]>
</script>
<?php

    } else {
        
        echo $this->getChildHtml('checkout.onepage');
        
        $areas = $this->getAreas();
        $fields = $this->getFields();

        $storeConfig = $this->getStoreConfig();
?>

<!--<iframe id="defaultCheckout" style="display: none;" width="500" height="500" src="<?php print $this->getDefaultCheckoutUrl();?>"></iframe>-->
<?php
    if (!$this->isCustomerLoggedIn()){
?>
<?php if ($this->getLayoutType()->value == 'one_column'){
?>
    <center><a class="am_login_link" href="#" onclick="amShowDialog(); return false;"><?php echo $this->__('Already registered? Click here to login.');?></a></center>
<?php
} else {
?>
    <a  class="am_login_link"  href="#" onclick="amShowDialog(); return false;"><?php echo $this->__('Already registered? Click here to login.');?></a>
<?php
}
?>
<div id="am_login" style="display: none;">
    <h3><?php echo $this->__('Login') ?></h3>
    
    <form id="login-form" action="<?php echo $this->getLoginPostAction() ?>" method="post">
        <fieldset>
            <h4><?php echo $this->__('Already registered?') ?></h4>
            <p><?php echo $this->__('Please log in below:') ?></p>
            <ul class="form-list">
                <li>
                    <label for="login-email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                    <div class="input-box">
                        <input type="text" class="input-text required-entry validate-email" id="login-email" name="login[username]" value="<?php echo $this->htmlEscape($this->getUsername()) ?>" />
                    </div>
                </li>
                <li>
                    <label for="login-password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                    <div class="input-box">
                        <input type="password" class="input-text required-entry" id="login-password" name="login[password]" />
                    </div>
                </li>
                <?php echo $this->getChildHtml('form.additional.info'); ?>
            </ul>
        </fieldset>
    </form>
    <div class="buttons-set">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <a href="<?php echo $this->getUrl('customer/account/forgotpassword') ?>" class="f-left"><?php echo $this->__('Forgot your password?') ?></a>
        <button type="submit" class="button" onclick="onepageLogin(this)"><span><span><?php echo $this->__('Login') ?></span></span></button>
    </div>
</div>
    
<?php

}
?>
<div style="float: left;">
    <div id="amOverlay"></div>
    <div id="am_onepage_container" class="amonepage-container">

        <div id="am_loading" class="am_loading">

            <img src="<?php echo $this->getSkinUrl(); ?>images/amscheckout-processing.gif" class="v-middle">

        </div>



        <?php switch($this->getLayoutType()->value) {
            case "three_columns":
                print '<div id="1_column" class="amonepage-column-left"><ul></ul></div>
                <div id="2_column" class="amonepage-column-middle"><ul></ul></div>
                <div id="3_column" class="amonepage-column-right"><ul></ul></div>';
                break;
            case "two_columns":
                print '<div id="1_column" class="amonepage-column-first"><ul></ul></div>
                <div id="2_column" class="amonepage-column-second"><ul></ul></div>';
                break;
            case "one_column":
                print '<center><div id="1_column" class="amonepage-single-column"><ul></ul></div></center>';
                break;

        }
    ?>

    </div>
</div>
    
    


<script>
    var amOnepageCheckoutObj
//    document.observe('dom:loaded', function(){
        amOnepageCheckoutObj = new amOnepageCheckout(
            <?php print Mage::helper('core')->jsonEncode($areas);?>,
            <?php print Mage::helper('core')->jsonEncode($fields);?>, {
                'defaultCheckoutUrl': '<?php print $this->getDefaultCheckoutUrl();?>',
                'afterSaveUrl': '<?php print $this->getAfterAjaxUrl();?>',
                'billingSaveUrl': '<?php print $this->getBillngSaveUrl();?>',
                'shippingSaveUrl': '<?php print $this->getShippingSaveUrl();?>',
                'shippingMethodSaveUrl': '<?php print $this->getShippingMethodSaveUrl();?>',
                'paymentSaveUrl': '<?php print $this->getPaymentSaveUrl();?>',
                'paymentMethodSaveUrl': '<?php print $this->getPaymentMethodSaveUrl();?>',
                'methodSaveUrl': '<?php print $this->getMethodSaveUrl();?>',
                'shoppingCartSaveUrl': '<?php print $this->getShoppingCartSaveUrl();?>',
                'shoppingCartDeleteUrl': '<?php print $this->getShoppingCartDeleteUrl();?>',
                'saveDefaultsUrl': '<?php print $this->getSaveDefaultsUrl();?>',
                'couponPostUrl': '<?php print $this->getCouponPostUrl();?>',
                'layoutType': '<?php print $this->getLayoutType()->value;?>',
                'billingRefreshableFields': <?php print Mage::helper('core')->jsonEncode($this->getBillingRefreshableFields())?>,
                'shippingRefreshableFields': <?php print Mage::helper('core')->jsonEncode($this->getShippingRefreshableFields())?>,
                'reloadShippingAfterPaymentCheck': <?php print $this->isReloadShippingAfterPaymentCheck() ? 'true' : 'false'?>,
                'storeConfig': <?php print Mage::helper('core')->jsonEncode($storeConfig)?>,
                'isGuestCheckoutEnabled': <?php print $this->isGuestCheckoutEnabled() ? 'true' : 'false'?>,
                'redirectLabel': '<?php print $this->__("Redirect")?>'
                
            });
//    })
</script>

<style>
    <?php
        if ($storeConfig['shopping_cart']['cart_to_checkout']) {
    ?>
    .cart-table{
        display: none;
    }
    
    <?php
        }
    ?>
</style>
<?php
    }
?>

   