<?php if (!Mage::getSingleton('customer/session')->isLoggedIn()) { ?>
    <div id="onepagecheckout_forgotbox" style="display: none;" class='op_login_area'>
        <div class='close_la' onclick='close_login();'></div>
        <div class="page-title">
            <span><?php echo $this->__('Forgot Password?') ?></span>
        </div>
        <?php
        $forgot_url = $this->getUrl('*/*/forgotpassword', array('_secure' => (!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on')));
        $http_mode = (!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on');
        if ($http_mode)
            $forgot_url = str_replace('http:', 'https:', $forgot_url);
        ?>
        <form action="<?php echo $forgot_url ?>" method="post" id="forgot-password-form" autocomplete="on">
            <div class="fieldset">
                <h2 class="legend"><?php echo $this->__('Retrieve your PIN1 here') ?></h2>
                <p><?php echo $this->__('Please reset your PIN1 by: ') ?></p>
                <ul class="form-list">            
                    <li>
                        <div class="input-box">
                            <input type="radio" name="reset_pin1" alt="reset_pin1_radio_mobile" id="reset_pin1_radio_mobile" class="input-text validate-one-required-by-name" value="mobile" />
                            <label for="reset_pin1_radio_mobile" class="required"><em>*</em><?php echo $this->__('Mobile Number') ?></label>
                        </div>
                        <div class="input-box" id="reset-div-mobile" style="display: none">
                            <p><?php echo $this->__('Please enter your mobile number. We will send new PIN1 to your mobile.') ?></p>
                            <input type="text" name="reset_pin1_mobile" alt="reset_pin1_mobile" id="reset_pin1_mobile" class="input-text required-entry validate-mobile" value="<?php //echo $this->escapeHtml($this->getEmailValue())  ?>" />
                        </div>                
                    </li>
                    <li>
                        <div class="input-box">
                            <input type="radio" name="reset_pin1" alt="reset_pin1_radio_email" id="reset_pin1_radio_email" class="input-text validate-one-required-by-name" value="email" />
                            <label for="reset_pin1_radio_email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                        </div>
                        <div class="input-box" id="reset-div-email" style="display: none">
                            <p><?php echo $this->__('Please enter your email address. You will receive a link to reset your PIN1.') ?></p>
                            <input type="text" name="reset_pin1_email" alt="reset_pin1_email" id="reset_pin1_email" class="input-text required-entry validate-email" value="<?php //echo $this->escapeHtml($this->getEmailValue())  ?>" />
                        </div>                
                    </li>
                </ul>
            </div>
            <div class="buttons-set">
                <p class="back-link"><a href="javascript:void(0)" class="onepagecheckout_loginlink" onclick='open_login();'><small>&laquo; </small><?php echo $this->__('Back to Login') ?></a></p>
                <button type="submit" title="<?php echo $this->__('Submit') ?>" id="btn-forgot" class="button"><span><span><?php echo $this->__('Submit') ?></span></span></button>
                <span class="please-wait" id="forgot-please-wait" style="display:none;">
                    <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" class="v-middle" alt=""/>
                </span>
            </div>
        </form>
        <script type="text/javascript">
            //<![CDATA[
            var forgotForm = new VarienForm('forgot-password-form', true);
            //]]>
            Event.observe('reset_pin1_radio_mobile', 'click', function() {
                jQuery('#reset-div-email').hide();
                jQuery('#reset-div-mobile').show();
            });
            Event.observe('reset_pin1_radio_email', 'click', function() {
                jQuery('#reset-div-mobile').hide();
                jQuery('#reset-div-email').show();
            });
        </script>
    </div>
<?php
}?>