<?php if (!Mage::getSingleton('customer/session')->isLoggedIn()) { ?>
    <div id="onepagecheckout_loginbox" style="display: none;" class='op_login_area'>
        <div class='close_la' onclick='close_login();'></div>
        <div class="page-title">
            <span><?php echo $this->__('Login to your Account') ?></span>
        </div>
        <?php
        $login_url = $this->getUrl('*/*/login', array('_secure' => (!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on')));
        $http_mode = (!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on');
        if ($http_mode)
            $login_url = str_replace('http:', 'https:', $login_url);
        ?>
        <script type="text/javascript">
    jQuery(document).ready(function() {
        var val=jQuery("#country").val();
        val    ="+"+val;
        jQuery("#country_code").val(val);
        jQuery("#phone_number").removeClass("required-entry");

        /////////
        jQuery("#email").change(function(){
            var val=jQuery(this).val();
            if(val!="")
            {
                jQuery("#phone_number").val("");
                jQuery("#phone_number").removeClass("required-entry");
                jQuery(this).addClass("required-entry");
                jQuery("#usernamehidden").val(val);
            }
        });
        jQuery("#phone_number").change(function(){
            var val=jQuery(this).val();
            if(val!="")
            {
                jQuery("#email").val("");
                jQuery("#email").removeClass("required-entry");
                jQuery(this).addClass("required-entry");
                val   =jQuery("#country_code").val()+val+"@bodamoney.com";
                jQuery("#usernamehidden").val(val);
            }

        });
        //set dot
        jQuery("#country").change(function(){
            var val=jQuery(this).val();
            val    ="+"+val;
            jQuery("#country_code").val(val);
        })
        /////////
    });


</script>
        <form method="post" id="login-form" action="<?php echo $login_url ?>" autocomplete="on">
            <input  type="hidden"  value="" id="usernamehidden" name="login[username]"/>
            <div class="boxcontent form_fields">
                <div class='full'>
                    <label>
                        <?php echo $this->__('Email Address ') ?>
                    </label>
                    <sup>*</sup>
                    <div class="data_area">
                        <input type="text" name="username" value="<?php echo $this->htmlEscape($this->getUsername()) ?>" id="email" class="input-text required-entry validate-email" title="<?php echo $this->__('Email Address ') ?>" />
                    </div>
                </div>
                <div class='full'>
                    <label>
                        <?php echo $this->__('Or') ?>
                    </label>                 
                </div>
                <div style="clear: both;">&nbsp;</div>
        
                <div class='full'>
                    <label>
                        <?php echo $this->__('Enter Mobile Number') ?>
                    </label>
                    <sup>*</sup>
                     <div class="data_area">
                        <div class="input-box">
                                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('block_country')->toHtml() ?>                      
                              <table width="100%">
                                        <tr>
                                            <td><label for="country_code" class="required"><?php echo $this->__('Country code') ?></label></td>
                                            <td><label for="area_code" class="required"><?php echo $this->__('Area code and phone number') ?><em>*</em></label></td>
                                        </tr>
                                        <tr>
                                            <td><input  style="width: 60px;" autocomplete="off" readOnly="readOnly" type="text"  name="country_code" value="<?php  ?>" id="country_code" class="input-text country-code required-entry" title="<?php echo $this->__('Country code') ?>" /></td>
                                            <td><input  autocomplete="off" type="text" name="phone_number"  id="phone_number" class="country-phone required-entry input-text" title="<?php echo $this->__('Area code and phone number') ?>" /></td>
                                        </tr>
                                    </table>
                        </div> 
                </div>
                <!-- !--->
                <div class='full'>
                    <label>
                        <?php echo $this->__('PIN1') ?>
                    </label>
                    <sup>*</sup>
                            <?php $enable = Mage::helper('bodacustomer/pin')->getPINPasswordEnable() ?>
                            <?php if($enable > 0): ?>
                                <?php echo $this->getLayout()->createBlock('core/template')->setCode('pass')->setTemplate('sttl/bodacustomer/pin/images.phtml')->toHtml()  ?>
                            <?php endif ?>                  
                    <div class="input-box">
                        <input <?php if($enable == 1): ?> readonly="readonly"<?php endif ?>  id="pass" type="password" name="login[password]" class="input-text required-entry validate-PIN"  title="<?php echo $this->__('Password') ?>" />
                    </div>
                </div>
            </div>
            <div class="buttons-set">
                <a href="javascript:void(0);" class="f-left onepagecheckout_forgotlink" onclick='open_forgot();'><?php echo $this->__('Forgot Your Password?') ?></a>
                <button type="submit" class="button" title="<?php echo $this->__('Login') ?>" name="send" id="send2"><span><span><?php echo $this->__('Login') ?></span></span></button>
                <span class="please-wait" id="login-please-wait" style="display:none;">
                    <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" class="v-middle" alt=""/>
                </span>
            </div>
        </form>
        <script type="text/javascript">
            //<![CDATA[
            var loginForm = new VarienForm('login-form',false);
            //]]>
        </script>
    </div>
<?php
}?>