<?php
/**
 * @category   Aivomatic
 * @package    AmcMgDdPp
 * @version    ver. 0.2.1 - $Id: form.phtml 405 2008-09-17 09:30:03Z teemu $
 * @file       $URL: file:///home/teemu/svn/aivomatic/amcmgddpp/trunk/base/app/design/frontend/default/default/template/amcmgddpp/form.phtml $
 * @since      0.0.0+
 * @copyright  Aivomatic Ltd 2008 (http://www.aivomatic.com)
 * @link       http://www.aivomatic.com/
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

?>
<fieldset class="form-list">
    <ul id="payment_form_<?php echo $this->getMethodCode(); ?>" style="display:none">
        <li>
            <div class="input-box">

<?php
    if ($this->getMethod()->getCustomFormText()) {
        echo '<div class="ddpp-custom-text">'.
             $this->getMethod()->getCustomFormText().
             '</div>'."\n".'<br />'."\n";
    }
?>
<em class="ddpp-header"><?php echo $this->__('Payment info'); ?></em>
    <table class="ddpp-domestic">
        <tbody>
            <tr class="ddpp-even">
                <td class="ddpp-key">
                    <?php echo $this->__('Account holder'); ?>
                </td>
                <td class="ddpp-value">
                    <?php echo $this->getMethod()->getAccountHolder(); ?>
                </td>
            </tr>
            <tr class="ddpp-odd">
                <td class="ddpp-key">
                    <?php echo $this->__('Account number'); ?>
                </td>
                <td class="ddpp-value">
                    <?php echo $this->getMethod()->getAccountNumber(); ?>
                </td>
            </tr>
            <tr class="ddpp-even">
                <td class="ddpp-key">
                    <?php echo $this->__('Bank'); ?>
                </td>
                <td class="ddpp-value">
                    <?php echo $this->getMethod()->getBankName(); ?>
                </td>
            </tr>
            <tr class="ddpp-odd">
                <td class="ddpp-key">
                    <?php echo $this->__('Pay within'); ?>
                </td>
                <td class="ddpp-value">
                    <?php
                        echo $this->getMethod()->getPayWithinDays().
                             $this->__('days');
                    ?>
                </td>
            </tr>
            <tr class="ddpp-even">
                <td class="ddpp-key">
                    <?php echo $this->__('Due date'); ?>
                </td>
                <td class="ddpp-value">
                    <?php
                        echo $this->getMethod()->getDueDate();
                    ?>
                </td>
            </tr>
            <?php
            if ($this->getMethod()->getBankReference()) {
                echo '<tr class="ddpp-odd">'."\n".
                        '<td class="ddpp-key">'."\n".
                            $this->__('Reference number')."\n".
                        '</td>'."\n".
                        '<td class="ddpp-value">'."\n".
                            $this->getMethod()->getBankReference()."\n".
                        '</td>'."\n".
                    '</tr>'."\n";
            }
            ?>
        </tbody>
    </table>
    <br />

    <?php
    if ($this->getMethod()->showInternationalInfo()) {
        echo '<em class="ddpp-header">'.
            $this->__('International banking info').
            '</em>'."\n".
            '<table class="ddpp-international">'."\n".
                '<tbody>'."\n".
                    '<tr class="ddpp-even">'."\n".
                        '<td class="ddpp-key">'.
                            $this->__('IBAN').
                        '</td>'."\n".
                        '<td class="ddpp-value">'.
                            $this->getMethod()->getIban().
                        '</td>'."\n".
                    '</tr>'."\n".
                    '<tr class="ddpp-odd">'."\n".
                        '<td class="ddpp-key">'.
                            $this->__('BIC').
                        '</td>'."\n".
                        '<td class="ddpp-value">'.
                            $this->getMethod()->getBic().
                        '</td>'."\n".
                    '</tr>'."\n".
                '</tbody>'."\n".
            '</table>'."\n";
    }
    ?>

            </div>
        </li>
    </ul>
</fieldset>