<?php 
/**
 * main template for Rublon_RublonLogin_Block_Customer_Settings block
 *
 * @package   rublon/rublonlogin
 * @author     Adips Sp. z o.o.
 * @copyright  Adips Sp. z o.o.
 * @license    http://opensource.org/licenses/gpl-license.php GNU Public License, version 2
 */

$helper = Mage::helper('rublon2factor');
$helper->setModule(RublonMagentoModule::FRONT);
	
$secured = $helper->isRublonSecuredAccount();

?>
<div class="page-title">
    <h1><?php echo $helper->__("Rublon") ?></h1>
</div>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php echo $this->getChildHtml('pager') ?>


<?php

if ($helper->isRublonEnabled()) {
	
	echo $helper->getUserBox();
	
} else {

	echo '<p><strong>'. $helper->__("Rublon will be available to you once your administrator protects his account.") .'</strong></p>';
	echo '<p>'. $helper->__("Since your account is protected by a password only, it can be accessed from any device in the world. Rublon protects your account from sign ins from unknown devices, even if your password gets stolen.");
	echo ' '. $helper->__("Learn more at <a href='http://rublon.com' target='_blank'>www.rublon.com</a>.");
	echo '</p>';
}

?>
	


<div class="buttons-set">
   	<p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
</div>


<?php echo $this->getChildHtml('pager'); ?>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
//]]>
</script>