<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<html><head>
<!-- Nordea account statement,HTML layout (MOi), last mod: 09.01.2008 by som, generated --> <!-- Fri Apr 23 08:53:57 2010 -->
<meta http-equiv="Expires" content="0"><meta http-equiv="Pragma" content="no-cache"><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<style type="text/css">
img {padding-bottom: 2pt; width: 117px; height: 27px;} 
td, th {vertical-align: top;}
b {font-weight: bold;}
pre {margin: 0}
.xb {text-align: right; font-weight: bold;}
.xr {text-align: right;}
.xc {text-align: center;}
.fr {float: right;}
.frr {float: right; text-align: right;}
.pg_header {width: 100%; height: 34mm;} 
.pg_main   {width: 100%; height: 210mm; font: 8pt/10pt Courier New, Monospace;}
.pg_main_t {width: 100%; height: 210mm; font: 10pt/11pt Courier New, Monospace;}
.pg_footer {width: 100%; height: 8mm; padding-top: 2mm;}
.footnote  {font-size: 7pt;}
.info {padding-top: 2mm; padding-bottom: 2mm; padding-left: 2px;}
.info_l {padding-top: 2mm; padding-bottom: 2mm; padding-left: 6mm;  height: 160mm;}
.info_d {padding-top: 2mm; padding-bottom: 2mm; padding-left: 6mm;}
body { font: 9pt/11pt Arial, Times New Roman; color: #000; background: #999; margin: 2mm; padding: 0;}
/* print page A4 imitation with about 20mm print margins (A4: 210x297mm, Letter: 216x279mm) */
.mypg, .mypg_last {background: #fff; width: 170mm;/*height: 254mm*/height:auto; border-right: 2pt solid #000; border-bottom: 2pt solid #000; padding: 20mm;}
.no_prnt { height: 2mm; margin: 0;}
</style>
<style type="text/css" media="print">
/* real print */
body {background: #fff; padding: 0; margin: 0}
.mypg {border: 0; padding: 1pt; margin: auto; page-break-after: always;}
.mypg_last {border: 0; padding: 1pt; margin: auto;}
.no_prnt {display: none;} 
</style>
</head>
<?php $account_id=$this->getRequest()->getParam('account_id');
$_customer ="";
 if (strpos($account_id,'@bodamoney.com') !== false) {
                $part  =explode("@",$account_id);
                $_customer= @$part[0];
            }else
            $_customer= $account_id;
 $customer = Mage::registry('customer');
 $customer_id = Mage::registry('customer_id');
 $parent_id = Mage::registry('parent_id');
 $customer_name = $customer->getFirstname()." ".$customer->getMiddlename()." ".$customer->getLastname() ;   
 ?>
<body>
<div class="mypg" id="AS_140030-120418_01.01.2014_001_1"><div class="pg_header">
<table width="100%" cellspacing="0" cellpadding="2"><colgroup><col width="40%"><col width="25%"><col width="35%"></colgroup><tbody>
<tr><td><img alt="Nordea" src="<?php echo $this->getSkinUrl('images/bodalogo.png');?>"/><br /><?php echo strtoupper($customer_name); ?></td>
<td><b>ACCOUNT STATEMENT</b><br>Date<br><?php echo date("d.m.Y"); ?></td><td>&nbsp;</td></tr>
<tr>
<td  style="text-transform: uppercase;"> Disposal account<br><?php echo $_customer; ?></td>
<td>Currency<br>Ushs</td>
</tr>
<tr><td>&nbsp;</td><td>Period:<br /><?php echo  $this->getRequest()->getParam('from'); ?>-<?php echo ($this->getRequest()->getParam('to')?$this->getRequest()->getParam('to'):date("d.m.Y")); ?></td><td><span class="frr"><?php Mage::getStoreConfig('general/store_information/address') ?></span>

<?php 
$transactions = Mage::registry('transactions');
?>
</td></tr>
</tbody></table></div><div class="pg_main">
<table width="100%" height="100%" cellspacing="0" cellpadding="2" border="1" rules="groups">
<colgroup width="24%" span="1"></colgroup>
<colgroup width="8%" span="1"></colgroup>
<colgroup width="60%" span="1"></colgroup>
<colgroup width="2%" span="1"></colgroup>
<colgroup width="10%" span="1"></colgroup>
<thead>
    <tr>
        <td>Account number</td>
        <td>Date</td>
        <td>Name of payer or payee/transaction type/message</td>
         <td>Transaction number</td>        
        <td>Reference</td>   
         <td>Amount</td>      
    </tr>
</thead>
<tbody>
<?php 
  $deposits=0;
  $withdrawals=0;
?>
<?php foreach($transactions as $_tran): ?>
<?php 
    $month =$_tran['month'];
    if(!$parent_id)
        $collection =  Mage::getModel('customercredit/transaction')
                    ->getCollection()
                    ->addFieldToFilter('customer_id',$customer_id)
                    ->addFieldToFilter('parent_id',0)
                    ->addFieldToFilter('type_transaction_id',
                        array(
                        array('neq' => Magestore_Customercredit_Model_TransactionType::TYPE_PAYMENT_DUE)));
    else
        $collection =  Mage::getModel('customercredit/transaction')
                    ->getCollection()
                    ->addFieldToFilter('customer_id',$customer_id)
                    ->addFieldToFilter('parent_id',$parent_id)
                    ->addFieldToFilter('type_transaction_id',
                        array(
                        array('neq' => Magestore_Customercredit_Model_TransactionType::TYPE_PAYMENT_DUE)));           
   $collection->addFieldToFilter('month(transaction_time)',$month);
?>
    <?php $i=1;foreach($collection as $_collection): ?>
        <?php
        $customer_id =$_collection->getCustomerId();
        $parent_id   =$_collection->getParentId();
    ?>
    <tr>
       <td>
            <?php if($parent_id==0): ?>
             <?php 
                $customer=Mage::getModel("customer/customer")->load($customer_id);
                 $customer_email = $customer->getEmail();
                 if (strpos($customer_email,'@bodamoney.com') !== false) {
                    $part  =explode("@",$customer_email);
                    echo @$part[0];
                }else
                echo $customer_email;
            ?>   
            <?php else: ?>
            <?php 
                $subaccount=Mage::getModel("sublogin/sublogin")->load($customer_id);
                 $customer_email = $subaccount->getEmail();
                 if (strpos($customer_email,'@bodamoney.com') !== false) {
                    $part  =explode("@",$customer_email);
                    echo @$part[0];
                }else
                {echo $customer_email;}
            ?>
            <?php endif; ?>
       </td>
        <td><?php //echo Mage::helper('core')->formatDate($transaction->getTransactionTime(),
                                   // Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM)."<br /> ";
                                  //echo Mage::helper('core')->
                                  //    formatTime($transaction->getTransactionTime(),
                                  //Mage_Core_Model_Locale::FORMAT_TYPE_SHORT);
                                
                                   $currentTimestamp=$_collection->getTransactionTime();
                                   $currentTimestamp=Mage::getModel('core/date')->timestamp($currentTimestamp);
                                    echo   date('d.m.Y', $currentTimestamp); 
                                  $type=$_collection->getTypeTransactionId();  
                                   
                                  //$deposits+=($_collection->getAmountCredit()>0?$_collection->getAmountCredit():0);
                                  //$withdrawals+=($_collection->getAmountCredit()<0?abs($_collection->getAmountCredit()):0);
                                   //$total+=($deposits+$withdrawals);
                                   ?></td>
           <td><?php echo  strtoupper($_collection->getCustomerName()); ?>/<?php echo $this->__(Mage::getModel('customercredit/typetransaction')->load($type)->getTransactionName()); ?>/<?php echo $_collection->getMessage(); ?></td>                                        
    
        <?php $credit = Mage::getModel('customercredit/customercredit')->getConvertedFromBaseCustomerCredit($_collection->getAmountCredit()); ?>
        <td style="text-align: center;"><?php echo $i++; ?></td>
          <td class="xb"><?php echo $_collection->getReference(); ?></td>
        <td class="xb"><?php echo Mage::getModel('customercredit/customercredit')->getLabel($credit); ?></td>
      
    </tr>
    <?php endforeach; ?>
    <tr>
        <td> Total deposits </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style="text-align: right;"><?php
        $deposits+=($_tran['spend']);
         $total=Mage::getModel('customercredit/customercredit')->getConvertedFromBaseCustomerCredit($_tran['spend']); ?>
        <?php echo Mage::getModel('customercredit/customercredit')->getLabel($total); ?>
        </td>
    </tr>
    <tr>
        <td>Total withdrawals</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style="text-align: right;"><?php 
        $withdrawals+=$_tran['receive'];
        $total=Mage::getModel('customercredit/customercredit')->getConvertedFromBaseCustomerCredit($_tran['receive']); ?>
        <?php echo Mage::getModel('customercredit/customercredit')->getLabel($total); ?>
        </td>
    </tr>
<?php endforeach; ?>
</tbody>
<tfoot style="background: #ccc;">
 <tr>
        <td> Total deposits </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style="text-align: right;"><?php $total=Mage::getModel('customercredit/customercredit')->getConvertedFromBaseCustomerCredit($deposits); ?>
        <?php echo Mage::getModel('customercredit/customercredit')->getLabel($total); ?>
        </td>
    </tr>
    <tr>
        <td>Total withdrawals</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td style="text-align: right;"><?php $total=Mage::getModel('customercredit/customercredit')->getConvertedFromBaseCustomerCredit($withdrawals); ?>
        <?php echo Mage::getModel('customercredit/customercredit')->getLabel($total); ?>
        </td>
    </tr>
</tfoot>
</table>
</div>
<div class="pg_footer">Printed by customer<div class="footnote"><?php echo  Mage::getStoreConfig('general/store_information/name') ?>,<?php echo Mage::getStoreConfig('general/store_information/address') ?>-<?php echo  Mage::getStoreConfig('general/store_information/phone'); ?></div></div></div>
<div class="no_prnt"></div>
</body>
</html>


