<?php
/**
 * @category   Aivomatic
 * @package    FipnMgNp
 * @version    ver. 0.1.1 - $Id: form.phtml 290 2008-08-19 07:41:56Z teemu $
 * @file       $URL: file:///home/teemu/svn/aivomatic/fipnmgnp/trunk/base/app/design/frontend/default/default/template/fipnmgnp/standard/form.phtml $
 * @since      0.0.0+
 * @copyright  Aivomatic Ltd 2008 (http://www.aivomatic.com)
 * @link       http://www.aivomatic.com/
 * @copyright  Copyright (c) 2004-2007 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

?>
<fieldset class="form-list">
    <?php $_code=$this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none">
        <li>
            <img src="<?php echo $this->getSkinUrl('images/fipnmgnp-nordea-50x50.gif') ?>" width="50" height="50" alt="<?php echo $this->__('PWG_logo_alt') ?>" title="<?php echo $this->__('PWG_logo_title') ?>" border="0" /><br />
            <?php echo $this->__('You will be redirected to website of PGW when you place an order.') ?>
        </li>
    </ul>
</fieldset>