<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Eventbooking
 * @version    1.1.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div id="aw-eventbooking-sendmessage-popup" class="aw-eventbooking-popup" style="display:none">
    <div class="aw-eventbooking-popup-content-head">
        <h2><?php echo $this->__('Send Message');?></h2>
        <a href="javascript:void(0)"><?php echo $this->__('Close');?></a>
    </div>
    <div class="aw-eventbooking-popup-content">
        <form action="#">
            <label for="aw_eventbooking_sendmessage_subject"><?php echo $this->__('Message Subject');?></label>
            <input type="text" name="subject" id="aw_eventbooking_sendmessage_subject" class="input-text required-entry"/><br />
            <label for="aw_eventbooking_sendmessage_body"><?php echo $this->__('Message Content');?></label>
            <input type="text" name="body" id="aw_eventbooking_sendmessage_body" >
        </form>
        <button type="button"><?php echo $this->__('Send Message');?></button>
    </div>
</div>
<div id="aw-eventbooking-sendmessage-popup-overlay" class="aw-eventbooking-popup-overlay" style="display:none"></div>
<script type="text/javascript">
    document.observe('dom:loaded', function()
    {
        tinyMCE.init({
            mode : "exact",
            elements: "aw_eventbooking_sendmessage_body",
            theme : "advanced",
            plugins : "inlinepopups,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras",
            theme_advanced_buttons1 : 'code,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,bullist,numlist,|,outdent,indent,blockquote,|,link,unlink',
            theme_advanced_buttons2 : 'formatselect,fontselect,fontsizeselect,|,image',
            theme_advanced_buttons3 : '',
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_path_location : "bottom",
            extended_valid_elements : "a[name|href|target|title|onclick],img[class|src|border=0|alt|title|hspace|vspace|width|height|align|onmouseover|onmouseout|name],hr[class|width|size|noshade],font[face|size|color|style],span[class|align|style]",
            theme_advanced_resize_horizontal : 'true',
            theme_advanced_resizing : 'true',
            apply_source_formatting : 'true',
            convert_urls : 'false',
            force_br_newlines : 'true',
            width: '100%',
            doctype : '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">'
        });
    });
</script>
<script type="text/javascript">
    /* attendees grid massaction functionality */
    var awEventbookingMassactionObserveInit = function(){
        aw_eventbooking_attendees_grid_massactionJsObject.form.submit = function(){
            var me = aw_eventbooking_attendees_grid_massactionJsObject;
            if (me.currentItem.id != "send_message") {
                return;
            }
            awEventbookingAttendeesMassactionSendMessagePopup.showPopup();
        }
    };
    awEventbookingMassactionObserveInit();
    var awEventbookingMassactionGridPreInitCallbackOldFn = aw_eventbooking_attendees_gridJsObject.preInitCallback.bind(aw_eventbooking_attendees_gridJsObject);
    aw_eventbooking_attendees_gridJsObject.preInitCallback = function(grid){
        awEventbookingMassactionGridPreInitCallbackOldFn(grid);
        awEventbookingMassactionObserveInit();
    };
    var awEventbookingAttendeesMassactionSendMessagePopup = new AWEventbookingUIPopup({
        overlaySelector: "#aw-eventbooking-sendmessage-popup-overlay",
        containerSelector: "#aw-eventbooking-sendmessage-popup",
        buttons: {
            accept:{
                selector: "#aw-eventbooking-sendmessage-popup button",
                enabled: true,
                onClickFn: function(event){
                    var form = $$("#aw-eventbooking-sendmessage-popup form").first();
                    var validateResult = Form.getElements(form).collect(function(elm) {
                        return Validation.validate(elm);
                    }, this).all();
                    if (!validateResult) {
                        return;
                    }

                    var url = <?php echo Mage::helper('aw_eventbooking/adminhtml')->getSendMessageUrl();?>;
                    var subject = $('aw_eventbooking_sendmessage_subject').getValue();
                    var body = tinyMCE.get('aw_eventbooking_sendmessage_body').getContent();
                    new Ajax.Request(url, {
                        method: 'post',
                        parameters: {
                            subject: subject,
                            body: body,
                            ids: aw_eventbooking_attendees_grid_massactionJsObject.form.serialize(true).attendees
                        },
                        onComplete: function(transport) {
                            if (!transport.responseText.isJSON()) {
                                alert('<?php echo $this->__('Oops. Something wrong.');?>');
                                return;
                            }
                            var response = transport.responseText.evalJSON();
                            if (response.error) {
                                alert(response.message);
                                return;
                            }
                            var el = $$("#aw-eventbooking-sendmessage-popup .aw-eventbooking-popup-content-head a").first();
                            alert(response.message);
                            el.click();
                        }
                    });
                }
            },
            close:{
                selector: "#aw-eventbooking-sendmessage-popup .aw-eventbooking-popup-content-head a",
                enabled: true,
                onClickFn: function(e){}
            }
        }
    });
</script>
<script type="text/javascript">
    /* is enabled select functionality*/
    var awEventbookingCheckIsEnabled = function(){
        var value = $('aw_eventbooking_is_enabled').value;
        var headList = $$('#product_info_tabs_aw_eventbooking_content .entry-edit-head');
        var fieldsetList = $$('#product_info_tabs_aw_eventbooking_content .fieldset');
        delete headList[0];
        delete fieldsetList[0];
        $$('#product_info_tabs_aw_eventbooking_content .required-entry').each(function(item){
            item.disabled = !parseInt(value);
        });
        var divList = headList.concat(fieldsetList);
        divList.each(function(el){
            if (!el) {
                return;
            }
            if (value === "1") {
                el.show();
            } else {
                el.hide();
            }
        });
    };
    $('aw_eventbooking_is_enabled').observe('change', function(event){
        awEventbookingCheckIsEnabled();
    });
    awEventbookingCheckIsEnabled();
</script>