<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Eventbooking
 * @version    1.1.1
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
/**
 * @var AW_Eventbooking_Block_Ticket_List $this
 */

$_collection = $this->getCollection();
?>
<div class="page-title">
    <h1><?php echo $this->__('My Tickets') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php echo $this->getPagerHtml(); ?>
<?php if ($_collection->getSize()): ?>
    <table class="data-table" id="my-tickets-table">
        <thead>
        <tr>
            <th><?php echo $this->__('Event Details') ?></th>
            <th><?php echo $this->__('Location') ?></th>
            <th><?php echo $this->__('Price') ?></th>
            <th><?php echo $this->__('Ticket Details') ?></th>
        </tr>
        </thead>
        <tbody>
        <?php $_odd = ''; ?>
        <?php foreach ($_collection as $_item): ?>
            <tr>
                <td>
                    <div>
                        <a href="<?php echo $this->getProductUrl($_item->getData('product_id')) ?>"><?php echo $_item->getEventName() ?></a>
                        <?php if ($this->isToday($_item)): ?>
                            <span class="aw-eventbooking-today"><?php echo $this->__('Today') ?></span>
                        <?php endif; ?>
                    </div>
                    <div>
                        <strong><?php echo $this->__('Starts:') ?></strong>
                        <?php echo $this->formatDate($_item->getData('event_start_date'), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM, true); ?>
                    </div>
                    <?php if ($_item->getData('event_end_date')): ?>
                    <div>
                        <strong><?php echo $this->__('Ends:') ?></strong>
                        <?php echo $this->formatDate($_item->getData('event_end_date'), Mage_Core_Model_Locale::FORMAT_TYPE_MEDIUM, true); ?>
                    </div>
                    <?php endif; ?>
                </td>
                <td>
                    <?php if ($_item->getData('location')): ?>
                        <span class="nobr"><?php echo $_item->getData('location') ?></span>
                    <?php else: ?>
                        <span class="nobr"><?php echo $this->__('Location not set') ?></span>
                    <?php endif; ?>
                </td>
                <td>
                    <?php echo $this->_getFormattedTicketPrice($_item) ?>
                </td>
                <td>
                    <strong><?php echo $_item->getData('ticket_title'); ?></strong><br/>
                    <?php echo $_item->getStatusLabel(); ?><br/>
                    <span class="nobr">
                        <a href="<?php echo $this->getViewUrl($_item->id) ?>" class="link-reorder">
                            <?php echo $this->__('See Ticket Details') ?>
                        </a>
                    </span>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    <script type="text/javascript">decorateTable('my-tickets-table');</script>
    <?php echo $this->getPagerHtml(); ?>
<?php else: ?>
    <p><?php echo $this->__('You have placed no orders.'); ?></p>
<?php endif ?>
