<ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none">
    <li>
        <?php echo 'You will be redirected to our secure Bill Money payment page when you place an order.' ?>
    </li>
</ul>

