<?php
$customr = $this->getBodaCustomer();
//var_dump($customr->getGender());die;
$imageUrl = Mage::helper('bodacustomer')->getCustomerPicture($customr->getKamomeCustomer(), $customr->getDob());
?>
<div class="customer-details">
    <div class="details-left">
        <div class="customer-img"><img src="<?php echo $imageUrl ?>" width="114" height="114" alt="" title=""/></div>
        <div class="img-des">
            <h1><?php echo $customr->getName() ?></h1>
            <h3><?php echo $this->__('Age : '); ?> <span class="spanred"><?php echo date_diff(date_create($customr->getDob()), date_create('today'))->y ?></span></h3>
            <h3><?php echo $this->__('Gender : '); ?> <span class="spanred"> 
                    <?php
                    $attribute = $customr->getResource()->getAttribute('gender');
                    if ($attribute) {
                        echo $attribute_value = $attribute->getFrontend()->getValue($customr);
                    }
                    ?>
                </span>
            </h3>
            <h3><?php echo $this->__('Group : '); ?>

                <?php /* <img class="labelImg" src="<?php echo $this->getSkinUrl('magesoul/img/start.png') ?>" with="" height="" /> */ ?>
                <span class="spanred"> <?php echo Mage::getModel('customer/group')->load($customr->getGroupId())->getCustomerGroupCode(); ?></span>

            </h3>
            <h3><?php echo $this->__('Level : ');?>
                <span class="spanred">Gold</span>
            </h3>
                
        </div>
    </div>

    <?php //echo $currentUrl = $this->helper('core/url')->getCurrentUrl(); ?>
    <?php $code = $this->getRequest()->getParam('barcode'); ?>
    <div class="details-right">
        <a href="<?php echo $this->getUrl('bodacart/cart/index/') . 'barcode/' . $code; ?>" class="btn-1"><i class="fa fa-money"></i> <br/>
            <?php echo $this->__("Pay a Bill"); ?></a> <a href="javascript:void(0)" class="btn-2"><i class="fa fa-user"></i></a> <a href="javascript:void(0)" class="btn-3"><i class="fa fa-lock"></i></a> </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>
