<?php
$customer = Mage::getSingleton('customer/session')->getCustomer();
$customer_email = $customer->getEmail();
//$part = $customer_email;

if (strpos($customer_email, '@bodamoney') !== false) {
    $part = explode("@", $customer_email);
    $part = $part[0];
}else
   $part =$customer_email;

$subaccount = Mage::helper('sublogin')->customerHasSublogin($customerData);
$customer_id = $customer->getId(); 

$sub = Mage::helper('sublogin')->getCurrentSublogin();
if ($sub)
    $sub_email = ($sub->getEmail());
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>
<div class="page-title">  
    <h1><?php echo $this->__('Boda Account') ?></h1>
</div>
<div class="box-account box-info box-customercredit-sumary">
    <div class="box-head">
        <h2><?php echo $this->__('Userful  Information') ?></h2>
    </div>
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('block_subaccount')->toHtml(); ?>
</div>
<div class="box-account box-info box-customercredit-sumary">
    <div class="box-head">
        <h2>Payment Status</h2>
    </div>
    <div class="page-title title-buttons" style="text-align: left;border-bottom: 0;">
          <p >
            <a class="link" href="<?php echo $this->getUrl("customercredit/index/paymentsdue/"); ?>">Falling Due Soon(<?php echo $this->countPaymentDue(); ?>)</a>
        </p>  
    </div>  
</div>    
<div class="box-account box-info box-customercredit-sumary">
    <div class="box-head">
        <h2><?php echo $this->__('Current and Currency accounts') ?></h2>
    </div>
    <div class="page-title title-buttons" style="text-align: left;border-bottom: 0;">        
    </div> 
    <div class="data-table-div">
        <table class="data-table" id="transactions-history-new">
            <col class="name" />
            <col class="balance" />
            <col class="funds" />
            <col class="blancedate" />     
            <thead>
            <tr>
                <th  style="text-align: left;"><?php echo $this->__('Name of Account') ?></th>
                <th style="text-align: left;"><?php echo $this->__('Balance') ?></th>
                <th style="text-align: left;"><?php echo $this->__('Funds Available') ?></th>
                <th style="text-align: left;"><?php echo $this->__('Balance Date') ?></th>               
            </tr>
            </thead>
            <tbody>
                <?php if (!$sub_email || $sub_email == ""): ?>
                    <?php $balance = Mage::getModel('customercredit/customercredit')->getCustomerCreditLabel(); ?>
                    <tr>
                        <td style="text-align: left!important;"><a class="link" href="<?php echo$this->getUrl("customercredit/index/transaction"); ?>"><?php echo
$part; ?></a></td>
                        <td style="text-align: left!important;"><?php echo $balance; ?></td>
                        <td style="text-align: left!important;"><?php echo $balance; ?></td>
                        <td style="text-align: left!important;"><?php echo date("d.m.Y"); ?></td>
                    </tr>
                    <?php if ($subaccount): ?>
                     <?php foreach ($subaccount as $_customer): ?>
                     <?php
                            $email = $_customer->getEmail();
                            $creditvalue = $_customer->getCreditValue();
                            $part = $email;
                            if (strpos($email, '@bodamoney.com') !== false) {
                                $part = explode("@", $email);
                                $part = $part[0];
                            }
                    ?>
                    <?php $balance = Mage::getModel('customercredit/customercredit')->getSubAccountCreditLabel($creditvalue); ?>
                    <tr>
                        <td style="text-align: left!important;"><a class="link" href="<?php echo
                    $this->getUrl("customercredit/index/transaction/account_type/sub/account/" . $_customer->
                    getId() . "/") ?>"><?php echo
                    $part; ?></a></td>
                        <td style="text-align: left!important;"><?php echo $balance; ?></td>
                        <td style="text-align: left!important;"><?php echo $balance; ?></td>
                        <td style="text-align: left!important;"><?php echo date("d.m.Y"); ?></td>
                    </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                 <?php else: ?>
                  <?php
    $email = $sub_email;
    $creditvalue = $sub->getCreditValue();
    $part = $email;
    if (strpos($email, '@bodamoney.com') !== false) {
        $part = explode("@", $email);
        $part = $part[0];
    }
?>
                    <?php $balance = Mage::getModel('customercredit/customercredit')->getSubAccountCreditLabel($creditvalue); ?>
                    <tr>
                        <td style="text-align: left!important;"><a class="link" href="<?php echo $this->getUrl("customercredit/index/transaction/") ?>"><?php echo $part; ?></a></td>
                        <td style="text-align: left!important;"><?php echo $balance; ?></td>
                        <td style="text-align: left!important;"><?php echo $balance; ?></td>
                        <td style="text-align: left!important;"><?php echo date("d.m.Y"); ?></td>
                    </tr>
                <?php // break;endif; ?>
                    <?php //endforeach; ?>
                <?php endif; ?>
            </tbody>
        </table>
    </div> 
</div>      

<?php echo $this->getChildHtml() ?>
