<?php 
$customerData = Mage::getSingleton('customer/session')->getCustomer();
$email  =$customerData->getEmail();
$part   =$email;
if (strpos($email,'@bodamoney.com') !== false) {
    $part  =explode("@",$email);
    $part=$part[0];
}

$subaccount=Mage::helper('sublogin')->customerHasSublogin($customerData);
$sub      =Mage::helper('sublogin')->getCurrentSublogin();
if($sub)
    $sub_email=$sub->getEmail();
?>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css"/>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery("#from").datepicker({ dateFormat: "dd.mm.yy" }).val();
    jQuery("#to").datepicker({ dateFormat: "dd.mm.yy" }).val();
     jQuery("#btn_retrive").click(function(){
            var value =jQuery("#se-account").val();
            var from_main_account=jQuery("#account option[value='"+value+"']").attr("dir");
            jQuery("#account").val(from_main_account);
     })  
});
</script>
<?php echo $this->getMessagesBlock()->getGroupedHtml();?>
<form action="<?php echo $this->getUrl('outputreport'); ?>" method="get" name="customercredit-form-statement" id="customercredit-form-statement">
<input  type="hidden" value="main" id="account" name="account"/>
<div class="page-title">
    
    <h1><?php echo $this->__('Account Statement') ?></h1>
</div>
<div class="page-title">
    <p>You will receive the files for single service code or account by selecting it from dropdow menu .
    As default the service will dislay all new file for a week.
    
    </p>
    <p>Account :
    <select name="account_id" class="input-text required-entry" id="account">
        <?php if(!$sub_email||$sub_email==""): ?>
            <option dir="main" value="<?php echo $email ?>" id="se-account" selected="selected"><?php echo $part; ?></option>
        <?php foreach($subaccount as $_customer):?>
        <?php $email =$_customer->getEmail();
              $part =$email;
         ?>
        <?php 
            if (strpos($email,'@bodamoney.com') !== false) {
                $part  =explode("@",$email);
                $part  =$part[0];
            }
        ?>
       
            <option dir="sub" value="<?php echo $_customer->getId(); ?>"><?php echo $part; ?></option>
        <?php endforeach; ?>
        <?php else: ?>
             <?php 
            $email =$sub_email;
            $creditvalue    =$sub->getCreditValue();                 
            $part =$email;
            if (strpos($email,'@bodamoney.com') !== false) {
                    $part  =explode("@",$email);
                    $part  =$part[0];
                }
                                        ?> 
            <option dir="sub" value="<?php echo $sub->getId(); ?>"><?php echo $part; ?></option>
        <?php endif; ?>
    </select></p>
    <p>Time period  :<input class="input-text required-entry" type="text" id="from" name="from" value="<?php  echo date("d.m.Y"); ?>" />-<input class=" input-text "  type="text" id="to" value="" name="to"/></p>   
</div>
<div class="page-title">
    <p>File Satus: </p>
    <p><input type="checkbox" name="is_new" /> New</p>
    <p><input type="checkbox" name="is_new" /> Downloaded</p>
</div>
<div class="page-title">
    <p>File Format: </p>
    <p><input type="radio" name="type"  checked="checked" value="0"/> HTML(If you choose HTML Format .Then open or save and print)</p>
    <p><input type="radio" name="type" value="2"/> Text</p>
</div>
<div class="page-title">
  
    <p><button style=" float: left; margin-right: 10px;" id="btn_retrive" class="button" type="submit" name="btn_retrive" ><span><?php echo $this->__('Go') ?></span></button><button  class="button"  type="reset" name="btn_reset"  >Reset</button></p>
    
</div>

</form>

<?php //echo $this->getChildHtml() ?>

<script type="text/javascript">
    var dataForm = new VarienForm('customercredit-form-statement', true);
</script>
