<?php
$sub = Mage::helper('sublogin')->getCurrentSublogin();
if ($sub) {
    $sub_email = $sub->getEmail();
}
if ($sub_email)
    $parent_id = $sub->getData("entity_id");
else {
    $customerData = Mage::getSingleton('customer/session')->getCustomer();
    $amount = $customerData;
    $email = $customerData->getEmail();
    $mobile = $customerData->getCustomerMobiles();
    $pos = explode(",", $mobile);
    $part = $email;
    if (strpos($email, '@bodamoney') !== false) {
        $part = explode("@", $email);
        $part = $part[0];
    }
    $subaccount = Mage::helper('sublogin')->customerHasSublogin($customerData);
}

?>
<?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>
<?php $transaction = $this->getCollection(); ?>
<style type="text/css">
.form-list .field {
    float: none;
}
.form-list label{
    font-weight: bold;
    width: 200px;
}

.form-list .input-box {
    clear:none;
    width: auto;
  
}
.form-list .field {
    width: auto;
}
.form-list label.required {
     margin-right: 10px;
     font-weight: bold;
}

</style>
<div class="page-title">
    
    <h1><?php echo $this->__('Transaction and Information') ?></h1>
</div>
<?php $tran_id = $this->getRequest()->getParam('id'); ?>
<?php if (isset($tran_id) && $tran_id != ""): ?>
<div class="fieldset">
    <ul class="form-list">
            <li class="field">
                <label for="firstname" class="required"><?php echo $this->__('Transaction time') ?></label>
                <div class="input-box">
                 <?php echo $transaction->getTransactionTime(); ?>
                </div>
            </li>
            <!-- <li class="field">
                <label for="firstname" class="required"><?php echo $this->__('Customer') ?></label>
                <div class="input-box">
                 <?php echo $transaction->getCustomerId(); ?>
                </div>
            </li>!-->
            <li class="field">
                <label for="firstname" class="required"><?php echo $this->__('Transaction Type') ?></label>
                <div class="input-box">
                 <?php echo $this->getTransactionType($transaction->getTypeTransactionId()); ?>
                </div>
            </li>
            <li class="field">
                <label for="firstname" class="required"><?php echo $this->__('Amount') ?></label>
                <div class="input-box">
                 <?php echo $this->getCurrencyLabel($transaction->getAmountCredit()); ?>
                </div>
            </li>
            <li class="field">
                <label for="firstname" class="required"><?php echo $this->__('Sender/Receiver') ?></label>
                <div class="input-box">
                 <?php echo $transaction->getCustomerName(); ?>
                </div>
            </li>
            <li class="field">
                <label for="firstname" class="required"><?php echo $this->__('Message') ?></label>
                <div class="input-box">
                 <?php echo $transaction->getComment(); ?>
                </div>
            </li>
            <li class="field">
                <label for="firstname" class="required"><?php echo $this->__('Reference') ?></label>
                <div class="input-box">
                 <?php echo $transaction->getReference(); ?>
                </div>
            </li>
            
        </ul>
    <div class="clearfix">&nbsp;</div>
   
</div>
<?php else: ?>

<script type="text/javascript">
    jQuery(document).ready(function(){
        
       
        jQuery("#from_account").change(function(){
            var value =jQuery(this).val();            
            var main_account=jQuery("#from_account option[value='"+value+"']").attr("dir");
            jQuery("#account_type").val(main_account);
        });
        jQuery("#customercredit_send_credit_button").click(function(){          
              var main_account=jQuery("#from_account").val();
              var account_type  =jQuery("#account_type").val();   
              var from        =jQuery("#from").val();
              var to          =jQuery("#to").val();
              var url="<?php echo $this->getUrl("customercredit/index/transaction/"); ?>";
              url+="account/"+main_account+"/"; 
              url+="account_type/"+account_type+"/";
              if(from!="")
              url+="from/"+from+"/";
              if(to!="")
              url+="to/"+to+"/";             
              jQuery("#transaction-form-content").attr("action",url);
              
        });
       
       
    });
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css"/>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function(){
         jQuery("#from").datepicker({ dateFormat: "dd.mm.yy" }).val();
         jQuery("#to").datepicker({ dateFormat: "dd.mm.yy" }).val();
        });
</script>            
<?php
    $account_type = $this->getRequest()->getParam('account_type');
    $account_id = $this->getRequest()->getParam('account');
  
?>
<form id="transaction-form-content" action="" method="post">
<input type="hidden" value="<?php echo $this->getUrl("customercredit/index/transaction/"); ?>" id="url" name="url" />
<?php if (!$sub_email || $sub_email == ""): ?>
<input  type="hidden" value="main" id="account_type" name="account_type"/>
<?php else: ?>
<input  type="hidden" value="sub" id="account_type" name="account_type"/>
<?php endif; ?>

<div class="fieldset">
    <ul class="form-list">
            <li class="field">
                <label for="account" class="required"><?php echo $this->__('Account') ?></label>
                <div class="input-box">
              
                 <select  class="customercredit_email_input input-text required-entry " id="from_account" name="account" style="width: 315px;">
                                         
                                          <?php if (!$sub_email || $sub_email ==""): ?>
                                          
                                                <option dir="main" value="<?php echo $email ?>" <?php if (!$account_id): ?> selected="selected" <?php endif; ?>><?php echo@$part; ?></option>
                                            <?php foreach ($subaccount as $_customer): ?>
                                                <?php $email = $_customer->getEmail();
                                                      $part = $email;
                                                ?>
                                                 <?php
                                                if (strpos($email, '@bodamoney.com') !== false) {
                                                    $part = explode("@", $email);
                                                    $part = $part[0];
                                                 }
                                                ?>                     
                                                <option <?php if ($account_id == $_customer->getId()): ?> selected="selected"<?php endif; ?>   dir="sub" value="<?php echo $_customer->getId(); ?>"><?php echo @$part; ?></option>                                   
                                            <?php endforeach; ?>
                                        <?php else: ?>
                                          <?php
                                 
                                            $email = $sub_email;
                                           
                                            $creditvalue = $sub->getCreditValue();
                                            $part = $email;
                                            if (strpos($email, '@bodamoney.com') !== false) {
                                                $part = explode("@", $email);
                                                $part = $part[0];
                                            }
                                        ?> 
                                         
                                          <option dir="sub" value="<?php echo $sub->getId(); ?>"><?php echo$part; ?></option>
                                    
                                        <?php endif; ?>
                                    </select>
                </div>
            </li>
            <li class="field">
                <label for="account" class="required"><?php echo $this->__('Balance of Boda money account') ?></label>
                <div class="input-box">
                  <?php if ($sub):?>
         
                      <?php echo Mage::getModel('customercredit/customercredit')->getSubAccountCreditLabel($sub->getData('credit_value')); ?>
                  <?php else: ?>
                      <?php if(!$account_type||$account_type=="main"): ?>
                     <?php echo $this->getCurrencyLabel($amount->getCreditValue()); ?>
                     <?php else: ?>
                      <?php
                        $subaccount=Mage::getModel('sublogin/sublogin')->load($account_id);
                       ?>
                      <?php echo Mage::getModel('customercredit/customercredit')->getSubAccountCreditLabel($subaccount->getData('credit_value')); ?>
                     <?php endif; ?>
                 <?php endif; ?>
                </div>
            </li>
            <li class="field">
                <label for="account" class="required"><?php echo $this->__('Funds Available') ?></label>
                <div class="input-box">
                  <?php if ($sub):?>
  
                      <?php echo Mage::getModel('customercredit/customercredit')->getSubAccountCreditLabel($sub->getData('credit_value')); ?>
                  <?php else: ?>
                      <?php if(!$account_type||$account_type=="main"): ?>
                     <?php echo $this->getCurrencyLabel($amount->getCreditValue()); ?>
                     <?php else: ?>
                      <?php
                        $subaccount=Mage::getModel('sublogin/sublogin')->load($account_id);
                       ?>
                      <?php echo Mage::getModel('customercredit/customercredit')->getSubAccountCreditLabel($subaccount->getData('credit_value')); ?>
                     <?php endif; ?>
                 <?php endif; ?>
                </div>
            </li>
            <li class="field">
                <label for="account" class="required"><?php echo $this->__('Period from ') ?></label>
                <div class="input-box">
                 <input type="text" value="<?php echo isset($_GET['from']) ? $_GET['from'] :date("01.m.Y"); ?>" id="from" name="from" class="required-entry input-text"  id="fromdate"/>
                </div>
            </li>
            <li class="field">
                <label for="account" class="required"><?php echo $this->__('Period to ') ?></label>
                <div class="input-box">
                  <input type="text" id="to" value="<?php echo isset($_GET['to']) ?$_GET['to'] : "" ?>" name="to"  class=" input-text" id="todate"/>
                </div>
            </li>
    </ul>
        <div style="clear: both;">&nbsp;</div>
        <button id="customercredit_send_credit_button" class="button" title="<?php echo $this->__('Search') ?>"   type="submit">
                        <span><span><?php echo $this->__('Search') ?></span></span>
        </button>
</div>
</form>
<script type="text/javascript">
    var dataForm = new VarienForm('transaction', true);
</script>
<?php echo $this->getChildHtml() ?>
<?php endif; ?>