<?php 
/*
 * Developer: Rene Voorberg
* Team site: http://cmsideas.net/
* Support: http://support.cmsideas.net/
*
*
*/
$_option = $this->getOption();
$mind = str_replace(" ", " ", ($this->getProduct()->getData('bookable_from'))? $this->getProduct()->getData('bookable_from') : (date('Y/m/d')));
$mind = (strtotime(date('Y/m/d')) >  strtotime($mind))? date('Y/m/d') : $mind;
$mind = date('Y/m/d', strtotime($mind));
$maxd = ($this->getProduct()->getData('bookable_to'))? date('Y/m/d', strtotime($this->getProduct()->getData('bookable_to'))) : '2100/01/01';
?>
<dt><label<?php if ($_option->getIsRequire()) echo ' class="required"' ?>><?php if ($_option->getIsRequire()) echo '<em>*</em>' ?><?php echo  $this->htmlEscape($_option->getTitle()) ?></label>
    <?php echo $this->getFormatedPrice() ?></dt>
<dd<?php if ($_option->decoratedIsLast){?> class="last"<?php }?>>
    <div class="input-box">
        <input type="hidden"
               id="options_<?php echo $_option->getId() ?>_multidate"
               class="input-text <?php echo $_option->getIsRequire() ? ' required-entry' : '' ?> product-custom-option"
               name="options[<?php echo $_option->getId() ?>][val]"
               value="" />
         <input type="hidden"
               id="options_multidate_offset"
               name="options[<?php echo $_option->getId() ?>][offset]"
               value="" />
         <div id="cmsideasday_element">
         			
				    <script type="text/javascript">
				    //<![CDATA[
				    //var opConfig = new Product.Options({"8":{"price":100,"oldPrice":100,"priceValue":"100.0000","type":"fixed","excludeTax":100,"includeTax":100}});
				    
				    var dayfrom = new Date('<?php echo $mind ?>');
				    dayfrom.setHours(0); dayfrom.setMinutes(0); dayfrom.setSeconds(0); dayfrom.setMilliseconds(0);
				    
				    var dayto = new Date('<?php echo $maxd ?>');
				    dayto.setHours(0); dayto.setMinutes(0); dayto.setSeconds(0); dayto.setMilliseconds(0);
				    
				    var picker = new Pikaday(
				    {
				        field: document.getElementById('options_<?php echo $_option->getId() ?>_multidate'),
				        firstDay: 1,
				        minDate: dayfrom,
						maxDate: dayto,
				        //excludeDays: [],
				        id: <?php echo $this->getProduct()->getId() ?>,
				        yearRange: [2014,2100],
				        stillShown : true,
				        type : '<?php echo $this->getProduct()->getAttributeText('billable_period') ?>',
				        optionId : <?php echo $this->getOption()->getId() ?>,
						basePrice : <?php echo $this->getProduct()->getPrice()?>,
						sessions : [],
						reloadp : false,
						baseUrl : '<?php echo (Mage::app()->getStore()->isCurrentlySecure())? Mage::getStoreConfig('web/secure/base_url').'index.php/' : Mage::getStoreConfig('web/unsecure/base_url') ?>'
				    });
				    
				    picker.show();
				    $('options_multidate_offset').value = jstz.determine().name();
				    //]]>
				    </script>
        		</div>
    </div>
</dd>